{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "Care Plan Templates" %} {% endblock %}
{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url all_template_careplans %}">Template Care Plans</a> <span class="divider">/</span></li>
        <li class="active">{{ careplan.title }}</li>
    </ul>
{% endblock %}

{% block page_header %}
    <h2>View Template Care Plan</h2>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="span6">
            <h2>{{ careplan.title }}</h2>
            <h4>{{ careplan.description }}</h4>
        </div>
        <div class="span6">
            <div class="well">
                <dl>
                    <dt>Created by:</dt>
                    <dd>{{ careplan.created_by }}</dd>
                    <dt>Created date:</dt>
                    <dd>{{ careplan.created_date|date }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="span7">
            <h3>This Template's Plan Items</h3>
            <ol>
                {% for plan_item in careplan.plan_items %}
                    <li>
                        <a href="{{plan_item.get_absolute_url}}">{{ plan_item.title|title }}</a>
                        <br>&nbsp;&nbsp;{{ plan_item.description }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="span5">
            <div class="well">
                <h4>Add New Base Item</h4>

                <form action="{% url add_new_item_to_template careplan.get_id %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ new_form.as_table }}
                    </table>
                    <input type="submit" value="Submit" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel" onclick="window.location='{{request.path}}'"
                           class="fg-button ui-state-default ui-corner-all"/>
                </form>
            </div>
            <div class="alert alert-info">
                <h4>Add Existing Base Item</h4>

                <form action="{% url add_existing_item_to_template careplan.get_id %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ add_form.as_table }}
                    </table>

                    <input type="submit" value="Submit" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel" onclick="window.location='{{request.path}}'"
                           class="fg-button ui-state-default ui-corner-all"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


