{% extends "base.html" %}
{% block branding %}
    <a class="brand" title="Return to the Dashboard" href="/">
        {#            <img src="{{STATIC_URL}}carehq/img/dimagilogo.png">#}
        CareHQ
    </a>
{% endblock branding %}
{% block navigation_menu %}
    {% if request.user.is_authenticated %}
        {% block nav_list %}
            <li>
                <a href="{% url home %}">Home</a>
            </li>
            {% if request.current_actor.is_patient %}
                <li>
                    <a href="{% url patient_home %}">My Care</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url issue_home %}">Issues</a>
            </li>
            <li class="dropdown">
                <a href="{% url my_network %}" class="dropdown-toggle">Care Network</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url my_network %}">All</a></li>
                    {% if request.current_actor.is_provider or request.current_actor.is_caregiver %}
                        <li><a href="{% url my_patients %}">My Patients</a></li>
                    {% endif %}
                    {% if request.current_actor.is_patient %}
                        <li><a href="{% url my_careteam %}">My Careteam</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="{% url account_landing %}">Account</a>
            </li>
        {% endblock %}
    {% endif %} {# end autenticated if#}
{% endblock navigation_menu %}
