{% extends "patient/base_patient.html" %}
{% load i18n %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/djangocookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.timePicker.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/carehq.ajaxform.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/profile_tab_ctrl.js"></script>
    <script>
        function rm_phone_addr(patient_guid, phone_addr, item_idx) {
            var payload = {
                'csrfmiddlewaretoken': getCookie("csrftoken"),
                'patient_guid': patient_guid,
            };

            var remove_url = '';
            if (phone_addr == "phone") {
                attr_name = 'phone_id';
                remove_url = "{% url remove_phone %}";
                payload['phone_id'] = item_idx;
            } else if (phone_addr == "address") {
                attr_name = 'address_id';
                var remove_url = "{% url remove_address %}";
                payload['address_id'] = item_idx;
            }
            console.log(payload);
            console.log(remove_url);
            send_xhr = $.ajax({
                    "type": "POST",
                    "url":  remove_url,
                    "data":payload,
                    "success": function(data) {
                        location.reload();
                    }, //end success
                    "error": function(data) {
                        alert("error");
                        console.log(data);
                        $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                    }
                });
        }

        $(function() {

                $('#ptabs').tabs();
                 $('.editctrl').each(function() {
                    $(this).hide();
                });
        });
        function toggle_edit() {
            if ($("#edit_tgl_btn > span.edit_btn_txt").html() == "Edit Patient") {
                $('.editctrl').each(function() {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Done Editing");
            } else {
                $('.editctrl').each(function() {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Edit Patient");
            }
        }
    </script>
{% endblock extrahead %}


{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url my_patients %}">My Patients</a> <span class="divider">/</span></li>
        <li class="active">{{ patient_doc.first_name }} {{ patient_doc.last_name }}</li>
    </ul>
{% endblock page_crumbs %}
{% block page_header %}
    <div class="pull-left">
    <h2>
        {{ patient_doc.first_name}} {{ patient_doc.last_name }}
        {% if is_me == True %} <small> (this is you)</small>{% endif %}
    </h2>
    </div>
    <div class="pull-right">
        <a class="btn" href="#">Edit Patient</a>
        <a class="btn" href="#">Foo</a>
        <a class="btn" href="#">Bar</a>
    </div>
    &nbsp;
{% endblock %}
    {% block patient_name_display %}
    {% endblock patient_name_display %}
    {% block hat_actions %}
    {% endblock hat_actions %}

    {% block patient_badge %}
        {{ block.super }}
        <dt>{% trans "MRN" %}</dt>
            <dd>{{ patient_doc.mrn }}</dd>
        <a href="">Edit Info</a>
    {% endblock patient_badge %}

    {% block patient-tab-controller %}
            <li><a href="#patient-issuetracker-tab" data-toggle="tab">{% trans "Issues" %}</a></li>
            <li><a href="#patient-info-tab" data-toggle="tab">{% trans "Info" %}</a></li>
            <li><a href="#patient-careteam-tab" data-toggle="tab">{% trans "Careteam" %}</a></li>
            <li><a href="#patient-careplan-tab" data-toggle="tab">{% trans "Care Plan" %}</a></li>
    {% endblock patient-tab-controller %}
    {% block patient-tab-container %}
        <div id="patient-issuetracker-tab" class="ui-tabs-hide">
            <div class="span-two-thirds">
            {% for issue in issues %}
                <div class="span12 last" style="margin-bottom:8px;">
                    <div class="span12 last"><strong>{{ issue.opened_by.get_name }}</strong>  {{ issue.opened_date|date }} {{ issue.opened_date|time }}</div>
                    <div class="span12 offset1 last">{{ issue.description }}</div>
                    <div class="span3"><a href="{% url manage-issue issue.id %}">View Issue</a></div>
                    &nbsp;
                </div>
            {% endfor %}
            </div>
        &nbsp;
        </div>
        <div id="patient-info-tab" class="ui-tabs-hide">
            <div id="patienteditform" class="editctrl"></div>
            <div id="patient-info-display">
            <h4 class="ui-widget-header ui-corner-all">Demographic Information</h4>
            <table>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                    <th class="span3">Language</th>
                    <td>English/Spanish</td>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                    <th>Additional Notes</th>
                    <td>{{ patient_doc.notes }}</td>
                </tr>
            </table>
                    <div class="editctrl" style="float:right;">
                            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'ptedit', 'patienteditform');">
                                <span class="ui-icon ui-icon-wrench"></span>
                                Edit Info
                            </a>
                    </div>
            </div> <!-- end patient info display-->
            <br>
            <br>
            <h4 class="ui-widget-header ui-corner-all">Contact Information</h4>
            <table>
                <tr>
                    <th class="span3">
                        Address
                    </th>
                    <td>
                        <div id="addressform"></div>
                        {% for patient_address in patient_doc.address %}
                            <div class="ptprofile_address">
                                {% if patient_address.description %}
                                    <strong>{{ patient_address.description|title }}</strong> &nbsp;<br>
                                {% endif %}
                                {{ patient_address.street }}<br>
                                {{ patient_address.city }}, {{ patient_address.state }} {{ patient_address.postal_code }}<br>
                            <hr>
                                <span class="editctrl">
                                    <a href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'address', 'addressform', {{ forloop.counter0 }})">Change</a>
                                    &nbsp;
                                    <a href="javascript:rm_phone_addr('{{ patient_doc.get_id }}', 'address', {{ forloop.counter0 }})">Remove</a>
                                </span>
                            </div>
                        {% endfor %}
                        <div style="float:right;">
                            <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}','address', 'addressform');">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                Add Address
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th lass="span3">
                        Phone
                    </th>
                    <td>
                        <div id="phoneform"></div>
                        {% for phone in patient_doc.phones %}
                            <div class="ptprofile_phone">
                                {% if phone.description %}
                                    <strong>{{ phone.description|title }}</strong> &nbsp;<br>
                                {% endif %}
                                {{ phone.number }}<br>
                            <hr>
                                <span class="editctrl">
                                <a href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'phone', 'phoneform', {{ forloop.counter0 }})">Change</a>
                                    &nbsp;
                                <a href="javascript:rm_phone_addr('{{ patient_doc.get_id }}', 'phone', {{ forloop.counter0 }})">Remove</a>
                                </span>
                            </div>
                        {% endfor %}
                        <div style="float:right;">
                            <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{%url ajax_patient_form_get%}', '{{ patient_doc.get_id }}','phone', 'phoneform');">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                Add Phone
                            </a>
                        </div>
                    </td>
                </tr>




            </table>
            <em>{% trans "Last Modified" %}: {{ patient_doc.date_modified|timesince }} ago</em>
        </div>


        <div id="patient-careteam-tab">
            <div class="span12">
                    <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                       href="javascript:alert('todo')">
{#                       href="{% url pt_add_provider patient_doc.get_id %}">#}
                    <span class="ui-icon ui-icon-circle-plus"></span>
                    Add Provider </a>

                {% for prr in careteam_prrs %}
                    {% include "carehqapp/network/careteam_listitem.html" %}
                {% endfor %}
            {% comment %}
                {% for role, actors in careteam_dict.items %}
                    <div class="span-two-thirds last"><span style="font-size:125%">{{ role.display }}(s)</span></div>
                    {% for actor in actors %}
                        <div class="span-two-thirds last" style="border: 1px solid black;padding: 8px;margin: 4px;">
                            <div class="span7 careteam_name">{{ actor.actordoc.get_name }}</div>
                            <div class="span4 last">{{ actor.actordoc.get_display|title }}</div>
                            &nbsp;
                        </div>
                        &nbsp;
                    {% endfor %}
                {% endfor %}
                {% endcomment %}


            </div>
            &nbsp;
        </div>
        <div id="patient-careplan-tab">
            Careplan goes here
        </div>
    {% endblock patient-tab-container %}
