{% extends "actortemplates/base_actor_profile.html" %}
{% load i18n %}
{% include render_json_tags %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/carehq.ajaxform.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}carehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#submits-table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>
    <script type="text/javascript" src="http://www.datatables.net/download/build/jquery.dataTables.min.js"></script>
{% endblock extrahead %}

{% block actor_headline %}
    <span class="ptpage_fn">{{actor_doc.first_name}} {{actor_doc.last_name}}</span>
{% endblock actor_headline %}
{% block hat_actions %}
    {{ block.super }}
{% endblock hat_actions %}

{% block actor_badge %}
    <dt>{% trans "First Name" %}</dt>
    <dd>{{ actor_doc.first_name }}</dd>
    <dt>{% trans "Last Name" %}</dt>
    <dd>{{ actor_doc.last_name }}</dd>
    <dt>{% trans "Username" %}</dt>
    <dd>{{ actor_doc.django_actor.user.username }}</dd>
    <dt>{% trans "Phone" %}</dt>
    <dd>{{ actor_doc.phone_number }}</dd>
    <dt>{% trans "Email" %}</dt>
    <dd>{{ actor_doc.email }}</dd>
{% endblock actor_badge %}


{% block actor-tab-controller %}
    <li><a href="#actor-info-tab" name="info">{% trans "Info" %}</a></li>
    <li><a href="#permissions-tab">{% trans "Permissions" %}</a></li>
    <li><a href="#submissions-tab">{% trans "Submissions" %}</a></li>
    <li><a href="#supervision-tab">{% trans "Supervision" %}</a></li>
    <li><a href="#training-tab">{% trans "Training" %}</a></li>
{% endblock actor-tab-controller %}

{% block actor-tab-container %}
    <div id="actor-info-tab" class="ui-tabs-hide">


        <div id="actorprofileform" class="editctrl"></div>
        <h4 class="ui-widget-header ui-corner-all">User Information</h4>
        <table>
            <tr>
                <th class="span-4">Role Title</th>
                <td>{{ actor_doc.title }}</td>
            </tr>
            <tr>
                <th class="span-4">Notes</th>
                <td>{{ actor_doc.notes }}
                </td>
            </tr>
            <tr>
            </tr>
        </table>
{#        <div class="editctrl" style="float:right;">#}
{#            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"#}
{#               href="javascript:ajax_get_form('{% url ajax_get_actor_form %}','{{ actor_doc.get_id }}', 'chweditprofile', 'actorprofileform');">#}
{#                <span class="ui-icon ui-icon-wrench"></span>#}
{#                Edit Info#}
{#            </a>#}
{#        </div>#}
        &nbsp;
    </div>
    <div id="permissions-tab" class="ui-tabs-hide">
        {% for role, subjects in permissions_dict.items %}
            <div class="span-12 last">
                Role <strong>{{ role.display }}</strong>
                {% if subjects %}
                    {% for s in subjects %}
                        {% if s %}
                            <div class="span-11 prepend-1">
                                <a href="{{ s.get_absolute_url }}">{{ s }}</a><br>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div>

    <div id="submissions-tab" class="ui-tabs-hide">
        {% if submit_arr %}
            <table id="submits-table" class="tablesorter">
                <thead>
                <tr>
                    <th class="span-4">Encounter Date</th>
                    <th class="span-2">ID</th>
                    <th class="span-3">Last Name</th>
                    <th class="span-3">First Name</th>
                    <th class="span-4">Form</th>

                    <th class="span-4">Started</th>
                    <th class="span-4">Finish Time</th>
                    <th class="span-4">Submit Time</th>
                    <th class="span-4">Submit Date</th>
                </tr>
                </thead>
                {% for submission in submit_arr %}
                    <tr>
                        <td> <a href="{% url show_submission submission.0 %}">{{ submission.1|date:"Y-m-d"}}</a> </td>
                        <td> {{ submission.2.pact_id }}</td>
                        <td> {{ submission.2.last_name }}</td>
                        <td> {{ submission.2.first_name }}</td>
                        <td> {{ submission.3 }}</td>

                        <td> {{ submission.4|date:"Y-m-d H:i" }}</td>
                        <td> {{ submission.5 }}</td>
                        <td> {{ submission.6 }}</td>
                        <td> {{ submission.7|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="notice">No Submissions</div>
        {% endif %}
    </div>

    <div id="supervision-tab" class="ui-tabs-hide">
        <h3>Supervision Events</h3>
        <ul>
            <li>Coming Soon</li>
        </ul>

    </div>

    <div id="training-tab" class="ui-tabs-hide">
        <h3>Training Events</h3>
        <ul>
            <li>Coming Soon</li>
        </ul>
    </div>
{% endblock actor-tab-container %}
