{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block extrahead %}
<script>
    var refreshNotification =
        function()
        {
            location.reload();
            fadeIn("slow");
        };

    $(document).ready(
        function()
        {
			//placeholder for autorefresh, but turning off for now
            //var autoRefresh = setInterval(refreshNotification, 30000);
            jQuery("abbr.timeago").timeago();
        }
    );
</script>
{% endblock %}
{% block content %}
    <div class="span-24 last"><h3>{{ title }}</h3></div>

    <div class="span-24 last">
        My Contexts (github)
        <ul>
        {% for actor in request.actors %}
            {% if actor == request.current_actor %}
                <li>{{ actor }}*</li>
            {% else %}
                <li>{{ actor }} <a href="{% url set_current_actor actor.id %}">Set</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        <h3>Permissions</h3>
        <ul>
        {% for actor, permissions_dict in permissions.items %}
            <li>{{ actor }} <br>
            {% for role, subjects in permissions_dict.items %}
                {{ role }} :: {{ subjects }}<br>
            {% endfor %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="span-24">
    {% include "issuetracker/partials/issues_ul.html" %}


    </div>
{% endblock %}
