{% load i18n %}{% load url from future %}{% autoescape off %}
    {% trans "Dear" %} {{ user.first_name }},
    {% blocktrans %}You're receiving this e-mail as a final activation step for your user account at {{ site_name }}.{% endblocktrans %}

    {% trans "Please go to the following page and set an account password:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
    {% endblock %}
    {% trans "Your username is:" %} {{ user.username }}

    {% trans "Thanks for using our site!" %}

    {% blocktrans %}The ASHand team{% endblocktrans %}
{% endautoescape %}
