{% extends "base.html" %}
{% load i18n %}
{% load filter_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block extrahead %}
<script>
    var refreshNotification = 
        function() 
        {   
            location.reload();
            fadeIn("slow"); 
        };

    $(document).ready(
        function()
        {
			//placeholder for autorefresh, but turning off for now			
            //var autoRefresh = setInterval(refreshNotification, 30000);
            jQuery("abbr.timeago").timeago();
        }
    );
</script>
{% endblock %}
{% block content %}
<h4>List Cases :: <strong>{{filter.description}}</strong></h4>
<div class="ui-tabs span12">
<table>
	{% for heading_obj, qset in qset_dict.items %}	
	<thead>
		<tr>
			<td colspan={{filter.gridpreference.get_display_columns|length}}>{% render_filter_heading heading_obj %}</td>
		</tr>
		<tr>		
			{% for col in filter.get_gridpreference.get_display_columns %}
				<th><a href="{{request.path}}?groupBy={{col.column.name}}">{{col.column.display}}</a></th>
			{%endfor %}			
		</tr>
	</thead>
	{#<p>{{qset|length}} rows </p>#}	
		{% for issue in qset %}
			<tr>
			{% for col in filter.get_gridpreference.get_display_columns %}
				<td>
					{% issue_column_plain issue col %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	{% endfor %}
</table>
</div>
{% endblock %}
