{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "My Patients" %} {% endblock %}
{% block content %}	
<h2>My Patients</h2>
<div class="span-24">
{% for role, patients in patient_relations.items %}
    <h3>Patients I am a {{ role.display }} for:</h3>
    <ul>
    {% for djangopt in patients %}
        <li>
            <a href="{% url view_ashand_patient djangopt.couchdoc.get_id %}">
                {{ djangopt.couchdoc.first_name }} {{ djangopt.couchdoc.last_name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}

</div>
{% endblock %}
