{# Simple table for recent activities.  Adds patient column for providers #}

{% load carehq_tags %}
{% if issues %}
    <table class="bordered-table zebra-striped" id="tbl_issues">
        <thead>
        <tr>
            {% if request.current_actor.is_provider %}
                <th>Patient</th>
            {% endif %}
            <th class="span8">Description</th>
            <th class="span2">Status</th>
            <th class="span2">Opened By</th>
            <th class="span2">Assigned To</th>
            <th class="span2">Last Event</th>
            <th class="span3">Activity by</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                {% if request.current_actor.is_provider %}
                    <td>{{ issue.patient.couchdoc.last_name }}, {{ issue.patient.couchdoc.first_name }}</td>
                {% endif %}
                <td> <a href="{{ issue.get_absolute_url }}">{{ issue.description }}</a> </td>
                <td> {{ issue.get_status_display }} </td>
                <td> {{ issue.opened_by.actordoc.get_name }} </td>
                <td> {{ issue.assigned_to.actordoc.get_name }} </td>
                <td> {{ issue.last_event.get_activity_display }} </td>
                <td> {% get_timeago issue.last_event.created_date %} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    No Issues
{% endif %}