{% if issues %}
    <table class="table table-bordered table-striped table-condensed" id="tbl_issues">
        <thead>
        <tr>
            <th class="span5">Description</th>
            <th class="span1">Status</th>
            <th class="span1">Opened By</th>
            <th class="span1">Assigned To</th>
            <th class="span1">Last Event</th>
            <th class="span1">Last Date</th>
            <th class="span2">Last By</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td> <a href="{{ issue.get_absolute_url }}">{{ issue.description }}</a> </td>
                <td> {{ issue.get_status_display }} </td>
                <td> <a href="{% url view_actor issue.opened_by.doc_id  '' %}">{{ issue.opened_by.actordoc.get_name }}</a></td>
                {% if issue.assigned_to %}
                    <td> <a href="{% url view_actor issue.assigned_to.doc_id  '' %}">{{ issue.assigned_to.actordoc.get_name }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}

                <td> {{ issue.last_event.get_activity_display }} </td>
                <td> {{ issue.last_event.created_date|date }} </td>
                <td> <a href="{% url view_actor issue.last_event.created_by.doc_id '' %}">{{ issue.last_event.created_by.actordoc.get_name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    No Issues
{% endif %}