{# Simple table for recent activities.  Adds patient column for providers #}

{% load carehq_tags %}
{% if issues %}
    <table class="table table-bordered table-striped" id="tbl_issues">
        <thead>
        <tr>
            {% if request.current_actor.is_provider %}
                <th class="span2">Patient</th>
            {% endif %}
            <th class="span6">Description</th>
            <th class="span2">Last Edit Date</th>
            <th>Activity</th>
            <th>Last Edit By</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                {% if request.current_actor.is_provider %}
                    <td>{{ issue.patient.couchdoc.last_name }}, {{ issue.patient.couchdoc.first_name }}</td>
                {% endif %}
                <td> <a href="{{ issue.get_absolute_url }}">{{ issue.description }}</a> </td>
                <td> {% get_timeago issue.last_event.created_date %} </td>
                <td> {{ issue.last_event.get_activity_display }} </td>
                <td> {{ issue.last_edit_by.actordoc.get_name }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    No Issues
{% endif %}