{% load filter_tags %}

<script type="text/javascript" src="{{STATIC_URL}}ashandapp/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/demo_table.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/demo_table_jui.css" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}ashandapp/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}ashandapp/js/datatable.dateformat.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	$('.{{grid_name}}').dataTable( {
		{#"bJQueryUI": true,#}
		{#"sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',#}
		"bProcessing": '<img src="{{STATIC_URL}}ashandapp/img/ajax-loader.gif">',
		"iDisplayLength": 30,
		{% if colsort_array %}
			{% autoescape off %}
				"aaSorting": {{ colsort_array }},
			{% endautoescape %}
		{% endif %}
		
		{% if json_qset_url %}
		  "sAjaxSource": "{{json_qset_url}}",
		{% else %}
		  "sAjaxSource": "{% url issues-for-obj-view obj_type obj.id %}?json",
		{% endif %}		
		"bFilter": false,
		"bSort": false,
		"bLengthChange": false,
		"sPaginationType": "full_numbers",
		"bAutoWidth": false,
		"aoColumns" : {%autoescape off %}{{column_stype_json}}{%endautoescape%},
		"oLanguage": {
		      	     "sZeroRecords": "No Records Found"
		      	   	 },
	    "fnInitComplete": function ( oSettings ) {
		      	     oSettings.oLanguage.sZeroRecords = "No matching records found"
		      	     }
		} );	
	} );
	</script>

<table class="{{grid_name}}">
	<thead>
		<tr>		
			{% for col in display_filter.gridpreference.get_display_columns %}
				<th>{% issue_column_plain issue col.column.name %}</th>
			{%endfor %}
		</tr>
	</thead>
</table>

