{% extends "carehqapp/network/network_base.html" %}
{% load i18n %}
{% block title %}{% trans "My Careteam" %} {% endblock %}

{% block network_crumb %}
    <li>My Care Team</li>
{% endblock network_crumb %}{% block network_title %}
    <h2>My Careteam</h2>
{% endblock network_title %}

{% block network_navigation %}
    <li class="nav-header">
        Care Networks
    </li>
    <li>
        <a href="{% url my_network %}">All</a>
    </li>
    {% if request.current_actor.is_patient %}
        <li class="active">
            <a href="{% url my_careteam %}">My Care Team</a>
        </li>
    {% endif %}
{% endblock network_navigation %}

{% block network_content %}
    <table id="tbl_network" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Info</th>
    </tr>
    </thead>
    <tbody>
    {% for prr in patient_careteam %}
        <tr>
            <td>
                <a href="{% url view_actor prr.actor.doc_id %}">{{ prr.actor.actordoc.first_name }} {{ prr.actor.actordoc.last_name }}</a>
            </td>
            <td>
                {{ prr.role.display }}
            </td>
            <td>
                {{ prr.actor.actordoc.get_class_display}}
            </td>
        </tr>
    {% endfor %}

    {% for connection in connections %}
        <tr>
            <td><a href="{% url view_actor connection.actor.doc_id %}">{{ connection.actor.actordoc.first_name }} {{ connection.actor.actordoc.last_name }}</a></td>
            <td>{{ connection.role.display }}</td>
            <td>For patient {{ connection.content.couchdoc.first_name }} {{ connection.content.couchdoc.last_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock network_content %}






