decorator
xlwt
pycrypto
pyasn1
django>=1.3
restkit==2.3.3
couchdbkit==0.5.1
pygooglechart
psycopg2
pycurl
python-dateutil
python-memcached
simplejson
BeautifulSoup
python-digest
hg+https://bitbucket.org/akoha/django-digest
cherrypy
git+git://github.com/dimagi/django-cpserver.git
django-kombu
djkombu
django-celery
kombu
fabric
django-breadcrumbs
south
celery
sorl-thumbnail
celerymon
django-uni-form
isodate
