decorator
xlwt
pycrypto
pyasn1
django
couchdbkit
django-debug-toolbar
django-devserver
django-extensions
django-reversion
psycopg2
pycurl
python-dateutil
python-memcached
restkit
simplejson
virtualenv
virtualenvwrapper
BeautifulSoup
hg+https://bitbucket.org/akoha/django-digest
cherrypy
git+git://github.com/lincolnloop/django-cpserver.git
django-staticfiles
python-digest
django-breadcrumbs
django-model-utils
guppy
keyczar
django-kombu
django-celery
kombu
johnny-cache
fabric
django-breadcrumbs
django-south
celery


