decorator
lxml
xlwt
pycrypto
pyasn1
django>=1.3
restkit
couchdbkit
pygooglechart
psycopg2
pycurl
python-dateutil
python-memcached
simplejson
BeautifulSoup
python-digest
git+git://github.com/dimagi/django-digest.git
cherrypy
git+git://github.com/dimagi/django-cpserver.git
kombu
django-kombu
django-celery
fabric
django-breadcrumbs
south
celery
sorl-thumbnail
celerymon
django-uni-form
isodate
djtables
django-tastypie
gevent
johnny-cache
PIL
django-smartagent
pytz
unidecode
python-keyczar
hg+http://bitbucket.org/ubernostrum/django-registration/
