<div class="span16">
    <div class="span16">
        <div class="span-one-third">
            <h2>
                {{ plan_item.title }}
            </h2>
        </div>
        <div class="span-one-third">
            <strong>Tags</strong><br>
            {% for tag in plan_item.tags %}
                {{ tag }}<br>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="span16">
        <h3>Description</h3>
        {% autoescape off %}
            {{ plan_item.description }}
        {% endautoescape %}
    </div>
</div>
     