{% extends "carehqapp/patient/carehq_patient_base.html" %}
{% load carehq_tags %}
{% block extrahead %}
    <script>
        $(document).ready(
                function () {
                    //$("#tbl_issues").tablesorter({ sortList:[ [0, 0] ], });
                    $("#tbl_issues").tablesorter();
                    $("abbr.timeago").timeago();
                }
        );</script>

{% endblock extrahead %}
{% block patient-tab-container %}
    <div class="row">
        <div class="span12">
            {{ calendar }}
        </div>
    </div>
{% endblock %}