{% extends "carehqapp/patient/carehq_patient_base.html" %}
{% load carehq_tags %}
{% block extrahead %}
    <script>
        $(document).ready(
                function () {
                    //$("#tbl_issues").tablesorter({ sortList:[ [0, 0] ], });
                    $("#tbl_issues").tablesorter();
                    $("abbr.timeago").timeago();
                }
        );</script>

{% endblock extrahead %}{% block patient-tab-container %}
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Survey</th>
                    <th>Status</th>
                    <th>Date Administered</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>1: Caregiver Midpoint</td>
                    {% if surveys.caregiver_midpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.caregiver_midpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td><span class="label label-important">Incomplete</span></td>
                        <td></td>
                        <td><a href="{% url survey_caregiver_midpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>2: Caregiver Endpoint</td>
                    {% if surveys.caregiver_endpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.caregiver_endpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td><span class="label label-important">Incomplete</span></td>
                        <td></td>
                        <td><a href="{% url survey_patient_endpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>3: Patient Endpoint</td>
                    {% if surveys.patient_endpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.patient_endpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td><span class="label label-important">Incomplete</span></td>
                        <td></td>
                        <td><a href="{% url survey_patient_endpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}