{% extends "carehqapp/patient/carehq_patient_base.html" %}
{% load carehq_tags %}
{% block extrahead %}
    <script>
        $(document).ready(
                function () {
                    //$("#tbl_issues").tablesorter({ sortList:[ [0, 0] ], });
                    $("#tbl_issues").tablesorter();
                    $("abbr.timeago").timeago();
                }
        );</script>

{% endblock extrahead %}{% block patient-tab-container %}
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Survey</th>
                    <th>Status</th>
                    <th>Date Administered</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>1: Caregiver Midpoint</td>
                    {% if surveys.caregiver_midpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.caregiver_midpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td><span class="label label-important">Incomplete</span></td>
                        <td>
                            {% if days_since_install %}
                                {{ days_since_install }} days since install
                            {% endif %}
                        </td>
                        <td>
                            {% if days_since_install %}
                                {% if days_since_install >= 12 %}
                                    {% if days_since_install <= 16 %}
                                        <a href="{% url survey_caregiver_midpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a>
                                    {% else %}
                                        <small>Survey window for midpoint expired</small>
                                    {% endif %}
                                {% else %}
                                    <small>It's not quite half way yet</small>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}

                </tr>
                <tr>
                    <td>2: Caregiver Endpoint</td>
                    {% if surveys.caregiver_endpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.caregiver_endpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td>
                            <span class="label label-important">Incomplete</span>
                        </td>
                        <td>
                            {% if days_since_pickup %}
                                {{ days_since_pickup }} days since pickup
                            {% else %}
                                Device is still deployed
                            {% endif %}
                        </td>
                        <td>
                            {% if patient_doc.pickup_date %}
                                <a href="{% url survey_caregiver_endpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a>
                            {% else %}
                                Device is still deployed
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% if request.current_actor.is_provider %}
                <tr>
                    <td>3: Patient Endpoint</td>
                    {% if surveys.patient_endpoint %}
                        <td><span class="label label-success">Completed</span></td>
                        <td>{{ surveys.patient_endpoint.survey_date|date }}</td>
                        <td></td>
                    {% else %}
                        <td>
                            <span class="label label-important">Incomplete</span>

                        </td>
                        <td>
                            {% if days_since_pickup %}
                                {{ days_since_pickup }} days since pickup
                            {% endif %}
                        </td>
                        <td>
                            {% if patient_doc.pickup_date %}
                                <a href="{% url survey_patient_endpoint patient_doc.get_id %}" class="btn btn-primary">Start Survey</a>
                            {% else %}
                                Device is still deployed
                            {% endif %}

                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}