<ul>
{% for case in cases %}
{% if request.is_patient %}

    <div class="span-24" style="margin: 8px;">
    <div class="span=24 last">
        <a href="{%url casetracker.views.manage_case case.id %}">{{case.description}}</a>
    </div>
    <div class="span-7 prepend-1">
        {{ case.opened_by.get_name }}
    </div>
    <div class="span-8">
       Opened {{ case.opened_date|date }}
    </div>
    <div class="span-8 last">
        Last Activity {{ case.last_edit_date|date }} {{ case.last_edit_date|time }}<br>
        by {{ case.last_edit_by.get_name }}
    </div>
    </div>
    {% else %}
    <li>
        <div class="span=10">
        <span style="font-size:110%">Patient: {{ case.patient }}</span>
        </div>
        <div class="span=10 last">
            {{ case.opened_date|date }} {{ case.opened_date|time }}
        </div>
        <div class="span-24">
            <span style="font-size:125%">
        <a href="{%url casetracker.views.manage_case case.id %}">{{case.description}}</a>
                </span>
        </div>
        <strong>Opened By</strong> {{case.opened_by.get_name}} <strong>Edited by:</strong> {{case.last_edit_by.get_name}} <strong>Status:</strong> {{case.status}} <strong>Priority:</strong> {{case.priority}}</a></li>
    <hr>
{% endif %}
{%endfor%}
</ul>
