<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %} :: CareHQ{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}carehq/img/favicon.png" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        {% block javascripts %}
        <!-- javascripts (global, app, page) -->
        <script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery-ui-1.8.14.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.flickrmenu.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.cookie.yc.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.timeago.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}carehq/js/jquery.ba-bbq.min.js"></script>

        <script type="text/javascript" charset="utf-8">
            $().ready(function(){
                $("#menu").flickrmenu();
            });
        </script>
        {% endblock javascripts %}
        {% block stylesheets %}
			<!-- stylesheets -->
            {% include "uni_form/includes.html" %}
	        <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/blueprint/screen.css" type="text/css" media="screen, projection">
	        <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/blueprint/print.css" type="text/css" media="print">
	        <!--[if lt IE 8]>
	        <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/blueprint/ie.css" type="text/css" media="screen, projection">
	        <![endif]-->
	        <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/carehq.css" type="text/css">
            <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/jquery-ui-1.8.14.custom.css" type="text/css">
{#            <link rel="stylesheet" href="{{STATIC_URL}}carehq/css/jquery-ui-aristo.css" type="text/css">#}
			<link rel="stylesheet" href="{{STATIC_URL}}carehq/css/flickr-menu-style.css" type="text/css">

	        {% block page_stylesheets %}{% endblock %}
        {% endblock %} {# stylesheets #}

        {% block extrahead %}{% endblock %}
    </head>
    <body>
		{% block tophat %}
  		<div id="tophat">
			{% block searchbar %}
			{% comment %}
			<div id="searchbar">
			<form method="POST" action="{{request.path}}?activity=issue-event-comment" >
				<textarea id="id_comment" rows="1" cols="36" name="comment"></textarea>
				<input type="hidden" name="next" value="{{ request.path }}" />
				</form>
			</div>
			{% endcomment %}
			{% endblock searchbar %}
			{% block auth %}
			<div id="identityblock">
		        {% if user.is_authenticated %}
		            <strong>{{ user.first_name }} {{user.last_name}}</strong>&nbsp;
                    <a href="{% url account_landing %}">{%trans "My Account" %}</a>&nbsp;|&nbsp;
                    {% if user.is_superuser %}
                        <a href="/admin">Django Admin</a> {#| <a href="{% url new_provider%}">New Provider</a>#}
                    {% endif %}
                    &nbsp;
                    &nbsp;
                    <a href="/accounts/logout/">{% trans "Log out" %} </a>
		        {% else %}
		            {#<a href="/accounts/login/">{% trans "Log in" %}</a>#}
		        {% endif %}
        	</div>
        	{% endblock auth %}
    	</div>
	    {% endblock tophat %}

		<div class="container">
      		<div class="span-24"> <!-- Header div -->
				{% block branding %}
				<div class="span-2">
					<a title="Return to the Dashboard" href="/">
					<img src="{{STATIC_URL}}carehq/img/dimagilogo.png">
					</a>
				</div>
				{% endblock branding %}

				<div class="span-22 last">
                    <div id="menu" style="z-index:-1;">
                     <ul>
                         {% block navigation_menu %}
                             <li>Foo</li>
                             <li>Bar</li>
                         {% endblock navigation_menu %}
                     </ul>
                    </div> {# div id=menu #}
				</div>
			</div> <!-- end header class -->

            <div class="span-24">
            {% block content %}
			{% endblock %}
            </div>

            {% block footer %}
            <div id="footer span-24">
                <p class="rights prepend-19">
                    Copyright &copy; {% now "Y" %} <a href="http://dimagi.com">Dimagi Inc.</a><br />
                </p>
            </div>
            {% endblock %}
        </div>
      </div>
    </body>
</html>
