{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "DOTS Data Debug" %}
{% endblock title %}

{% block page_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}dotsview/stylesheets/dots.css"/>
{% endblock page_stylesheets%}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        var date_helper = "yyyy-mm-dd";
        function get_url() {
            var patient_id = $('#patients option:selected').attr('value');
            var start_date = $('#start-date').attr('value');
            var end_date = $('#end-date').attr('value');
            if (start_date == date_helper) start_date = '';
            if (end_date == date_helper) end_date = '';
            return "{{ request.path }}?patient=" + patient_id + "&start=" + start_date + "&end=" + end_date;
        }
        $(document).ready(function() {
            $('#patients').change(function() {
                $(document).attr('location', get_url());
            });
            $('input.date').each(
                                function() {
                                    if (! $(this).attr('value')) {
                                        $(this).attr('value', date_helper);
                                    }
                                }).focus(function() {
                $(this).select();
            });
            $('#start-date').change(function() {
                $(document).attr('location', get_url());
            });
            $('#end-date').change(function() {
                $(document).attr('location', get_url());
            });

            {% for date in full_dates %}
                {% if date %}
                    $('#raw_{{ date|date:"m_d_Y" }}').dialog(
                    {
                       autoOpen: false,
                        height:800,
                        width: 900,
                        modal:true,
                    });
                {% endif %}
            {% endfor %}

        });
    </script>


    <script type="text/javascript">
    function show_raw_obs(date_string) {
            $('#raw_' + date_string).dialog('open');
        }
    </script>

{% endblock javascripts %}


{% block content %}
<div class="container span-24">
    <div class="span-24">
    <div class="span-17">
            <h4>DOT Adherence Data for
                <select id="patients">
                    <option value="dots" {% if not patient %} selected="selected" {% endif %}>
                        No patient selected
                    </option>
                    {% for p in patients %}
                        <option value="{{p.id}}"
                                {% ifequal p.id patient.id %} selected="selected" {% endifequal %} >
                            {{ p.couchdoc.last_name }}, {{ p.couchdoc.first_name }}
                        </option>
                    {% endfor %}
                </select>
                for visits: <input id="start-date" class="date" type="text" value="{{start_date|date:"Y-m-d"}}"></input>
                to
                <input id="end-date" class="date" type="text" value="{{end_date|date:"Y-m-d"}}"></input>
                {% if patient and bad_date_range %}
                    <p class='date-range-warning'>
                        Just so you know, the date range you're looking at is
                        <strong>too {% if end_date < first_observation %}early{% else %}late{% endif %}</strong>.
                        We only have data for <strong>{{ patient.full_name }}</strong> between
                        <strong>{{ first_observation }}</strong>
                        and <strong>{{ last_observation }}</strong>.
                    </p>
                {% endif %}
            </h4>
            <h4>ART Num: {{ patient.couchdoc.art_num }}</h4>
            <h4>Non ART Num: {{ patient.couchdoc.non_art_num }}</h4>
            {% if weeks %}
                Visits cover observation dates from <strong>{{ min_date|date }}</strong> to
                <strong>{{ max_date|date }}</strong><br>
            {% endif %}
        </div>
    <div class="span-7 last">
        &nbsp;
    </div>
    </div>

    <div class="span-2">
        <h3><strong>Date</strong></h3>
    </div>
    <div class="span-22 last">
        <h3><strong>Data (Calendar Data, Case Output, Raw Submits)</strong></h3>
    </div>
        {%  for date, cal_entries, case_data, raw_obs in debug_data %}
            <div class="span-2">
               <strong>{{ date|date:"m-d-Y" }}</strong>
            </div>
            <div class="span-22 last">
            <hr>
                <div class="span-9">
                {# calendar data #}
                    {% for drug_type, times in cal_entries %}
                        <div class="span-4">
                            <strong>{{ drug_type }}</strong>
                            {% for t, obs in times reversed %}
                                {% if obs %}
                                    <hr>
                                    {{ t }} {#dose time of day#}
                                    {% for ob in obs %}
                                        {% if ob.adherence == "empty" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/check.jpg">
                                        {% endif %}

                                        {% if ob.adherence == "partial" %}
                                            <img src="{{ STATIC_URL }}dotsview/icons/exclamation-point.jpg">
                                        {% endif %}

                                        {% if ob.adherence == "full" %}
                                            <img src="{{ STATIC_URL }}dotsview/icons/x-mark.png">
                                        {% endif %}


                                        {% if ob.method == "direct" %}
                                            <img src="{{ STATIC_URL }}dotsview/icons/plus.png">
                                        {% endif %}
                                        {% if ob.method == "pillbox" %}
                                            <img src="{{ STATIC_URL }}dotsview/icons/bucket.png">
                                        {% endif %}

                                        {% if ob.method == "self" %}
                                            <img src="{{ STATIC_URL }}dotsview/icons/minus.png">
                                        {% endif %}
                                        <hr>
                                        {{ ob.dose_number }}/{{ ob.total_doses }}<br>
                                        {% if ob.is_reconciliation %}
                                        edate: -- reconciled --<br>
                                        {% else %}
                                        edate: {{ ob.encounter_date|date:"m-d-Y" }} <br>
                                        {% endif %}

                                        adate: {{ ob.anchor_date|date:"m-d-Y" }}<br>


                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
{#                    Calendar Data:#}
{#                    Encounter Date#}
{#                    Anchor Date#}
{#                    Adherence Data#}
{#                    Submit ID#}
                </div>
                <div class="span-9">
                    {#case data#}
                    {% for drug_arr in case_data %}
                        <div class="span-4">
                            {% if forloop.first %}
                            <strong>Non-ART</strong>
                            {% else %}
                            <strong>ART</strong>
                            {% endif %}
                            <hr>
                            {% for adh, method in drug_arr %}
                                {% if adh == "empty" %}
                                <img src="{{ STATIC_URL }}dotsview/icons/check.jpg">
                                {% endif %}

                                {% if adh == "partial" %}
                                    <img src="{{ STATIC_URL }}dotsview/icons/exclamation-point.jpg">
                                {% endif %}

                                {% if adh == "full" %}
                                    <img src="{{ STATIC_URL }}dotsview/icons/x-mark.png">
                                {% endif %}


                                {% if method == "direct" %}
                                    <img src="{{ STATIC_URL }}dotsview/icons/plus.png">
                                {% endif %}
                                {% if method == "pillbox" %}
                                    <img src="{{ STATIC_URL }}dotsview/icons/bucket.png">
                                {% endif %}

                                {% if method == "self" %}
                                    <img src="{{ STATIC_URL }}dotsview/icons/minus.png">
                                {% endif %}
                                <hr>
                                {{ forloop.counter0 }}/{{ drug_arr|length }}<br>
                                <br>
                                <br>
                                <br>
                            {% endfor %}
                        </div>
                    {% endfor %}
{#                    Encounter Date#}
{#                    Anchor Date#}
{#                    Adherence Data#}
{#                    Submit ID#}
                </div>
                <div class="span-3 last">
                    {#raw observations #}
                    <a href="javascript:show_raw_obs('{{ date|date:"m_d_Y" }}')">Raw Observations</a>


                </div>
            </div>
        {% endfor %}
</div>

    {%  for date, cal_entries, case_data, raw_obs in debug_data %}
    <div id="raw_{{ date|date:"m_d_Y" }}">
{#                    <thead>#}
{#                        <tr>#}
{#                            <th>Num</th>#}
{#                            <th>Encounter</th>#}
{#                            <th>Anchor</th>#}
{#                            <th>Day Index</th>#}
{#                            <th>Drug Type</th>#}
{#                            <th>Adherence</th>#}
{#                            <th>Dose Number</th>#}
{#                            <th>Total Doses</th>#}
{#                            <th>Doc ID</th>#}
{#                        </tr>#}
{#                    </thead>#}
                    {% for drug_type, drug_matrix in raw_obs.items %}
                        <h3>{{ drug_type }} Submit Matrix</h3>
                        {% for dose_num, obs in drug_matrix.items %}
                            {# art: {dose_num: [] ... #}
                            <h4>{{ drug_type }} Dose {{ dose_num }}</h4>
                            <table>
                                <thead>
                                <tr>
                                <th>Encounter</th>
                                <th>Anchor</th>
                                <th>Day Index</th>
                                <th>Drug Type</th>
                                <th>Adherence</th>
{#                                <th>Dose Number</th>#}
                                <th>Total Doses</th>
                                <th>Doc ID</th>
                                </tr>
                                </thead>
                            <tbody>
                            {% for raw in obs %}
                                <td>
                                    {% if raw.is_reconciliation %}
                                    Reconciled
                                    {% else %}
                                    {{ raw.encounter_date|date:"m-d-Y" }}
                                    {% endif %}
                                </td>
                                <td>{{ raw.anchor_date|date:"m-d-Y" }}</td>
                                <td>{{ raw.day_index }}</td>
                                <td>
                                    <strong>
                                    {% if raw.is_art %}
                                        ART
                                    {% else %}
                                        Non-ART
                                    {% endif %}
                                    </strong>
                                </td>
                                <td>
                                    {% if raw.adherence == "empty" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/check.jpg">
                                    {% endif %}
                                    {% if raw.adherence == "partial" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/exclamation-point.jpg">
                                    {% endif %}
                                    {% if raw.adherence == "full" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/x-mark.png">
                                    {% endif %}
                                &nbsp;
                                    {% if raw.method == "direct" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/plus.png">
                                    {% endif %}
                                    {% if raw.method == "pillbox" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/bucket.png">
                                    {% endif %}
                                    {% if raw.method == "self" %}
                                        <img src="{{ STATIC_URL }}dotsview/icons/minus.png">
                                    {% endif %}
                                </td>
{#                                <td> {{ raw.dose_number }} </td>#}
                                <td> {{ raw.total_doses }}</td>
                                <td> {{ raw.doc_id }}</td>
                            </tr>
                            </tbody>
                            {% endfor %} {# raw in obs #}
                            </table>
                        {% endfor %}  {#dose number for loop #}
                    {% endfor %} {#art non art dictonary #}
                </div>

    {% endfor %}



{% endblock content %}
