{% extends "base.html" %}
{% block title %}
File Download
{% endblock title %}
{% block extrahead %}
    <script type="text/javascript">
    var refreshNotification =
        function()
        {
            location.reload();
            fadeIn("slow");
        };

    $(document).ready(
        function()
        {
            {% if is_ready %}
            {% else %}
                var autoRefresh = setInterval(refreshNotification, 2000);
            {% endif %}
        }
    );
    </script>
{% endblock extrahead %}
{% block content %}
    <h2>File download</h2>
    {% if is_ready %}
        <h3>File is ready!</h3>
        <strong><a href="{{ request.path }}?get_file">Download Now</a></strong>
    {% else %}
        <p>File is still getting generated, please wait...</p>
    {% endif %}
{% endblock content %}
