{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "DOTS" %}
{% endblock %}

{% block page_stylesheets %}
    <link type="text/css" rel="stylesheet" href="/media/dotsview/stylesheets/dots.css" />
{% endblock %}

{% block javascripts %}
    {{ block.super }}
	<script type="text/javascript">
	var date_helper = "yyyy-mm-dd";
	function get_url(){
		var patient_id = $('#patients option:selected').attr('value');
		var start_date = $('#start-date').attr('value');
		var end_date = $('#end-date').attr('value');
		if(start_date==date_helper) start_date = '';
		if(end_date==date_helper) end_date = '';
		return "{{ request.path }}?patient="+patient_id+"&start="+start_date+"&end="+end_date;
	}
	$(document).ready(function(){
		$('#patients').change(function(){
			$(document).attr('location', get_url());
		});
		$('input.date').each(function(){
			if(! $(this).attr('value')) {
				$(this).attr('value', date_helper);
			}
		}).focus(function(){
			$(this).select();
		});
		$('#start-date').change(function(){
			$(document).attr('location', get_url());
		});
		$('#end-date').change(function(){
			$(document).attr('location', get_url());
		});
	});
	</script>
{% endblock %}

{% block content %}
	<div class="span-17">
	<h4>DOT Adherence Data for 
	<select id="patients">
		<option value="dots" {% if not patient %} selected="selected" {% endif %}>
			No patient selected
		</option>
		{% for p in patients %}
			<option value="{{p.id}}"
				{% ifequal p.id patient.id %} selected="selected" {% endifequal %} >
				{{p.couchdoc.last_name}}, {{p.couchdoc.first_name}}
			</option>
		{% endfor %}
	</select>
	From
	<input id="start-date" class="date" type="text" value="{{start_date|date:"Y-m-d"}}"></input>
	until
	<input id="end-date" class="date" type="text" value="{{end_date|date:"Y-m-d"}}"></input>
	{% if patient and bad_date_range %}
		<p class='date-range-warning'>
			Just so you know, the date range you're looking at is
			<strong>too {% if end_date < first_observation %}early{% else %}late{% endif %}</strong>.
			We only have data for <strong>{{patient.full_name}}</strong> between
			<strong>{{first_observation}}</strong>
			and <strong>{{last_observation}}</strong>.
		</p>
	{% endif %}
	</h4>
	<strong>Download CSV:</strong> <a href="{% url dots_csv_download %}?patient={{patient.id}}&csv=range&start={{start_date|date:"Y-m-d"}}&end={{end_date|date:"Y-m-d"}}">This Date Range</a>
	 | <a href="{% url dots_csv_download %}?patient={{patient.id}}&csv=all">All Data</a>
	 </div>
	 <div class="span-7 last">
	<span style="font-size:75%">
		<fieldset>
	    <legend>Legend</legend>
	        <div class="span-3">
	        <strong>Obs. Method</strong><br>
	            <img src="/media/dotsview/icons/plus.png">&nbsp;Direct<br>
	            <img src="/media/dotsview/icons/minus.png">&nbsp;Self Report<br>
				<img src="/media/dotsview/icons/warning.png">&nbsp;Conflict<br>
                <img src="/media/dotsview/icons/info.png">&nbsp;Notes<br>
	        </div>
	        <div class="span-3 last">
	        <strong>Pillbox</strong><br>
	            <img src="/media/dotsview/icons/check.jpg">&nbsp; Empty<br>
	            <img src="/media/dotsview/icons/exclamation-point.jpg">&nbsp;Partial<br>
	            <img src="/media/dotsview/icons/x-mark.png">&nbsp; Full<br>
	        </div>
	    </fieldset> 
	</span>
	 
	 </div>
	 
	{% if patient %}
		<table class="calendar">
			<tr>
				<th>{% trans "Monday" %}</th>
				<th>{% trans "Tuesday" %}</th>
				<th>{% trans "Wednesday" %}</th>
				<th>{% trans "Thursday" %}</th>
				<th>{% trans "Friday" %}</th>
				<th>{% trans "Saturday" %}</th>
				<th>{% trans "Sunday" %}</th>
			</tr>
		{% for week in weeks %}
			<tr>
				{% for date, entries, conflicts, day_notes in week %}
					{% if date %}
						<td>
    					<div class="date-label">{{date}}</div>
							<div class="calendar-cell">
								{% for drug_type, times_of_day in entries %}
								<div class="drug-cell">
									<div class="drug-label">{% trans drug_type %}</div>
									{% for time_of_day, obs in times_of_day %}
										<div class="time-label">{% trans time_of_day %}</div>
										<div class="time-cell">
											{% if obs %}
												{% for ob in obs %}
													<div class="observation">
														<div class="ob-{{ob.adherence}}">
															{{ob.adherence}}
														</div>
														<div class="ob-{{ob.method}}">
															{{ob.method}}
														</div>
													</div>
												{% endfor %} {#observations #}
											{% endif %}
										</div>
									{% endfor %} {# times of day#}
								</div>
								{% endfor %} {#drug type in entries #}
							</div>
							{% if conflicts %}
							<div class="date-notes-block">
								<img src="/media/dotsview/icons/warning.png">
								{% for conflict in conflicts %}
								<small>
								<a href="{{request.path}}?submit_id={{conflict.doc_id}}&patient={{patient.id}}&start={{start_date|date:"Y-m-d"}}&end={{end_date|date:"Y-m-d"}}">
								{{conflict.anchor_date|date:"Y-m-d"}}</a>
								</small><br>
								{% endfor %}
							</div>
							{% endif %}
                        	{% if day_notes %}
							<div class="date-notes-block">
                                <img src="/media/dotsview/icons/info.png">
                                {% for note in day_notes %}
								<small>
                                    {{ note }}  <br>
                                </small>
                                {% endfor %}
							</div>
							{% endif %}
						</td>
					{% else %} 
						<td class="empty"></td>
					{% endif %} {# no date #}
				{% endfor %} {# date in week #}
			</tr>
		{% endfor %} {#week in weeks #}
		</table>
	{% endif %}
	<div class="container span-24">
		{% if sorted_visits %}
		<h4>Visits in this report</h4>		
		<table>
		<thead>
			<tr>
				<th>Visit Date</th>
				<th>CHW</th>
				<th>Visit Type</th>
				<th>Visit Kept</th>
				<th>Scheduled</th>
				<th>Contact</th>
				<th class="span-6">Observed ART</th>
				<th class="span-6">Observed Non ART</th>
			</tr>
		</thead>
		<tbody>
		{% for vdoc in sorted_visits %}						
		<tr>
			<td>
				<a href="{{request.path}}?submit_id={{vdoc.get_id}}&patient={{patient.id}}&start={{start_date|date:"Y-m-d"}}&end={{end_date|date:"Y-m-d"}}"> 
					{{vdoc.get_form.encounter_date}}</a> 
			</td>
			<td>{{vdoc.get_form.Meta.username}}</td>
			<td>{{vdoc.get_form.visit_type|title}}</td>
			<td>{{vdoc.get_form.visit_kept|title}}</td>
			<td>{{vdoc.get_form.scheduled|title}}</td>
			<td>{{vdoc.get_form.contact_type|title}}</td>
			<td>{{vdoc.get_form.observed_art|title}}
			{% if vdoc.get_form.observed_art == "no" %}
				<br><small>
				{{vdoc.get_form.art_no_details}}
				</small>
			{% endif %}
			</td>
			<td>{{vdoc.get_form.observed_non_art|title}}
			{% if vdoc.get_form.observed_non_art == "no" %}
				<br><small>
				{{vdoc.get_form.non_art_no_details}}
				</small>
			{% endif %}
			</td>
			
			{% if vdoc.get_form.notes|length_is:"0"%}	
			</tr>
			{% else %}
			<tr>
			<td>&nbsp;</td>
			<td><small><strong>Notes:</strong></small></td>
			<td colspan="6"><em><small>{{vdoc.get_form.notes}}</small></em></td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
		{%endif%}
	</div>
{% endblock %}