{%  extends base_template %}

{% load patient_tags %}

{% block content %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}pactcarehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}pactcarehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#patient-table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>
{% endblock %}
<div class="container">
    <div class="span12">
        <div class="span4">
            <h2>Patient List</h2>
        </div>
        <div class="offset10 span2 last">
            <a href="{{ create_patient_url }}">New Patient</a>
        </div>
    </div>
<hr>
    <table id="patient-table" class="tablesorter span12 last">
    <thead>
        <tr>
        <th>Patient ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Patient Type</th>
    </thead>
    
    <tbody>
    {% for patient in patients %}
        <tr>
		    <td><h4>{{ patient.patient_id }}</h4></td>
		    <td><h4><a href="{% patient_url patient %}">{{ patient.first_name}}</a></h4></td>
		    <td><h4><a href="{% patient_url patient %}">{{patient.last_name}}</a></h4></td>
            <td><h4><a href="{% patient_url patient %}">{{patient.doc_type}}</a></h4></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}
