{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View Case" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}casetracker/casemanagement.js"></script>
{% endblock %}
 
{% block content %}
<div class="span-24">
	{% include "casetracker/partials/case/default_actions_toolbar.html" %}
</div>

<div class="span-24"> <!-- top container -->
	
	{% include "casetracker/partials/case/basic_case_info.html" %}
	
	<div class="prepend-1 span-5 last"> <!-- case link block -->
	<h3>Case Linked to</h3>
	{% for item in case.related_objects %}
	   {{item}}<br>	
	{% endfor %}
	</div> <!-- end case link block -->
</div> <!-- end top container -->
<br>
<br>
<hr>
{% include "casetracker/partials/newsfeed.html" %}
{% endblock %}
