{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View Case" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}casetracker/casemanagement.js"></script>
{% endblock %}
 
{% block content %}
<div class="span-24">
	<div class="nav">
		<ul>
			<li><a href="{% url edit-case case.id %}?action=assign">Assign</a></li>
			<li><a href="{% url edit-case case.id %}?action=edit">Edit</a></li>
			<li><a href="{% url resolve-case case.id %}">Resolve</a></li>
			<li><a href="{% url close-case case.id %}">Close</a></li>
			{# {% for activity in custom_activity %}#}
			{#<li>{{activity.name}}</li>#}
			{#{% endfor %}#}			
		</ul>
	</div>
</div>

<div class="span-24"> <!-- top container -->
	<div class="span-18">  <!-- case info block -->
		<h2>{{case.description}}</h2>
		<dl>
			<dd>{{case.body}}</dd>
			<dt>{% trans "Opened by" %}:</dt>
			<dd>
				<a href="{% url ashandapp.views.users.single  case.opened_by.id %}">{{case.opened_by.first_name}} {{case.opened_by.last_name}}</a> on {{case.opened_date|date}}
			</dd>
			
			
			<dt>{% trans "Assigned to" %}:</dt>
			<dd> 
			{% if case.assigned_to %}		
				<a href="{% url ashandapp.views.users.single  case.assigned_to.id %}">{{case.assigned_to.first_name}} {{case.assigned_to.last_name}}</a> on {{case.assigned_date|date}}
			{% else %}
				<a href="{% url edit-case case.id %}?action=assign">Assign</a>
			{% endif %}
			</dd>
			
			
			{% if case.last_edit_by %} {#this is a nasty hack, last edit shoudn't be null#}
			<dt>{% trans "Last edited by" %}:</dt>
			<dd> 
				<a href="{% url ashandapp.views.users.single case.last_edit_by.id %}">{{case.last_edit_by.first_name}} {{case.last_edit_by.last_name}}</a> {{case.last_edit_date|timesince}} ago
			</dd>
			{% endif %}	
		</dl>
		{% include "casetracker/manage/comment.html"%}
	</div> <!-- end case info block -->	
	<div class="prepend-1 span-5 last"> <!-- case link block -->
	<h3>Case Linked to</h3>
	{% for item in case.related_objects %}
	   {{item}}<br>	
	{% endfor %}
	</div> <!-- end case link block -->
</div> <!-- end top container -->
<br>
<br>
<hr>
{% include "casetracker/partials/newsfeed.html" %}
{% endblock %}
