<div class="span-24">
    <div class="span-24">
        <div class="span-8">
            <h2>
                {#<a href="{{plan_item.get_absolute_url }}">{{plan_item.name}}</a>#}
				{{plan_item.name}}
            </h2>
        </div>	
        <div class="span-8">
            <strong>Categories</strong><br>
            {% for cat in plan_item.category.all %}
                {{cat}}<br>
            {%endfor%}        
        </div>
		<div class="span-7 prepend-1 last">
            {% if plan_item.parent %}
                <em>Subitem of <a href="{{plan_item.parent.get_absolute_url }}">{{plan_item.parent.name}}</a></em>    
            {% endif %}        
        </div>
		<hr>   
	</div>     
    <div class="span-24">
    	
        <h3>Description</h3>
		{% autoescape off %}
        	{{plan_item.description}}
		{% endautoescape%}
    </div>        
 </div>
     