{% load patient_tags %}
<table>
<thead>
    <tr>
        <th>Name</th><th>Date</th><th>Barcode</th>{% if not patient %}<th>Patient</th>{% endif %}<th>Status?</th>
    </tr>
</thead>
<tbody>
{% for case in cases %}
<tr>    
    <td><a href="{% url shine_case_details case.get_id %}">{{ case.name }}</a></td>
    <td>{{ case.opened_on }}</td>
    <td>{{ case.barcode }}</td>
{% if not patient %}<td>{% if case.patient_name %}<a href="{% patient_url case.patient_id %}">{{ case.patient_name }}</a>{% else %}NO LINKED PATIENT{% endif %}</td>{% endif %}    
    <td>{{ case.closed|yesno:"closed,open"}}</td>
</tr>
{% endfor %}
</tbody>
</table>