{% extends "base.html" %}
{% block branding %}
    <div class="span-2">
        <a title="Return to the Dashboard" href="/">
        <img src="{{STATIC_URL}}carehq/img/dimagilogo.png">
        </a>
    </div>
{% endblock branding %}
{% block navigation_menu %}
    {% if user.is_authenticated %}
    <div id="menu" style="z-index:-1;">
     <ul>
        {% block nav_list %}
         {% if request.is_provider %}
         <li>
             <span class="head_menu">
               <a href="{% url dashboard %}">Dashboard</a>
             </span>
         </li>
         {% endif %}
         <li>
             <span class="head_menu">
             <a href="">News Feed</a>
             </span>
         </li>

         <li>
             <span class="head_menu">
             <a href="#">Case Management</a>
                 <img src="{{ STATIC_URL }}carehq/img/arrow.png" width="18" height="15" align="top" class="arrow"/>
             <div class="sub_menu">
             </span>
             <a href="#">My Cases</a>
                <a href="#">Patient Foo's Cases</a>
                <a href="#">Patient Bar's Cases</a>
            </div>
         </li>
         <li>
         {% if not request.is_patient %}
             <span class="head_menu">
             <a href="">My Patients</a>
             </span>
         </li>
         {% endif %}
         {% if request.is_patient %}
         <li>
             <span class="head_menu">
             <a href="{% url view_ashand_patient request.current_patient.get_id %}">My Careteam</a>
             </span>
         </li>
         {% endif %}
        {% endblock %}
     </ul>
    {% endif %} {# end autenticated if#}
</div>
{% endblock navigation_menu %}
