{% extends "patient/base_patient.html" %}
{% load shinepatient_tags %}
{% load shineforms_tags %}
{% load xform_tags %}
{% load i18n %}
{% load thumbnail %}
{% block extrahead %}[
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}shinepatient/qrcode/qrcode.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}shinepatient/qrcode/html5-qrcode.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}pactcarehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />


    <script>
    //get the print label dialog
    function get_label_dialog(patient_guid) {
        alert(patient_guid);

    }
    </script>

    <script>
    //Accordion for activity history
	$(function() {
		$( "#activity_history_accordion" ).accordion({
                    header: "> div > h3",
                    navigation:true,
                    autoHeight:false,
        }
        );
	});
	</script>


    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#pt_{{ patient_doc.get_id }}_case_table").addClass("tablesorter");
            $("#pt_{{ patient_doc.get_id }}_case_table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>

    <script>
        $(function() {
            $("#id_birthdate").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        maxDate: "+0M +0D +0Y",
                        yearRange: "-100:+0"
                    }
            );
        });
    </script>
    <script type="text/javascript">
        //adapted from http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit/133997#133997
        $(function() {
            $("#id_active_date").datepicker({ showAnim: 'fadeIn' });
        });
    </script>
    {% endblock extrahead %}
        {% block hat_actions %}
            {{ block.super }}
            <div style="float:right;">
{#                    <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"#}
{#                            href="{% url new_bloodwork_order patient_doc.get_id %}">#}
{#                        <span class="ui-icon ui-icon-circle-plus"></span>#}
{#                        {% trans "Create Bloodwork Order" %}</a>#}
            <a id="edit_tgl_btn" class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url shinepatient_print_jobs patient_doc.get_id %}">
                <span class="ui-icon ui-icon-gear"></span>
                <span class="edit_btn_txt">Print Labels</span>
            </a>
            </div>
    {% endblock %}


    {% block patient_badge %}
        {{ block.super }}
        <dt>{% trans "System ID" %}</dt>
            <dd>{{ patient_doc.external_id }}</dd>
        <dt>{% trans "CD4 Count" %}</dt>
            <dd>{{ patient_doc.get_cd4_count }}</dd>
        <dt>{% trans "HIV Status" %}</dt>
            <dd>{{ patient_doc.get_hiv_status }}</dd>


        <dt>{% trans "Blood Culture Status" %}</dt>
            <dd>
                {% if patient.get_culture_status == '[No Data]' %}
                        <div class="mepi_missing">
                        Not Taken
                        </div>
                    {% else %}
                    {% if patient.get_culture_status == 'positive' %}
                        Positive
                    {% else %}
                        Negative
                    {% endif %}
                {% endif %}
            </dd>

        <dt>{% trans "Status" %}</dt>
        <dd>Inpatient | Discharged | Deceased</dd>

        <dt>{% trans "Ward" %}</dt>
        <dd>{{ patient_doc.get_current_ward }}</dd>
        <dt>{% trans "Bed Number" %}</dt>
        <dd>{{ patient_doc.get_current_bed }}</dd>
    {% endblock patient_badge %}

    {% block patient-tab-controller %}
            <li><a href="#patient-casenews-tab">{% trans "Activity History" %}</a></li>
            <li><a href="#patient-info-tab">{% trans "Info" %}</a></li>
            <li><a href="#patient-images-tab">{% trans "Images" %}</a></li>
            <li><a href="#patient-submissions-tab">{% trans "Submissions" %}</a></li>
            <li><a href="#patient-log-tab">{% trans "Log" %}</a></li>
    {% endblock patient-tab-controller %}
    {% block patient-tab-container %}
        <div id="patient-casenews-tab" class="ui-tabs-hide">

            <div id="activity_history_accordion">
            {% for act in patient_doc.get_activity_history %}
                <div>
                    <h3><a href="#">
                        {% if act.2 %}
                            <strong>{{ act.0 }} {{ act.2.received_on }}</strong>
                        {% else %}
                            <em>{{ act.0 }} - No Data</em>
                        {% endif %}
                        </a>
                    </h3>
                    <div>
                        {% if act.2 %}
                            {% render_submission_fragment act.1 act.2 %}
                        {% else %}
                            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="{% url new_mepi_interaction patient_doc.latest_case.get_id  act.0 %}?mode=fullscreen">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                {% trans "Enter" %}  {{ act.0 }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>


        </div>
        <div id="patient-info-tab" class="ui-tabs-hide">
            <div id="patienteditform" class="editctrl"></div>
            <div id="patient-info-display">
            <h4 class="ui-widget-header ui-corner-all">Demographic Information</h4>
            <table>
                <tr>
                    <th class="span3">Address</th>
                    <td>Address</td>
                </tr>
                <tr>
                    <th class="span3">Occupation</th>
                    <td>
                        Farmer, Carpenter, Cook
                    </td>
                </tr>
                <tr>
                    <th class="span3">Language</th>
                    <td>Language (portugese, etc)</td>
                </tr>
                <tr>
                    <th class="span3">Married</th>
                    <td>Yes/No</td>
                </tr>
                <tr>
                    <th>Household Number</th>
                    <td>Some number</td>
                </tr>
                <tr>
                    <th>Number of Children</th>
                    <td>Some number</td>
                </tr>
                <tr>
                    <th>Animals</th>
                    <td>Pig, Chicken, Cow, etc</td>
                </tr>
                <tr>
                    <th>Running Water</th>
                    <td>Yes/No</td>
                </tr>
            </table>
                        <div class="editctrl" style="float:right;">
                            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{{ patient_doc.get_id }}', 'ptedit', 'patienteditform');">
                                <span class="ui-icon ui-icon-wrench"></span>
                                Edit Info
                            </a>
                        </div>
            </div> <!-- end patient info display-->
            <br>
            <br>
            <h4 class="ui-widget-header ui-corner-all">Food Information</h4>
            <table>
                <tr>
                    <th class="span3">
                        Food Questions<br>
                    </th>
                    <td>
                        TODO
                   </td>
                </tr>


            </table>
            <em>{% trans "Last Modified" %}: {{ patient_doc.date_modified|timesince }} ago</em>
        </div>

        <div id="patient-images-tab">
        {% with patient_doc.clinical_images as clinical_images %}
            {% if clinical_images %}
            {% for image_tuple in clinical_images %}
                {% thumbnail image_tuple.0.image "200x200" as im %}
                <p>
                    <a href="{% url hutch_show_image image_tuple.0.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                    &nbsp;
                    {{ image_tuple.1 }}
                </p>
                {% endthumbnail %}
            {% endfor %}
            {% else %}
                <h4>No Images</h4>
            {% endif %}
        {% endwith %}
        <div class="container">
                <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url mepi_upload_patient_photo patient_doc.get_id %}">
                <span class="ui-icon ui-icon-gear"></span>
                <span class="edit_btn_txt">Upload New Image</span>
            </a>
        </div>
        </div>

        <div id="patient-submissions-tab">
            {% if submissions %}
                <table>
                    <thead>
                    <tr>
                        <th class="span3">Date</th>
                        <th class="span3">User</th>
                        <th class="span3">Form</th>
                    </tr>
                    </thead>
                    {% for submit in submissions %}
                        <tr>
                            <td><a href="{% url show_submission submit.get_id %}">{{ submit.received_on|date }}</a></td>
                            <td> {{ submit.form.Meta.username }}</td>
                            <td> {{ submit.xmlns }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4>No Recent Activity</h4>
            {% endif %}
        </div>


        <div id="patient-log-tab">
            {% for log in audit_log %}
                {{ log.0.event_date|date }} by {{ log.0.user }} <br> {{ log.1}}<br><hr>
            {% endfor %}

        </div>
    {% endblock patient-tab-container %}
