{% extends base_template %}

{% load shinepatient_tags %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}shinepatient/qrcode/qrcode.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}shinepatient/qrcode/html5-qrcode.js"></script>
{% endblock %}

{% block content %}
<div class="container">
<h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
<p>There's really not much here at the moment</p>
<a href="{% url new_bloodwork_order patient.get_id %}">New Bloodwork Order</a>
{% render_cases patient %}
</div>
{% endblock content %}