{% load i18n %}
<div class="span12">  <!-- issue info block -->

</div>
    <div class="span12">
        <div class="span12">
            <div class="span12 last ui-widget-header ui-corner-all">
                <div class="span-one-third"><a
                        href="{% url view_actor issue.opened_by.doc_id %}">{{ issue.opened_by.actordoc.get_name }}</a></div>
                <div class="span-one-third last"> {{ issue.opened_date|timesince }}  </div>
            </div>
            <div class="offset1">
                {{ issue.body }}
            </div>
        </div>
    </div>

    <div class="span12">
        <h4>Issue Info</h4>
        <div class="span-one-third">
            Category: {{ issue.category }}<br>
            Opened Date: {{ issue.opened_date|date }}<br>
            Opened By: <a href="{% url view_actor issue.opened_by.doc_id %}">{{ issue.opened_by.actordoc.get_name }}</a>
        </div>
        <div class="span-one-third">
            Patient: <a href="{{ issue.patient.get_absolute_url }}">{{ issue.patient }}</a><br>
            Status: {{ issue.get_status_display }}
        </div>
        <div class="span-one-third last">
            {% if issue.opened_by == request.current_actor %}
                <a href="{% url manage-issue issue.id %}?activity=event-edit">Edit</a></li>
            {% endif %}

            {% if issue.assigned_to %}
                <strong>{% trans "Assigned" %}</strong>
                to <a href="{% url view_actor issue.assigned_to.doc_id %}">{{ issue.assigned_to.actordoc.get_name }}</a>
                <small>{{ issue.assigned_date|date }}</small>
            {% else %}
                <strong>Unassigned</strong>
            {% endif %}

            {% if issue.is_resolved and not issue.is_closed %}
                <div class="span3">
                    <strong>{% trans "Resolved" %}</strong> by <a
                        href="{% url view_actor issue.resolved_by.doc_id %}">{{ issue.resolved_by.actordoc.get_name }}</a>
                    <small>{{ issue.resolved_date|date }}</small>
                </div>
            {% endif %}

            {% if issue.is_closed %}
                <div class="span3 notice">
                    <strong>{% trans "Closed" %}</strong> by <a
                        href="{% url view_actor issue.closed_by.doc_id %}">{{ issue.closed_by.actordoc.get_name }}</a>
                    <small>{{ issue.closed_date|date }}</small>
                </div>
            {% endif %}
        </div>
    </div>
</div> <!-- end issue info block -->