{% load i18n %}
<div class="prepend-10">
    <ul>
        {#		{% for activity in case.status.transitional_actions %}#}
        {#			<li>#}
        {#				<a href="{% url manage-case case.id %}?activity={{activity.slug}}">{{activity.active_tense.title}}</a>#}
        {#			</li>			#}
        {#		{% endfor %}#}
        <a href="{% url manage-issue issue.id %}?activity=event-assign">Assign</a>
        <li><a href="{% url manage-issue issue.id %}?activity=event-edit">Edit</a></li>
        <li><a href="{% url manage-issue issue.id %}?activity=event-assign">Assign</a></li>
        {% if not issue.resolved_date %}
            <li><a href="{% url manage-issue issue.id %}?activity=event-resolve">Resolve</a></li>
        {% else %}
            {% if not issue.closed_date %}
                <li><a href="{% url manage-issue issue.id %}?activity=event-close">Close</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>