{% extends "base.html" %}
{% load patient_lookup %}
{% block content %}
<div class="span-10"><span style="font-size: 125%;">CHW Submission Schedule for {{ username }} </span><br>{{ end_date|date:"m/d/Y" }}-{{ start_date|date:"m/d/Y" }}</div>
<div class="span-6">
{% if total_scheduled == total_visited %}
    <div class="success">
{% else %}
    <div class="error">
{% endif %}
    <strong>Scheduled Visits: </strong> 
            {{ total_visited }} / {{ total_scheduled }}
    </div>
</div>
<div class="span-8 last" style="text-align:right;">
    <a href="{{ request.path }}?interval=1">Today</a> &nbsp;
    <a href="{{ request.path }}?interval={% now "w" %}">Week to date</a> &nbsp;
    <a href="{{ request.path }}?interval=7">7 days</a> &nbsp;
    <a href={{ request.path }}?interval={% now "j" %}>Month to date</a>
    <a href="{{ request.path }}?interval=30">30 days</a> &nbsp;
</div>

<table>
<thead>
    <tr>
        <th class="span-4">Date</th>
        <th class="span-5">Patient Scheduled</th>
        <th class="span-15">Visits</th>
    </tr>
</thead>
<tbody>
{%  for visit_date, patients, visits in date_arr %}
    <tr>
    {# array of [date, schedule_chw, submissions] #}
    <td>
        <strong>{{ visit_date|date:"D N j, Y" }}</strong>
    </td>
    <td>
        {% if patients %}
            {% for scheduled_patient in patients %}
                <div class="success">
                <a href="{% url view_patient scheduled_patient.id %}">{{ scheduled_patient.full_name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <small><div class="quiet">-- None scheduled --</div></small>
        {% endif %}
    </td>
    <td>
            {% for form_item in visits %}
                    {% if form_item == "-- No Visit --" %}
                        <div class="span-15 last error">
                        No Visit
                        </div>
                    {% else %}
                    <div class="span-15 last notice">
                        <div class="span-5">
                            <strong>
                            <a href="{% patient_url_from_form form_item %}">{%  name_from_pactid form_item %}</a>
                            </strong>
                        </div>
                        <div class="span-4">
                            {% if form_item.form.scheduled == "yes" %}
                                Scheduled
                            {% else %}
                                Unscheduled
                            {% endif %}
                            ({{ form_item.form.visit_type|title }})
                        </div>
                        <div class="span-3">
                            by
                            {% if form_item.form.Meta.username == username %}
                                <strong>{{ form_item.form.Meta.username }}</strong>
                            {% else %}
                                <em>{{ form_item.form.Meta.username }}</em>
                            {% endif %}
                        </div>
                        <div class="span-2 last">
                            <a href="{% url show_dots_note form_item.get_id %}">View</a>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}

    </td>
    </div>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}
