{% extends "base.html" %}
{% include render_json_tags %}
{#{% block extrahead %}#}
{#<script type="text/javascript" charset="utf-8">#}
{#$(document).ready(#}
{#        function()#}
{#        {#}
{#			//placeholder for autorefresh, but turning off for now#}
{#            //var autoRefresh = setInterval(refreshNotification, 30000);#}
{#            jQuery("abbr.timeago").timeago();#}
{#        }#}
{#    );#}
{#</script>#}
{#{% endblock extrahead %}#}
{% block content %}
<h2>CHW List</h2>
<table>
<thead>
    <tr>
        <th>Username</th>
        <th>Total Submits</th>
        <th>Last Received</th>
        <th>Actions</th>
    </tr>
</thead>
{%  for username, dashboard in chw_dashboards %}
    <tr>
        <td>
            <a href="{% url pactcarehq.views.chw_submits username %}">{{ username }}</a>
        </td>
        <td>{{ dashboard.count }}</td>
        <td>{{ dashboard.last_received|date:"Y-m-d H:i"}}</td>
        <td>
            <a href="{% url pactcarehq.views.chw_calendar_submit_report username %}">Submission Schedule</a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
