{% extends base_template %}
{% load patient_lookup %}
{% block content %}
<div class="span-10"><span style="font-size: 125%;">CHW Submission Schedule for {{ username }} </span><br>{{ end_date|date:"m/d/Y" }}-{{ start_date|date:"m/d/Y" }}</div>
<div class="span-6">
{% if total_scheduled == total_visited %}
    <div class="success">
{% else %}
    <div class="error">
{% endif %}
    <strong>Scheduled Visits: </strong>
            {{ total_visited }} / {{ total_scheduled }}
    </div>
</div>
<div class="span-8 last" style="text-align:right;">
    <a href="{{ request.path }}?interval=1">Today</a> &nbsp;
    <a href="{{ request.path }}?interval={% now "w" %}">Week to date</a> &nbsp;
    <a href="{{ request.path }}?interval=7">7 days</a> &nbsp;
    <a href="{{ request.path }}?interval={% now "j" %}">Month to date</a>
    <a href="{{ request.path }}?interval=30">30 days</a> &nbsp;
    <br>
    <a href="{{ request.path }}?getcsv&interval=7">CSV 7</a>
    <a href="{{ request.path }}?getcsv&interval={% now "j" %}">CSV MTD</a>&nbsp;
    <a href="{{ request.path }}?getcsv&interval=30">CSV 30</a>&nbsp;
</div>
<div class="container span-24">
    <div class="span-4">
        <strong>Date</strong>
    </div>
    <div class="span-5"><strong>Patient Scheduled</strong></div>
    <div class="span-15 last"><strong>Visits</strong></div>

    {%  for visit_date, patient_visits in date_arr %}
        {% if patient_visits %}
            {% for cpatient, visit in patient_visits %}
                {% if forloop.counter0 == 0 %}
                     <div class="span-4">
                        <strong>{{ visit_date|date:"D N j, Y" }}</strong>
                     </div>
                {% else %}
                    <div class="span-4">&nbsp;</div>
                {% endif %}

                <div class="span-5">
                    <div class="success">
                    <a href="{% url view_pactpatient cpatient.get_id %}">{{ cpatient.first_name }} {{ cpatient.last_name }}</a>
                    </div>
                </div>
                <div class="span-15 last">
                     {% if visit %}
                        <div class="notice span-14">
                        <div class="span-5">
                            <strong>
                            <a href="{% patient_url_from_form visit %}">{%  name_from_pactid visit %}</a>
                            </strong>
                        </div>
                        <div class="span-4">
                            {% if visit.form.scheduled == "yes" %}
                                Scheduled
                            {% else %}
                                Unscheduled
                            {% endif %}
                            ({{ visit.form.visit_type|title }})
                        </div>
                        <div class="span-3">
                            by
                            {% if visit.form.Meta.username == username %}
                                <strong>{{ visit.form.Meta.username }}</strong>
                            {% else %}
                                <em>{{ visit.form.Meta.username }}</em>
                            {% endif %}
                        </div>
                        <div class="span-2 last">
                            <a href="{% url show_submission visit.get_id %}">View</a>
                        </div>
                        </div>
                     {% else %}
                        <div class="error span-14">
                            No Visit
                        </div>
                     {% endif %}
                </div>
                {% endfor %}
        {% else %}
            <div class="span-4">
                <strong>{{ visit_date|date:"D N j, Y" }}</strong>
            </div>
            <div class="span-5">
                -- No Patients --
            </div>
            <div class="span-15 last">
                <div class="span-14" style="padding:.8em;margin-bottom:1em;border:2px solid #fff;">
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
