{% extends "base.html" %}
{% include render_json_tags %}
{% block content %}
<h2>Patient Submissions</h2>
{%  for patient, submit_arr in patient_dict.items %}
    <strong>{{ patient.get_full_name}}</strong>
    {% if submit_arr %}
    <table>
    <thead>
        <tr>
            <th class="span-4">Date</th>
            <th class="span-4">CHW</th>
            <th class="span-4">Form</th>
        </tr>
    </thead>
    {% for submission in submit_arr %}
        <tr>
            {% if submission.3 == "DOTS" %}
                {#ghetto hacky way to differentiate between the submission types#}
                <td> <a href="{% url show_dots_note submission.0 %}">{{ submission.1|date }}</a> </td>
            {% else %}
                <td> <a href="{% url show_progress_note submission.0 %}">{{ submission.1|date }}</a> </td>
            {% endif %}
            <td> {{ submission.2 }}</td>
            <td> {{ submission.3 }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <div class="notice">No Submissions</div>
    {% endif %} {#if there are any submits at all #}
{% endfor %}
{% endblock %}
