{% extends base_template %}
{% load uni_form_tags %}
{% block content %}
{% block extrahead %}
{#    <script>#}
{#	$(function() {#}
{#		$( "#newprovider_dlg" ).dialog({#}
{#			height: 620,#}
{#            width: 640,#}
{#			modal: true,#}
{#            autoOpen: false,#}
{#            buttons: {#}
{#                "Create Provider": function() {#}
{#                    #}
{#                },#}
{#                Cancel: function() {$(this).dialog("close")},#}
{#            },#}
{#		});#}
{#        $("#newprovider_dlg_opener").click(function() {#}
{#			$( "#newprovider_dlg" ).dialog( "open" );#}
{#			return false;#}
{#		});#}
{#	});#}
{#	</script>#}

    <script>
        function rm_provider(actor_uuid) {
            var answer = confirm("Are you sure you want to remove this provider?  This is a permanent operation that cannot be undone.")
            if (answer) {

            }
            else {
                return;
            }
            function getCookie(name) {
                //basic get cookie, to facilitate getting the csrf token
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var payload = {
                        'csrfmiddlewaretoken': getCookie("csrftoken"),
                        'actor_uuid': actor_uuid,
            };

            url = "{% url rm_pact_provider %}";
            send_xhr = $.ajax({
                    "type": "POST",
                    "url":  url,
                    "data":payload,
                    "success": function(data) {
                        location.reload();
                    }, //end success
                    "error": function(data) {
                        $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                    }
                });
        }
    </script>

{% endblock %}
    <div class="container">
        <div class="span-24">
            <h3>PACT Provider Management</h3>
            {% if provider_actors %}
                <table id="providers-table" class="tablesorter">
                    <thead>
                    <tr>
                    <th class="span-4">First Name</th>
                    <th class="span-4">Last Name</th>
                    <th class="span-4">Job Title</th>
                    <th class="span-4">Email</th>
                    <th class="span-3">Phone Number</th>
                    <th class="span-8">Facility</th>
                    <th></th>
                    </thead>

                    <tbody>
                    {% for actor_doc in provider_actors %}
                        <tr>
                            <td>{{ actor_doc.last_name }}</td>
                            <td>{{ actor_doc.first_name }}</td>
                            <td>{{ actor_doc.provider_title }}</td>
                            <td>{{ actor_doc.email }}</td>
                            <td>{{ actor_doc.phone_number }}</td>
                            <td>{{ actor_doc.facility_name }}<br>
                                {{ actor_doc.facility_address}}</td>
                            <td><button onclick="rm_provider('{{ actor_doc.actor_uuid }}')">Remove</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No Providers Enrolled
            {% endif %}
        </div>
        <div id="newprovider_dlg" title="Create New Provider" class="span-24">
        <h4>Or add new provider</h4>
            <form id="newprovider_form" action="" method="POST" class="uniForm">
                {% csrf_token %}
                <table>
                    {% uni_form form form.helper %}
                </table>

                <div style="float:right;">
                    <input type="submit" value="Save" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel" class="fg-button ui-state-default ui-corner-all"/>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
