{% extends "base.html" %}
{% block branding %}
    <div class="span1">
        <a title="Return to the Dashboard" href="/">
        <img src="{{STATIC_URL}}carehq/img/dimagilogo.png">
        </a>
    </div>
{% endblock branding %}

{% block navigation_menu %}
    {% if user.is_authenticated %}
        <li><a href="{% url pactcarehq.views.my_patient_activity %}">Dashboard</a></li>
        <li><a href="{% url pactcarehq.views.my_submits %}">My Submissions</a></li>
        <li> <a href="{% url dots_view %}">DOT Adherence</a> </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Management
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">

                {% if user.is_superuser %}
                    <li><a href="{% url carehqadmin.views.landing %}">System Admin</a></li>
                    <li class="divider"></li>
                {% endif %}
                <li><a href="{% url chw_actor_list %}">CHW List</a></li>
                <li><a href="{% url pactpatient_list %}">Patient List</a></li>
                {% if user.is_superuser %}
                    <li class="divider"></li>
                    <li><a href="{% url pactcarehq.views.export_landing %}">Data Exports</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %} {# end autenticated if#}
</div>
{% endblock navigation_menu %}
