{% extends "base.html" %}
{% block branding %}
    <div class="span1">
        <a title="Return to the Dashboard" href="/">
        <img src="{{STATIC_URL}}carehq/img/dimagilogo.png">
        </a>
    </div>
{% endblock branding %}
{% block navigation_menu %}
    {% if user.is_authenticated %}
    <div id="menu" style="z-index:-1;">
     <ul>
        {% block nav_list %}
         <li>
             <span class="head_menu">
               <a href="{% url pactcarehq.views.my_patient_activity %}">Dashboard</a>
             </span>
         </li>
         <li>
             <span class="head_menu">
             <a href="{% url pactcarehq.views.my_submits %}">My Submissions</a>
             </span>
         </li>

         <li>
             <span class="head_menu">
             <a href="{% url dots_view %}">DOT Adherence</a>
             </span>
         </li>
        <li>
            <span class="head_menu">
                <a href="">Management</a>
                <img src="{{ STATIC_URL }}carehq/img/arrow.png" width="18" height="15" align="top" class="arrow"/>
            </span>
            <div class="sub_menu">
                {% if user.is_superuser %}
                    <a href="{% url carehqadmin.views.landing %}">System Admin</a>
                {% endif %}
                <a href="{% url chw_actor_list %}">CHW List</a>
                <a href="{% url pactpatient_list %}">Patient List</a>
                {% if user.is_superuser %}
                    <a href="{% url pactcarehq.views.export_landing %}">Data Exports</a>
                {% endif %}
{#                                <a href="{% url clinical_core.actors.views.providerSearch %}">Provider List</a>#}
{#                                <a href="{% url pactcarehq.views.all_submits_by_user %}">Submissions By CHW</a>#}
{#                                <a href="{% url pactcarehq.views.all_submits_by_patient %}">Submissions By Patient</a>#}
            </div>
        </li>
        {% endblock %}
     </ul>
    {% endif %} {# end autenticated if#}
</div>
{% endblock navigation_menu %}
