{% extends "patient/base_patient.html" %}
{% load i18n %}
{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/carehq.ajaxform.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/djangocookie.js"></script>
    <script>
        function unlink_patient_provider(patient_guid, actor_uuid) {
            var remove_url = "{% url rm_provider_from_patient %}";
            var payload = {
                'csrfmiddlewaretoken': getCookie("csrftoken"),
                'patient_guid': patient_guid,
                'actor_uuid': actor_uuid,
            };

            send_xhr = $.ajax({
                    "type": "POST",
                    "url":  remove_url,
                    "data":payload,
                    "success": function(data) {
                        location.reload();
                        console.log(data);
                    }, //end success
                    "error": function(data) {
                        $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                    }
                });
        }

        function rm_phone_addr(patient_guid, phone_addr, item_idx) {
            var payload = {
                'csrfmiddlewaretoken': getCookie("csrftoken"),
                'patient_guid': patient_guid,
            };

            var remove_url = '';
            if (phone_addr == "phone") {
                remove_url = "{% url remove_phone %}";
                payload['phone_id'] = item_idx;
            } else if (phone_addr == "address") {
                attr_name = 'address_id';
                var remove_url = "{% url remove_address %}";
                payload['address_id'] = item_idx;
            }
            send_xhr = $.ajax({
                    "type": "POST",
                    "url":  remove_url,
                    "data":payload,
                    "success": function(data) {
                        location.reload();
                    }, //end success
                    "error": function(data) {
                        $('body').replaceWith(data.responseText);
//                            alert("Error trying to save form, please try again: " + data);
                    }
                });
        }
    </script>


    <script>
        $(function() {
            $("#id_birthdate").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        maxDate: "+0M +0D +0Y",
                        yearRange: "-100:+0"
                    }
            );
        });
    </script>



    <script type="text/javascript">
        $(function() {
            $("#id_active_date").datepicker({ showAnim: 'fadeIn' });
        });
    </script>
{% endblock extrahead %}
        {% block hat_actions %}
            {{ block.super }}
            <div style="float:right;">
            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url new_xform_interaction patient_doc.case_id "progress_note" %}?override=full">
                <span class="ui-icon ui-icon-circle-plus"></span>
                New Progress Note
            </a>
            </div>

            <div style="float:right;">
                <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url new_xform_interaction patient_doc.case_id "bloodwork" %}?override=full">
                <span class="ui-icon ui-icon-circle-plus"></span>
                New Bloodwork
            </a>
            </div>
            <div style="float:right;">
                <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="{% url new_xform_interaction patient_doc.case_id "dot" %}?override=full">
                <span class="ui-icon ui-icon-circle-plus"></span>
                New DOTS
            </a>
            </div>
    {% endblock %}
    {% block patient_badge %}
        {{ block.super }}
        <dt>{% trans "PACT ID" %}</dt>
            <dd>{{ patient_doc.pact_id }}</dd>
        <dt>{% trans "ARM" %}</dt>
            <dd>{{ patient_doc.arm }}</dd>
        <dt>{% trans "Primary HP" %}</dt>
            <dd>{{ patient_doc.primary_hp }}</dd>
        <dt>{% trans "ART Regimen" %}</dt>
            <dd>{{ patient_doc.art_regimen }}</dd>
        <dt>{% trans "Non ART Regimen" %}</dt>
            <dd>{{ patient_doc.non_art_regimen }}</dd>
        <dt>{% trans "Last Bloodwork" %}</dt>
        <dd>
        {% if bloodwork_missing %}
            <div class="error">
                Missing
            </div>
            {% else %}
            {% if bloodwork_overdue %}
                {{ last_bloodwork.get_date|date:"m/d/Y" }}
                    <span style="color:red;"><strong>Overdue</strong></span>

            {% else %}
                {{ last_bloodwork.get_date|date:"m/d/Y" }}
            {% endif %}
        {% endif %}
        </dd>
    {% endblock patient_badge %}

    {% block patient-tab-controller %}
            <li><a href="#patient-info-tab">{% trans "Info" %}</a></li>
            <li><a href="#patient-schedule-tab">{% trans "Visit Schedule" %}</a></li>
            <li><a href="#patient-careteam-tab">{% trans "Careteam" %}</a></li>
            <li><a href="#patient-submissions-tab">{% trans "Submissions" %}</a></li>
            <li><a href="#patient-case-tab">{% trans "Case Debug" %}</a></li>
            <li><a href="#patient-history-tab">{% trans "History" %}</a></li>
            <li><a href="#patient-log-tab">{% trans "Change Log" %}</a></li>
    {% endblock patient-tab-controller %}
    {% block patient-tab-container %}
        <div id="patient-info-tab" class="ui-tabs-hide">
            <div id="patienteditform" class="editctrl"></div>
            <div id="patient-info-display">
            <h4 class="ui-widget-header ui-corner-all">Demographic Information</h4>
            <table>
                <tr>
                    <th class="span3">Race</th>
                    <td>{{ patient_doc.get_race }}</td>
                </tr>
                <tr>
                    <th class="span3">Latino</th>
                    <td>{% if  patient_doc.is_latino %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="span3">Language</th>
                    <td>{{ patient_doc.get_preferred_language }}</td>
                </tr>
                <tr>
                    <th class="span3">MassHealth Expiration</th>
                    <td>{{ patient_doc.mass_health_expiration }} - {{ patient_doc.mass_health_expiration|timeuntil }}</td>
                </tr>
                <tr>
                    <th>HIV Care Clinic</th>
                    <td>{{ patient_doc.get_hiv_care_clinic }}</td>
                </tr>
                <tr>
                    <th>SSN</th>
                    <td>{{ patient_doc.ssn }}</td>
                </tr>
                <tr>
                    <th>Additional Notes</th>
                    <td>{{ patient_doc.notes }}</td>
                </tr>
            </table>
                        <div class="editctrl" style="float:right;">
                            <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'ptedit', 'patienteditform');">
                                <span class="ui-icon ui-icon-wrench"></span>
                                Edit Info
                            </a>
                        </div>
            </div> <!-- end patient info display-->
            <br>
            <br>
            <h4 class="ui-widget-header ui-corner-all">Contact Information</h4>
            <table>
{#                <tr>#}
{#                    <th class="span3">#}
{#                        PDoc Address(es)#}
{#                    </th>#}
{#                    <td>#}
{#                        {% for patient_address in patient_doc.address %}#}
{#                            <div class="ptprofile_address">#}
{#                                {% if patient_address.description %}#}
{#                                    <strong>{{ patient_address.description|title }}</strong> &nbsp;<br>#}
{#                                {% endif %}#}
{#                                {{ patient_address.street }}<br>#}
{#                                {{ patient_address.city }}, {{ patient_address.state }} {{ patient_address.postal_code }}<br>#}
{#                            <hr>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th lass="span3">#}
{#                        PDoc Phone(s)#}
{#                    </th>#}
{#                    <td>#}
{#                        {% for phone in patient_doc.phones %}#}
{#                            <div class="ptprofile_phone">#}
{#                                {% if phone.description %}#}
{#                                    <strong>{{ phone.description|title }}</strong> &nbsp;<br>#}
{#                                {% endif %}#}
{#                                {{ phone.number }}<br>#}
{#                            <hr>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                </tr>#}


                <tr>
                    <th class="span3">
                        Address(es)<br>
                    </th>
                    <td>
                        <div id="addressform"></div>
                        {% for patient_address in patient_doc.active_addresses %}
                            <div class="ptprofile_address">
                                {% if patient_address.description %}
                                    <strong>{{ patient_address.description|title }}</strong><br>
                                {% endif %}
                                {{ patient_address.address }}<br>
                            <span class="editctrl">
                                <a href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'address', 'addressform', {{ forloop.counter0 }})">Change</a>
                                &nbsp;
                                <a href="javascript:rm_phone_addr('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'address', {{ forloop.counter0 }})">Remove</a>
                                </span>
                            </div>
                        {% endfor %}
                        <div style="float:right;">
                            <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}','address', 'addressform');">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                Add Address
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="span3">
                        Phone(s)
                    </th>
                    <td>
                        <div id="phoneform"></div>
                        {% for phone in patient_doc.active_phones %}
                            <div class="ptprofile_phone">
                                {% if phone.description %}
                                    <strong>{{ phone.description|title }}</strong> &nbsp;<br>
                                {% endif %}
                                {{ phone.number }}<br>
                                <span class="editctrl">
                                <a href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}', 'phone', 'phoneform', {{ forloop.counter0 }})">Change</a>
                                    &nbsp;
                                <a href="javascript:rm_phone_addr('{{ patient_doc.get_id }}', 'phone', {{ forloop.counter0 }})">Remove</a>
                                </span>
                            </div>
                        {% endfor %}
                        <div style="float:right;">
                            <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                               href="javascript:ajax_get_form('{%url ajax_patient_form_get%}', '{{ patient_doc.get_id }}','phone', 'phoneform');">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                Add Phone
                            </a>
                        </div>
                    </td>
                </tr>

            </table>
            <em>{% trans "Last Modified" %}: {{ patient_doc.date_modified|timesince }} ago</em>
        </div>

        <div id="patient-schedule-tab">
            {% include "pactcarehq/partials/dots_schedule_weekly_view.html" %}
            <div id="scheduleform"></div>
            <div style="float:right;" class="editctrl">
                <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}','schedule', 'scheduleform');">
                    <span class="ui-icon ui-icon-circle-plus"></span>
                    Add Schedule
                </a>
            </div>
            &nbsp;
        </div>

        <div id="patient-careteam-tab">
            <div class="span12">
                <h3>CareTeam</h3>
                {% for role, actors in careteam_dict.items %}
{#                    <h4>{{ role.display }}(s)</h4>#}
                    <ul>
                    {% if role.display == "External Provider" %}
                        {% for actor in actors %}
                            <div class="span9" style="border: 1px solid black;padding:8px;margin:4px;">
                                <div class="span9 last careteam_name">{{ actor.actordoc.get_name }}</div>
                                <div class="span9 last">{{ actor.actordoc.provider_title }}</div>
                                <div class="span9 last careteam_detail">{{ actor.actordoc.facility_name }}</div>
                                <div class="span-one-third careteam_detail">{{ actor.actordoc.phone_number }}</div>
                                <div class="span-one-third last">
                                    <small><a href="javascript:unlink_patient_provider('{{ patient_doc.get_id }}','{{ actor.id }}')" class="editctrl" style="float:right;">
                                                Remove
                                            </a>
                                    </small>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if role.display == "Primary CHW" %}
                        {% for actor in actors %}
                            <div class="span9" style="border: 1px solid black;padding:8px;margin:4px;">
                                <div class="span9 last careteam_name">{{ actor.actordoc.get_name }} ({{ role.display }})</div>
                                <div class="span-one-third careteam_detail">{{ actor.actordoc.phone_number }}</div>
                                <div class="span-one-third last">
                                    <small><a href="javascript:unlink_patient_provider('{{ patient_doc.get_id }}','{{ actor.id }}')" class="editctrl" style="float:right;">
                                        Remove
                                    </a>
                                    </small>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
            &nbsp;
            <div style="float:right;">
                <a class="editctrl fg-button ui-state-default fg-button-icon-left ui-corner-all"
                   href="{% url pt_new_or_link_provider patient_doc.get_id %}">
                    <span class="ui-icon ui-icon-circle-plus"></span>
                    Add Provider </a>
            </div>
        </div>

        <div id="patient-submissions-tab">
            {% if submit_arr %}
                <table>
                    <thead>
                    <tr>
                        <th class="span3">Date</th>
                        <th class="span3">CHW</th>
                        <th class="span3">Form</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for submission in submit_arr %}
                        <tr>
                            <td><a href="{% url show_submission submission.0 %}">{{ submission.1|date }}</a></td>
                            <td> {{ submission.2 }}</td>
                            <td> {{ submission.3 }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4>No Recent Activity</h4>
            {% endif %}
        </div>

        <div id="patient-case-tab">
            Raw Case stuff
        </div>
        <div id="patient-history-tab">
            <div class="span12">
            {% with narratives=history_logs.change_narratives %}
                {% if narratives %}
                <h3>Patient Progress Changes</h3>
                {% for rc in narratives %}
                    <div class="span10">
                    {{ rc.revision.event_date}} by: {{ rc.revision.user }}
                    </div>
                    <div class="span10 offset1">
                    <dl>
                        {% for c  in rc.changes %}
                         <dt>{{ c.0 }}</dt>
                            <dd>from {{ c.1.0 }} to {{ c.1.1 }}</dd>
                        {% endfor %}
                    </dl>
                    </div>

                {% endfor %}
                {% else %}
                    No major changes
                {% endif %}
            {% endwith %}
            </div> {# span12 div #}
        &nbsp;
        </div> {# tab div #}
        <div id="patient-log-tab">
            <div class="span12">
            &nbsp;
            {% for rev in all_changes.filtered_changes %}
                <div class="span12">
                    {% if rev.changed_fields.0 or rev.changed_fields.1 or rev.changed_fields.2 %}
                    {% if rev.changed_fields.0 %}
                    Changed: {{ rev.changed_fields.0|join:", " }} <br>
                    {% endif %}
                    {% if rev.changed_fields.1 %}
                    Added: {{ rev.changed_fields.1|join:", " }} <br>
                    {% endif %}

                    {% if rev.changed_fields.2 %}
                    Removed: {{ rev.changed_fields.2|join:", " }}<br>
                    {% endif %}
                    {{ rev.revision.event_date}} by {{ rev.revision.user }}
                    &nbsp;
                    <hr>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            &nbsp;
        </div>
    {% endblock patient-tab-container %}
