{%  extends "base.html" %}
{% load i18n %}
{% block extrahead %}

<script>
	$(function() {
		$( "#id_birthdate" ).datepicker( {
                changeMonth: true,
                changeYear: true,
                maxDate: "+0M +0D +0Y",
                yearRange: "-100:+0"
            }
        );
	});
</script>
<script type="text/javascript">
//adapted from http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit/133997#133997
function post_phone_delete(patient_id, phone_id) {
    //method = method || "post"; // Set method to post by default, if not specified.
    method="post";

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", '{% url remove_phone %}');

    var csrf = document.createElement("input");
    csrf.setAttribute("type", "hidden");
    csrf.setAttribute("name", "csrfmiddlewaretoken");
    csrf.setAttribute("value", "{{ csrf_token }}");
    form.appendChild(csrf);

    var patientIDField = document.createElement("input");
    patientIDField.setAttribute("type", "hidden");
    patientIDField.setAttribute("name", "patient_id");
    patientIDField.setAttribute("value", patient_id);
    form.appendChild(patientIDField);

    var phoneIDField = document.createElement("input");
    phoneIDField.setAttribute("type", "hidden");
    phoneIDField.setAttribute("name", "phone_id");
    phoneIDField.setAttribute("value", phone_id);
    form.appendChild(phoneIDField);

    document.body.appendChild(form);    // Not entirely sure if this is necessary
    form.submit();
}

function post_address_delete(patient_id, address_id) {
    //method = method || "post"; // Set method to post by default, if not specified.
    method="post";

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", '{% url remove_address %}');

    var csrf = document.createElement("input");
    csrf.setAttribute("type", "hidden");
    csrf.setAttribute("name", "csrfmiddlewaretoken");
    csrf.setAttribute("value", "{{ csrf_token }}");
    form.appendChild(csrf);

    var patientIDField = document.createElement("input");
    patientIDField.setAttribute("type", "hidden");
    patientIDField.setAttribute("name", "patient_id");
    patientIDField.setAttribute("value", patient_id);
    form.appendChild(patientIDField);

    var phoneIDField = document.createElement("input");
    phoneIDField.setAttribute("type", "hidden");
    phoneIDField.setAttribute("name", "address_id");
    phoneIDField.setAttribute("value", address_id);
    form.appendChild(phoneIDField);

    document.body.appendChild(form);    // Not entirely sure if this is necessary
    form.submit();
}function post_schedule_delete(patient_id, schedule_id) {
    //method = method || "post"; // Set method to post by default, if not specified.
    method="post";

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", '{% url remove_schedule %}');

    var csrf = document.createElement("input");
    csrf.setAttribute("type", "hidden");
    csrf.setAttribute("name", "csrfmiddlewaretoken");
    csrf.setAttribute("value", "{{ csrf_token }}");
    form.appendChild(csrf);

    var patientIDField = document.createElement("input");
    patientIDField.setAttribute("type", "hidden");
    patientIDField.setAttribute("name", "patient_id");
    patientIDField.setAttribute("value", patient_id);
    form.appendChild(patientIDField);

    var scheduleIDField = document.createElement("input");
    scheduleIDField.setAttribute("type", "hidden");
    scheduleIDField.setAttribute("name", "schedule_id");
    scheduleIDField.setAttribute("value", schedule_id);
    form.appendChild(scheduleIDField);

    document.body.appendChild(form);    // Not entirely sure if this is necessary
    form.submit();
}
$(function() {
		$( "#id_active_date" ).datepicker({ showAnim: 'fadeIn' });
	});
</script>
{% endblock extrahead %}
{% block content %}
<div class="container">
	<h3>Patient Information</h3>
	<div class="span-24">
		{#user profile info #}
		<fieldset>
			<div class="span-2 border">
			   <img src="{{STATIC_URL}}pactcarehq/img/noprofile_photo.png">
			</div>
			<div class="span-18 prepend-1">
                <div class="span-10">
                    <span style="font-size:150%">{{pdoc.first_name}} {{pdoc.last_name}}</span><br>
                    <strong>PACT ID</strong>: {{pdoc.pact_id }}<br>
                </div>
                <div class="span-8 last">
                    <small>
                        <strong>Age</strong>: {{pdoc.birthdate|timesince }} &nbsp; <a href="{{ request.path }}?edit_patient=birthdate">Edit</a><br>
                        <strong>Sex</strong>: {{pdoc.gender|title }} &nbsp;  <a href="{{ request.path }}?edit_patient=gender">Edit</a> <br>
                    </small>
                </div>
                <div class="span-18 last">
                    {% if patient_edit %}
                        <h4>Edit Patient Data</h4>
                        <form action="{{request.path}}?edit_patient={{ patient_edit }}" method="POST">
                            {% csrf_token %}
                            <table>
                            {{ patient_form.as_table}}
                            </table>
                            <input type="submit" value="Save" class="fg-button ui-state-default ui-corner-all"/>
                            <input type="button" name="cancel" value="Cancel"  onclick="window.location = '{{request.path}}'" class="fg-button ui-state-default ui-corner-all"/>
                        </form>
                    {% else %}
                    <div class="span-9">
                        <table>
                            <tr>
                                <td><strong>ARM</strong></td><td>{{pdoc.arm }} <a href="{{ request.path }}?edit_patient=arm">Edit</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Primary HP</strong>
                                </td>
                                <td>
                                    {{pdoc.primary_hp }} <a href="{{ request.path }}?edit_patient=primaryhp">Edit</a>
                                </td>
                            </tr>
                            <tr>
                                {% if pdoc.arm == "DOT" %}
                                    <td><strong>ART Regimen </strong></td><td>{{pdoc.art_regimen }} <a href="{{ request.path }}?edit_patient=regimen">Edit</a></td>
                                {% else %}
                                {% endif %}
                            </tr>
                            <tr>
                                {% if pdoc.arm == "DOT" %}
                                    <td><strong>Non ART Regimen </strong></td><td>{{pdoc.non_art_regimen }} <a href="{{ request.path }}?edit_patient=regimen">Edit</a></td>
                                {% else %}
                                {% endif %}
                            </tr>

                            {#bloodwork section#}
                            <tr>
                                <td>
                                    <strong>Bloodwork</strong>
                                </td>
                                <td>
                                   {% if bloodwork_missing %}
                                       <div class="error">
                                           Missing
                                       </div>
                                   {% else %}
                                       {% if bloodwork_overdue %}
                                           <div class="error">
                                                Overdue<br>
                                               Last Test {{ last_bloodwork.get_date }}, {{ last_bloodwork.get_date|timesince }}
                                           </div>

                                       {% else %}
                                           <div class="success">
                                           Last Test {{ last_bloodwork.get_date }}, {{ last_bloodwork.get_date|timesince }}
                                           </div>
                                       {% endif %}
                                   {% endif %}

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="span-8 last">
                        <span style="font-size:125%">Notes</span> <a href="{{ request.path }}?edit_patient=notes">Edit</a><br>
                        <small>{{ pdoc.notes }}</small>
                    </div>
                {% endif %}
                </div>


            </div>
            <div class="span-24" style="text-align:right;">
                <small>
                    <em>{% trans "Last Modified" %}: {{pdoc.date_modified|date }}</em>
                </small>
            </div>
		</fieldset>
        <h4><a href="/webxforms/progress_note/new/{{ pdoc.django_uuid }}">New Progress Note</a></h4>
        <h4><a href="/webxforms/bw/new/{{ pdoc.django_uuid }}">New Bloodwork</a></h4>
	{# patient info #}
	</div>
	<div class="span-24">
		<div class="span-12">
            {# #################### Address view/edit ################### #}
            <strong><span style="font-size:125%">Address Information</span></strong> <small>(<a href="{{ request.path }}?new_address=True">Add new</a>)</small>
            {% if address_edit %}
                <fieldset>
                    <legend>Change Address</legend>
                <form action="{{request.path}}?edit_address=True" method="POST">
                    {% csrf_token %}
                    <table>
                    {{ address_form.as_table}}
                    </table>
                    <input type="submit" value="Save" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel"  onclick="window.location='{{request.path}}'" class="fg-button ui-state-default ui-corner-all"/>
                </form>
                </fieldset>
            {% else %}
                <div class="span-12">
                </div>
                <div class="span-11 prepend-1 last">
                    {% for patient_address in pdoc.address %}
                            <div class="span-11">
                                {% if patient_address.description %}
                                <strong>{{ patient_address.description|title }}</strong> &nbsp;
                                    <small><a href="{{ request.path }}?edit_address=True&address_id={{ patient_address.address_id }}">Change</a></small> &nbsp;
                                    <small><a href="javascript:post_address_delete('{{patient.id }}', '{{ patient_address.address_id }}')">Remove</a></small><br>
                                {% endif %}
                                {{patient_address.street}} <br>{{patient_address.city}}, {{patient_address.state}} {{patient_address.postal_code}}<br>
                            </div>
                    {% endfor %}
                    </div>
            {% endif %}
            {# ######################## End address editing #################### #}
        </div>
        <div class="span-12 last">
            {# ####################### Phone Display/Edit ###################### #}
            <strong><span style="font-size:125%">Phone Contact</span></strong> <small>(<a href="{{ request.path }}?edit_phone=True">Add new</a>)</small>
            {% if phone_edit %}
            <div class="span-8">
                <fieldset>
                <legend>Add New Phone</legend>    
                <form action="{{request.path}}?edit_phone=True" method="POST">
                    {% csrf_token %}
                    <table>
                    {{ phone_form.as_table}}
                    </table>
                    <input type="submit" value="Save" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel"  onclick="window.location = '{{request.path}}'" class="fg-button ui-state-default ui-corner-all"/>
                </form>
                </fieldset>
            </div>
            {% endif %}

            {% for phone in pdoc.active_phones %}
                <div class="span-12">
                    <div class="span-3" align="right">
                        <strong>{{ phone.description|title }}</strong>
                    </div>
                    <div class="span-9 last">
                        <em>{{ phone.number }}</em>
                        <small>(<a href="javascript:post_phone_delete('{{patient.id }}', '{{ phone.phone_id }}')">Remove</a>)</small>
                    </div>
                </div>
            {% endfor %}
            {# ########################### End Phone Display/Edit ####################### #}
        </div>
    </div>
    <hr>

	<div class="span-24">
			{% if schedule_edit %}
                <strong><span style="font-size: 125%;"> Set Visit Schedule</span></strong>
                <form action="{{request.path}}?edit_schedule=True" method="POST">			
                    {% csrf_token %}
                    <table>
                    {{ schedule_form.as_table}}
                    </table>
                    <input type="submit" value="Save" class="fg-button ui-state-default ui-corner-all"/>
                    <input type="button" name="cancel" value="Cancel"  onclick="window.location = '{{request.path}}'" class="fg-button ui-state-default ui-corner-all"/>
                </form>
            {% else %}
                {% with pdoc as patient_doc %}
                {% include "pactcarehq/partials/dots_schedule_weekly_view.html" %}
                {% endwith %}

			{% endif %}
	</div>
    <div class="span-24">
    <hr>
    {% if submit_arr %}
    <h4>Recent Activity</h4>
    <table>
    <thead>
        <tr>
            <th class="span-4">Date</th>
            <th class="span-4">CHW</th>
            <th class="span-4">Form</th>
        </tr>
    </thead>
    {% for submission in submit_arr %}
        <tr>
            {% if submission.3 == "DOTS" %}
                {#ghetto hacky way to differentiate between the submission types#}
                <td> <a href="{% url show_dots_note submission.0 %}">{{ submission.1|date }}</a> </td>
            {% else %}
                <td> <a href="{% url show_progress_note submission.0 %}">{{ submission.1|date }}</a> </td>
            {% endif %}
            <td> {{ submission.2 }}</td>
            <td> {{ submission.3 }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <h4>No Recent Activity</h4>
    {% endif %}

    </div>
</div> {# container #}
{% endblock content %}
