{%  extends "base.html" %}
{% block content %}
<div class="container">
		<h2>Recent Activity</h2>

	<table>
	<thead>
		<tr>
        <th class="span-1">ID</th>
		<th class="span-4">Name</th>
		<th class="span-2">ARM</th>
		<th class="span-2">Primary HP</th>
		<th class="span-7">Last Activity</th>
	</thead>
	
	<tbody>
	{% for chw, patients in chw_patients_arr %}
        <tr>
            <td colspan="5"><div class="success">
                <h4>{{ chw }}'s Patients</h4></div>
            </td>
        </tr>

        {% for cpatient in patients %}
            <tr>
                <td><h4>{{cpatient.pact_id}}</h4></td>
                <td><h4><a href="{% url pactcarehq.views.patient_view cpatient.django_uuid %}">{{cpatient.last_name}}, {{cpatient.first_name}}</a></h4></td>
                <td>{{cpatient.arm}}</td>
                <td>{{cpatient.primary_hp}}</td>
                <td>
                    <strong>Total Submissions:</strong> {{ cpatient.activity_dashboard.count }}<br>
                    <strong>Last Encounter:</strong> {{ cpatient.activity_dashboard.encounter_date|date }} by {{ cpatient.activity_dashboard.chw_id }} {{ cpatient.activity_dashboard.last_form_type }}<br>
                    <strong>Last Bloodwork:</strong>
                    {% if cpatient.last_bloodwork %}
                        {{ cpatient.last_bloodwork.get_date|date }} <small>{{ cpatient.last_bloodwork.get_date|timesince }}</small>
                        {% if cpatient.last_bloodwork.is_overdue %}
                            <div class="error">
                                Bloodwork Overdue
                            </div>
                        {% endif %}
                    {% else %}
                        No bloodwork
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
	{% endfor %}
	</tbody>
	</table>
</div>
{% endblock content %}
