{% extends base_template %}
{% include render_json_tags %}
{% load patient_lookup %}
{% block content %}
<h2>Submission Readout for
    {% if patient %}
    <a href="{% url view_pactpatient patient.id %}">{{patient.couchdoc.last_name}}, {{patient.couchdoc.first_name}}</a></h2>
    {% endif %}
<table>
<thead>
    <tr>
        <th class="span-4">Date</th>
        <th class="span-5">CHW Scheduled</th>
        <th class="span-15">Visits</th>
    </tr>
</thead>
<tbody>
{%  for item_arr in date_arr %}
    <tr>
    {# array of [date, schedule_chw, submissions] #}
    <td>
        <strong>{{ item_arr.0|date:"D N j, Y" }}</strong>
    </td>
    <td>
        {% if item_arr.1 %}
            {% for scheduled_item in item_arr.1 %}
                {% if patient %}
                    {{ scheduled_item }}<br>
                {% else %}
                    {{ scheduled_item.full_name }}<br>
                {% endif %}
            {% endfor %}
        {% else %}
            <small><div class="quiet">-- Not scheduled --</div></small>
        {% endif %}
    </td>
    <td>
            {% for form_item in item_arr.2 %}
                <div class="span-15 last notice">
                    <strong>
                    {% if form_item.form.scheduled == "yes" %}
                        Scheduled
                    {% else %}
                        Unscheduled
                    {% endif %}
                    </strong>
                    ({{ form_item.form.visit_type|title }})
                    by {{ form_item.form.Meta.username }}
                    <a href="{% url show_dots_note form_item.get_id %}">View</a>

                </div>
            {% endfor %}

    </td>
    </div>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}
