{% extends base_template %}
{% include render_json_tags %}
{#{% block extrahead %}#}
{#<script type="text/javascript" charset="utf-8">#}
{#$(document).ready(#}
{#        function()#}
{#        {#}
{#			//placeholder for autorefresh, but turning off for now#}
{#            //var autoRefresh = setInterval(refreshNotification, 30000);#}
{#            jQuery("abbr.timeago").timeago();#}
{#        }#}
{#    );#}
{#</script>#}
{#{% endblock extrahead %}#}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}pactcarehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}pactcarehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#submits-table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>
{% endblock %}

{% block page_header %}
    <h2>Submissions by CHW</h2>
{% endblock %}

{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Submits by CHW</li>

    </ul>
{% endblock page_crumbs %}
{% block content %}
{%  for username, submit_arr in submit_dict.items %}
    <h3>{{ username }}'s Submissions <small>
    <a href="{% url pactcarehq.views.chw_calendar_submit_report username %}">Submission Schedule</a></small></h3>

    {% if submit_arr %}
    <table id="submits-table" class="tablesorter table table-striped">
    <thead>
        <tr>
            <th class="span3">Encounter Date</th>
            <th class="span1">ID</th>
            <th class="span2">Last Name</th>
            <th class="span2">First Name</th>
            <th class="span3">Form</th>

            <th class="span3">Started</th>
            <th class="span3">Finish Time</th>
            <th class="span3">Submit Time</th>
            <th class="span3">Submit Date</th>
        </tr>
    </thead>
    {% for submission in submit_arr %}
        <tr>
            <td> <a href="{% url show_submission submission.0 %}">{{ submission.1|date:"Y-m-d"}}</a> </td>
            <td> {{ submission.2.pact_id }}</td>
            <td> {{ submission.2.last_name }}</td>
            <td> {{ submission.2.first_name }}</td>
            <td> {{ submission.3 }}</td>

            <td> {{ submission.4|date:"Y-m-d H:i" }}</td> {# started date #}
            <td> {{ submission.5 }}</td> {# start-end interval #}
            <td> {{ submission.6 }}</td> {# end-submit interval #}
            <td> {{ submission.7|date:"Y-m-d H:i" }}</td> {# submitted date #}
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <div class="notice">No Submissions</div>
    {% endif %} {#if there are any submits at all #}

{% endfor %}
{% endblock %}
