{%  extends "base.html" %}
{% block content %}
<h3>CHW Submits Tally Report: {{interval}} days</h3>
<a href="{{ request.path }}?interval=1">Today</a> &nbsp;
    <a href="{{ request.path }}?interval={% now "w" %}">Week to date</a> &nbsp;
    <a href="{{ request.path }}?interval=7">7 days</a> &nbsp;
    <a href={{ request.path }}?interval={% now "j" %}>Month to date</a>
    <a href="{{ request.path }}?interval=30">30 days</a> &nbsp;
{% for namespace, user_dict in user_submissions.items %}
    <h4>
    {% if namespace == "http://dev.commcarehq.org/pact/dots_form" %}
    DOTS
    {% endif %}
    
    {% if namespace == "http://dev.commcarehq.org/pact/progress_note" %}
    Progress Notes
    {% endif %}
    
    </h4>
    <table>
    {%  for username, date_dict in user_dict.items %}
        {% if forloop.first %}
        <tr>
        <thead>
            <th>Username</th>
            {% for datestring in datestrings %}
                <th>{{ datestring }}</th>
            {% endfor %}
        </thead>
        {% endif %}
        </tr>
        <tr>
            <td>{{ username }}</td>
            {% for val in date_dict %}
                <td>{% if val > 0 %}
                        <span style="background: #e6efc2; color: #264409; border-color: #c6d880;"><strong>{{ val }}</strong></span>
                    {%  else %}
                        <small>{{ val }}</small>
                    {% endif %}

                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

{% endfor %}


{% endblock content %}
