{%  extends "base.html" %}
{% block content %}
<h3>User Submits Tally past {{interval}} days</h3>
{% for namespace, user_dict in user_submissions.items %}
    <h4>
    {% if namespace == "http://dev.commcarehq.org/pact/dots_form" %}
    DOTS
    {% endif %}
    
    {% if namespace == "http://dev.commcarehq.org/pact/progress_note" %}
    Progress Notes
    {% endif %}
    
    </h4>
    <table>
    {%  for username, date_dict in user_dict.items %}
        {% if forloop.first %}
        <tr>
        <thead>
            <th>Username</th>
            {% for datestring, val in date_dict.items %}
                <th>{{ datestring }}</th>
            {% endfor %}
        </thead>
        {% endif %}
        </tr>
        <tr>
            <td>{{ username }}</td>
            {% for datestring, val in date_dict.items %}
                <td>{% if val > 0 %}
                        <span style="background: #e6efc2; color: #264409; border-color: #c6d880;"><strong>{{ val }}</strong></span>
                    {%  else %}
                        <small>{{ val }}</small>
                    {% endif %}

                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

{% endfor %}


{% endblock content %}
