{% extends base_template %}
{% load xform_tags %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}couchforms/stylesheets/xforms.css" type="text/css">
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/djangocookie.js"></script>
    <script>
        function rm_dot(doc_id) {
            var answer = confirm("Are you sure you want to remove this DOT submission? This is an irreversible operation!");
            if (answer) {
                //call the url
                var remove_url = "{% url rm_pact_submission %}";
                var payload = {
                    'csrfmiddlewaretoken':getCookie("csrftoken"),
                    'doc_id':doc_id,
                };

                send_xhr = $.ajax({
                    "type":"POST",
                    "url":remove_url,
                    "data":payload,
                    "success":function (data, textStatus, jqXHR) {
                        console.log(data);
                        window.location = data;

                    },
                    "error":function (data) {
                        alert(data);
                        $('body').replaceWith(data.responseText);
                    }
                });
            }
        }
    </script>
{% endblock extrahead %}



{% block content %}
    <div class="span9">
        <div class="span9 last">
            <div class="span7">
                <h2>View {{ form_type }} Submission</h2>
            </div>
            <div class="span3 last">
                {% if form_type == "Bloodwork" %}
                    <a class="btn"
                       href="{% url webxforms.views.edit_xform_interaction xform.get_id %}?override=full">
                        <i class="icon-edit"></i>
                        Edit
                    </a>
                {% endif %}

                {% if form_type == "Progress Note" %}
                    <a class="btn" href="{% url webxforms.views.edit_xform_interaction xform.get_id %}?override=full">
                        <i class="icon-edit"></i>
                        Edit
                    </a>
                {% endif %}
                {% if form_type == "DOTS" %}
                    <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                       href="{% url webxforms.views.edit_xform_interaction xform.get_id %}?override=full">
                        <span class="ui-icon ui-icon-wrench"></span>
                        Edit
                    </a> &nbsp;
                    <a class="fg-button ui-state-default fg-button-icon-left ui-corner-all"
                       href="javascript:rm_dot('{{ xform.get_id }}')">
                        <span class="ui-icon ui-icon-circle-minus"></span>
                        Delete
                    </a>
                {% endif %}
            </div>
        </div>

        <div>{% render_form_data xform %}</div>

    </div>
    <div class="span7 last">
        <h3>Supplemental Memos</h3>
        {% if comments %}
            {% for comment in comments %}
                {{ comment.0.comment }} <br>
                <div class="offset1">
                    <small>by {{ comment.0.created_by }}
                        on {{ comment.0.created|date }} {{ comment.0.created|time }}</small>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        {% if form %}
            <form method="POST" action="{{request.path}}">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Write Memo"/>
                <input type="hidden" name="next" value="{{ request.path }}"/>
            </form>
        {% else %}
            <a href="{{ request.path }}?comment">Add Memo</a>
        {% endif %}
    </div>
{% endblock content %}
