{% extends base_template %}
{% load xform_tags %}
{% block extrahead %}
    <link rel="stylesheet" href="{{STATIC_URL}}couchforms/stylesheets/xforms.css" type="text/css">
{% endblock extrahead %}


{% block content %}
<div class="span-14">
<h2>View {{ form_type }} Submission</h2>
{% if form_type == "Bloodwork" %}
    <a href="{% url webxforms.views.edit_bloodwork xform.get_id %}">Edit</a>
{% endif %}

{% if form_type == "Progress Note" %}
    <a href="{% url webxforms.views.edit_progress_note xform.get_id %}">Edit</a>
{% endif %}

<div>{% render_form_data xform %}</div>

</div>
<div class="span-10 last">
<h3>Supplemental Memos</h3>
{% if comments %}
{% for comment in comments %}
    {{ comment.0.comment }} <br>
    <small> %nbsp; {{ comment.0.created_by }} on {{ comment.0.created|date }} {{ comment.0.created|time }}</small>
    <hr>
{% endfor %}
{% endif %}
{% if form %}
    <form method="POST" action="{{request.path}}">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Write Memo"/>
    <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
{%  else %}
<a href="{{ request.path }}?comment">Add Memo</a>
{% endif %}
</div>
{%  endblock content %}
