<script type="text/javascript"> 
            $(function(){                
                // Tabs
                $('#subtabs').tabs();                
                });
</script>
<div id="subtabs" class="span-23"> 
    <ul> 
        <li><a href="#subtabs-1">Active Cases</a></li>
        {% if request.is_provider %}        
        <li><a href="#subtabs-2">Resolved Cases</a></li> 
        <li><a href="#subtabs-3">Closed Cases</a></li>
        {% endif %}        
        <li><a href="#subtabs-4">All Cases</a></li>
        
    </ul>
    
    <div id="subtabs-1">        
		{% with active_columns as columns %}
        {% with careteam.active_cases as cases %}
        {% include "ashandapp/partials/patient_cases_qset.html" %}
        {% endwith %}                    
		{% endwith %}
    </div> 
    
    {% if request.is_provider %}
    <div id="subtabs-2">
    	{% with resolved_columns as columns %}        
        {% with careteam.resolved_cases as cases %}
        {% include "ashandapp/partials/patient_cases_qset.html" %}
        {% endwith %}   
		{% endwith %}                 
    </div> 
    <div id="subtabs-3">
    	{% with closed_columns as columns %}                
        {% with careteam.closed_cases as cases %}
        {% include "ashandapp/partials/patient_cases_qset.html" %}
        {% endwith %}                    
		{% endwith %}
    </div> 
    {% endif %}
    <div id="subtabs-4">
    	{% with all_columns as columns %}                
        {% with careteam.all_cases as cases %}
        {% include "ashandapp/partials/patient_cases_qset.html" %}
        {% endwith %}                    
		{% endwith %}
    </div> 
</div>