<script type="text/javascript"> 
            $(function(){                
                // Tabs
                $('#subtabs').tabs();                
                });
</script>
<div id="subtabs" class="span-23"> 
    <ul>			       	
	    <li>
	    	<a href="{{active_qset_url}}" title="{{active_title}}" rel="address:{{active_qset_url}}">{{active_title}}</a>        
	    </li>	       
		<li>
	    	<a href="{{resolved_qset_url}}" title="{{resolved_title}}" rel="address:{{resolved_qset_url}}">{{resolved_title}}</a>        
	    </li>
		<li>
	    	<a href="{{closed_qset_url}}" title="{{closed_title}}" rel="address:{{closed_qset_url}}">{{closed_title}}</a>        
	    </li>
		<li>
	    	<a href="{{all_qset_url}}" title="{{all_title}}" rel="address:{{all_qset_url}}">{{all_title}}</a>        
	    </li>        
    </ul>    
</div>