{% extends base_template %}
{% load i18n %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/profile_tab_ctrl.js"></script>
    <script>
        $(function () {
            $('.editctrl').each(function () {
                $(this).hide();
            });
        });
        function toggle_edit() {
            if ($("#edit_tgl_btn > span.edit_btn_txt").html() == "Edit Profile") {
                $('.editctrl').each(function () {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Done Editing");
            } else {
                $('.editctrl').each(function () {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Edit Profile");
            }
        }

    </script>
{% endblock extrahead %}
{% block page_header %}
    <h3>{{ actor_doc.first_name }} {{ actor_doc.last_name }}</h3>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            {% block actor_identity %}
                <img class="thumbnail pull-left" style="margin-right:8px; margin-bottom:8px;"
                     src="{{ STATIC_URL }}carehqapp/img/noun/noun_user_75.png" height="75">
                <div class="span6">
                    <table class="actor_details">
                        <tr>
                            <td class="span2">{% trans "Age" %}</td>
                            <td class="span3"> foo{{ actor_doc.age_string }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Sex" %}</td>
                            <td> bar{{ actor_doc.gender|title }}</td>
                        </tr>
                    </table>
                </div>
                <div class="span4">
                    Affiliation info?
                    <br>
                    Whatup
                </div>
            {% endblock actor_identity %}
        </div>
    </div>
    <!-- end actor_identity  -->
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
                {% block actor-tab-controller %}
                    <li><a href="#" name="info">{% trans "Info" %}</a></li>
                    <li><a href="#">{% trans "Care Network" %}</a></li>
                    <li><a href="#">{% trans "Issues" %}</a></li>
                {% endblock actor-tab-controller %}
            </ul>
            {% block actor-tab-container %}
                <div id="actor-info-tab" class="ui-tabs-hide">
                    Notes: {{ actor_doc.notes }}<br>
                    Last Modified: {{ actor_doc.date_modified|timesince }} ago
                </div>
                <div id="permissions-tab" class="ui-tabs-hide">
                    Permission info goes here!
                </div>
                <div id="messages-tab" class="ui-tabs-hide">
                    Message info goes here!
                </div>
                <div id="cases-tab" class="ui-tabs-hide">
                    Case info goes here
                </div>
                <div id="submissions-tab" class="ui-tabs-hide">
                    Submissions go here
                </div>
            {% endblock actor-tab-container %}
        </div>
        <!-- "actor-content-tabs" -->
    </div>
{% endblock content %}
