{% extends base_template %}
{% load i18n %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/js/profile_tab_ctrl.js"></script>
    <script>
        $(function() {
            $('.editctrl').each(function() {
                $(this).hide();
            });
        });
        function toggle_edit() {
            if ($("#edit_tgl_btn > span.edit_btn_txt").html() == "Edit Profile") {
                $('.editctrl').each(function() {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Done Editing");
            } else {
                $('.editctrl').each(function() {
                    $(this).toggle('drop', {}, 300);
                });
                $("#edit_tgl_btn > span.edit_btn_txt").html("Edit Profile");
            }
        }

    </script>
{% endblock extrahead %}
{% block content %}
    <div class="container">
        <div class="span-24">
            <div class="span-24"> <!-- actor hat -->
                {% block actor_hat %}
                    <div class="span-12">
                        <span class="ptpage_fn">{{actor_doc.first_name}} {{actor_doc.last_name}}</span>
                    </div>
                    <div class="span-12 last right pt_hat_actions_bar">
                        {% block hat_actions %}
                            <a id="edit_tgl_btn" class="fg-button ui-state-default fg-button-icon-left ui-corner-all" href="javascript:toggle_edit()">
                                <span class="ui-icon ui-icon-gear"></span>
                                <span class="edit_btn_txt">Edit Profile</span>
                            </a>
                        {% endblock hat_actions %}
                    </div>
                    <hr>
                {% endblock %}
            </div> <!-- end actor_hat hat -->
            <div class="span-4"> <!-- actor badge -->
                <dl>
                    {% block actor_badge %}
                        <dt>{% trans "Age" %}</dt>
                        <dd>{{actor_doc.age_string}}</dd>
                        <dt>{% trans "Sex" %}</dt>
                        <dd>{{actor_doc.gender|title }}</dd>
                    {% endblock actor_badge %}
                </dl>
            </div> <!-- end actor badge -->
            <div class="span-20 last">
                {% block actor-content-tabs %}
                    <div id="actor-tabs" class="tabs">
                        <ul>
                            {% block actor-tab-controller %}
                                <li><a href="#actor-info-tab" name="info">{% trans "Info" %}</a></li>
                                <li><a href="#permissions-tab">{% trans "Permissions" %}</a></li>
                                <li><a href="#submissions-tab">{% trans "Submissions" %}</a></li>
                            {% endblock actor-tab-controller %}
                        </ul>
                        {% block actor-tab-container %}
                            <div id="actor-info-tab"  class="ui-tabs-hide">
                                Notes: {{ actor_doc.notes }}<br>
                                Last Modified: {{ actor_doc.date_modified|timesince }} ago
                            </div>
                            <div id="permissions-tab" class="ui-tabs-hide">
                                Permission info goes here!
                            </div>
                            <div id="messages-tab" class="ui-tabs-hide">
                                Message info goes here!
                            </div>
                            <div id="cases-tab" class="ui-tabs-hide">
                                Case info goes here
                            </div>
                            <div id="submissions-tab" class="ui-tabs-hide">
                                Submissions go here
                            </div>
                        {% endblock actor-tab-container %}
                    </div>  <!-- "actor-content-tabs" -->
                {% endblock actor-content-tabs %}
            </div>
        </div>
    </div>
{% endblock content %}
