{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "New Issue" %}{% endblock %}
{% block extrahead %}
    <script>
        $(function() {
            $( "#id_due_date" ).datepicker( {
                        changeMonth: true,
                        mindate: "+0",

                    }
            );
        });
    </script>
{%endblock %}

{% block content %}
<div class="span12 prepend-top">
<h1>New Issue</h1>
<form action="" method="POST">
{% include "carehqapp/partials/inline_form.html" %}
<div class="error">
<strong>Note</strong>:  If this issue is an emergency or life threatening 
condition that needs immediate response, call 911 or visit to Emergency Room.  
This system is meant for long term communication and care management, not real-time critical alerts.	
</div>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}


