{% extends base_template %}
{% load shineforms_tags %}
{% load i18n %}
{% load patient_tags %}


{% block page_header %}
    <h1>Lab Data Collection</h1>
{% endblock %}

{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Lab Data Collection</li>
    </ul>
{% endblock page_crumbs %}

{% block content %}
    {% block extrahead %}
        <script type="text/javascript" src="{{STATIC_URL}}carehq/tablesorter/jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}carehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen"/> <script type="text/javascript" charset="utf-8">
            $().ready(function() {
                $("#patient-table").tablesorter({sortList: [
                    [0,0]
                ],widgets:['zebra']});
            });
        </script>
    {% endblock %}
    <div class="container">
        <table id="patient-table" class="tablesorter table table-striped table-bordered">
            <thead>
            <tr>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "Given Name" %}</th>
                <th>{% trans "Enrollment" %}</th>
                <th>{% trans "HIV Status" %}</th>
                <th>{% trans "Prophylaxis" %}</th>
                <th>{% trans "Malaria" %}</th>
                <th>{% trans "AFB Smear" %}</th>
                <th>{% trans "CXR" %}</th>
                <th>{% trans "WBC" %}</th>
                <th>{% trans "Hemogram/CBC" %}</th>
                <th>{% trans "LFT" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>

                    <td>
                        {% if patient.last_name %}
                            <a href="{% url shine_single_patient patient.get_id '' %}">{{ patient.last_name|title }}</a>
                        {% else %}
                            wtf
                        {% endif %}
                    </td>
                    <td>
                        {% if patient.first_name %}
                            <a href="{% url shine_single_patient patient.get_id '' %}">{{ patient.first_name|title }}</a>
                        {% endif %}
                    </td>
                    <td>{{ patient.enrollment_date|date:"Y-m-d" }}</td>
                    {% for tuple in patient.get_lab_data %}
{#                        <td>#}
{#                        {{ tuple.0 }}#}
{#                            {% if tuple.1 %}#}
{#                                {% for k, v in tuple.1.items %}#}
{#                                    {{ k }}: {{ v }}<br>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                {{ tuple.1 }}#}
{#                            {% endif %}#}
{#                        </td>#}
                        <td>
                            {% render_lab_tuple tuple %}

                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
