{%  extends base_template %}
{% load i18n %}
{% load patient_tags %}

{% block content %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}carehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#patient-table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>
{% endblock %}
<div class="container">
    <div class="span-24">
        <div class="span-6">
            <h2>Patient List</h2>
        </div>
        <div class="prepend-15 span-3 last">
            <a href="{{ create_patient_url }}">New Patient</a>
        </div>
    </div>
<hr>
    <table id="patient-table" class="tablesorter span-24 last">
    <thead>
        <tr>
            <th>{% trans "Surname" %}</th>
            <th>{% trans "Given Name" %}</th>
            <th>{% trans "Sex" %}</th>
            <th>{% trans "Age" %}</th>
            <th>{% trans "Enrolled" %}</th>
            <th>{% trans "HIV Tested" %}</th>
            <th>{% trans "CD4 Count" %}</th>
            <th>{% trans "Last Activity" %}</th>
            <th>{% trans "Current Status" %}</th>
        </tr>
    </thead>

        <tbody>
        {% for patient in patients %}
            <tr>

                <td>
                    {% if patient.last_name %}
                        {{ patient.last_name|title }}
                    {% else %}
                        wtf
                    {% endif %}
                </td>
                <td>
                    {% if patient.first_name %}
                        {{ patient.first_name|title }}
                    {% endif %}
                </td>
                <td>
                    {{ patient.gender|slice:":1"|title }}
                </td>
                <td>
                    {{ patient.age_int }}

                </td>
                <td>{{ patient.enrollment_date|date:"Y-m-d" }}</td>
                <td>
                    {{ patient.get_hiv_status|title }}
                </td>
                <td>
                    {{ patient.get_cd4_count }}
                </td>
                <td>
                    {{ patient.get_last_action|safe }}
                </td>
                <td>
                    {% if patient.get_current_status == "[Done]" %}
                        <img src="{{ STATIC_URL }}carehq/img/icons/check.jpg"> Completed
                    {% else %}
                        {{ patient.get_current_status }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
