{%  extends base_template %}
{% load i18n %}
{% load patient_tags %}
{% load shineforms_tags %}

{% block content %}
{% block extrahead %}
    <script type="text/javascript" src="{{STATIC_URL}}carehq/tablesorter/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}carehq/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" charset="utf-8">
        $().ready(function(){
            $("#patient-table").tablesorter({sortList: [[0,0]],widgets:['zebra']});
        });
    </script>
    <link rel="stylesheet" href="{{STATIC_URL}}shinecarehq/shinecarehq.css" type="text/css">
{% endblock %}
<div class="container">
    <div class="span12">
        <h2>Bacteremia Dashboard :: {{ show_string }}</h2>

        <div class="span4">
            <h3><a href="{{ request.path }}?show=all">All Patients</a></h3>
            <h3>{{ patients|length }}</h3>
        </div>
        <div class="span4">
            <h3><a href="{{ request.path }}?show=active">Active</a></h3>
            <h3>{{ active|length }}</h3>
        </div>
        <div class="span4">
            <h3><a href="{{ request.path }}?show=inactive">Inactive</a></h3>
            <h3>{{ inactive|length }}</h3>
        </div>
         <div class="span4 last">
             <h3><a href="{{ request.path }}?show=enrolled_today">Enrolled Today</a></h3>
            <h3>{{ enrolled_today|length }}</h3>
        </div>
        <hr>
        <div class="span4">
            <h3><a href="{{ request.path }}?show=positive">Positive</a></h3>
            <h3>{{ positive|length }}</h3>
        </div>

        <div class="span4">
            <h3><a href="{{ request.path }}?show=negative">Negative</a></h3>
            <h3>{{ negative|length }}</h3>
        </div>
        <div class="span4">
            <h3><a href="{{ request.path }}?show=contaminated">Contaminated</a></h3>
            <h3>{{ contaminated|length }}</h3>
        </div>
         <div class="span4 last">
             <h3><a href="{{ request.path }}?show=needing_fup">Needing Follow Up</a></h3>
            <h3>{{ only_enrolled|length }}</h3>
        </div>
    </div>
<hr>
    <div class="span12 offset15"><small>Total: {{ show_list|length }} rows</small></div>
    <table id="patient-table" class="tablesorter span12 last">
    <thead>
        <tr>
            <th>{% trans "Surname" %}</th>
            <th>{% trans "Given Name" %}</th>
            <th>{% trans "Sex" %}</th>
            <th>{% trans "Age" %}</th>
            <th>{% trans "Location" %}</th>
            <th>{% trans "Enrolled" %}</th>
            <th>{% trans "Last Action" %}</th>
            <th>{% trans "Last Date" %}</th>
            <th>{% trans "Current Status" %}</th>
        </tr>
    </thead>

        <tbody>
        {% for patient in show_list %}
            <tr>

                <td>
                    {% if patient.last_name %}
                        <a href="{% url shine_single_patient patient.get_id %}">{{ patient.last_name|title }}</a>
                    {% else %}
                        wtf
                    {% endif %}
                </td>
                <td>
                    {% if patient.first_name %}
                        <a href="{% url shine_single_patient patient.get_id %}">{{ patient.first_name|title }}</a>
                    {% endif %}
                </td>
                <td>
                    {{ patient.gender|slice:":1"|title }}
                </td>
                <td>
                    {{ patient.age_int }}
                </td>
                <td>
                    Ward {{ patient.get_current_ward }} Bed {{ patient.get_current_bed }}
                </td>
                <td>{{ patient.enrollment_date|date:"Y-m-d" }}</td>


                <td>
                    {{ patient.get_last_action.1 }}
                </td>
            <td>
                    {{ patient.get_last_action.0|date:"Y-m-d" }}
                </td>
                <td>
                    {% get_status_matrix patient %}
{#                    {% if patient.get_current_status == "[Done]" %}#}
{#                        <img src="{{ STATIC_URL }}carehq/img/icons/check.jpg"> Completed#}
{#                    {% else %}#}
{#                        {% if patient.get_current_status == "1/9" %}#}
{#                            <div class="error">Need Follow Up</div>#}
{#                        {% else %}#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="span12 offset15"><small>Total: {{ show_list|length }} rows</small></div>
</div>
{% endblock content %}
