{% extends "base.html" %}
{% block branding %}
    <div class="span1">
        <a title="Return to the Dashboard" href="/">
            [Logo Here]
        </a>
    </div>
{% endblock branding %}
{% block navigation_menu %}
    {% if user.is_authenticated %}
    <div id="menu" style="z-index:-1;">
     <ul>
        {% block nav_list %}
         <li>
             <span class="head_menu">
               <a href="{% url mepi_dashboard %}">Dashboard</a>
             </span>
         </li>
         <li>
             <span class="head_menu">
             <a href="">My Patients</a>
             </span>
         </li>


         <li>
             <span class="head_menu">
             <a href="#">Reports</a>
                 <img src="{{ STATIC_URL }}carehq/img/arrow.png" width="18" height="15" align="top" class="arrow"/>
             </span>
             <div class="sub_menu">
                 <a href="{% url recent_activity %}">Recent Activity</a>
                 <a href="{% url emergency_lab_dashboard %}">Emergency Lab Dashboard</a>
                 <a href="{% url clinical_dashboard %}">Clinical Progress</a>
                 <a href="{% url labs_dashboard %}">Lab Status</a>
                 <a href="{% url hiv_dashboard %}">CD4/HIV Status</a>
                 <a href="{% url csv_export_landing %}">CSV Export</a>
            </div>
         </li>

        {% endblock %}
     </ul>
    {% endif %} {# end autenticated if#}
</div>
{% endblock navigation_menu %}
