{% extends "base.html" %}

{% block branding %}
    <a class="brand" href="/">
        MEPI
    </a>
{% endblock branding %}
{% block navigation_menu %}
    {% if user.is_authenticated %}
        <li class="active"><a href="{% url mepi_dashboard %}">Dashboard</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Reports
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{% url recent_activity %}">Recent Activity</a></li>
                <li><a href="{% url emergency_lab_dashboard %}">Emergency Lab Dashboard</a></li>
                <li><a href="{% url clinical_dashboard %}">Clinical Progress</a></li>
                <li><a href="{% url labs_dashboard %}">Lab Status</a></li>
                <li><a href="{% url hiv_dashboard %}">CD4/HIV Status</a></li>
                <li><a href="{% url csv_export_landing %}">CSV Export</a></li>
            </ul>
        </li>
    {% endif %} {# end autenticated if#}
{% endblock navigation_menu %}
