
<div class="ui-widget-content" style="padding: 8px;margin-bottom:8px;">
<h4>{{ title }}</h4>
<form id="id_{{ form_name }}" action="{% url ajax_post_patient_form patient_guid form_name %}" class="uniForm" method="POST">
    {% csrf_token %}
    <table id="tbl_{{ form_name }}" class="table table-condensed">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save" class="btn" />
    <input type="button" name="cancel" value="Cancel" onclick="$(this).parent().parent().parent().hide('blind',{},300);$(this).parent().parent().parent().html('');"
           class="btn"/>
</form>
<script>
	$(function() {
		$( "#id_active_date" ).datepicker( {
                changeMonth: true,
                mindate: "+0",

            }
        );
	});
</script>
    

</div>
