{% extends base_template %}
{% load i18n %}
{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="{{ request.path }}">Account</a></li>
    </ul>
{% endblock page_crumbs %}
{% block page_header %}
    <h2>Your Account</h2>
{% endblock %}
{% block content %}
    <h3>Hello, {{ user.first_name }} {{ user.last_name }} <small>({{ user.username }})</small></h3>
    <a href="{% url auth_password_change %}">Change password</a> &nbsp; | &nbsp; <a href="{% url auth_password_reset %}">Reset password</a>
    <br>
    <br>

    {% if request.actors|length > 1 %}
    You have {{ request.actors|length }} actor profiles linked to your account.<br>

    <strong>Please choose which profile you'd like to switch to:</strong>
    <ol>
        {% for actor in request.actors %}
                <li>
                    {{ actor.actordoc.get_name }}
                    {% if actor == request.current_actor %}
                        <strong>Current</strong>
                    {% else %}
                        <a href="{% url set_current_actor actor.id %}">Switch</a>
                    {% endif %}
                </li>

        {% endfor %}
    </ol>

    {% else %}
        {% with request.current_actor as actor %}
            {% if actor %}
            {% include "account/actor_fragment.html" %}
            {% endif %}
        {% endwith %}

    {% endif %}

    <hr>
    <h2>Your Permissions</h2>
    <ul>
        {% for actor, permissions_dict in permissions.items %}
            <li><h3>As {{ actor.actordoc.get_name }}</h3>
                {% for role, subjects in permissions_dict.items %}
                    <strong>With role: {{ role.display }}</strong>
                    {% if subjects %}
                        <ul>
                        {% for subj in subjects %}
                        <li>{{ subj }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No Permissions
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>


{% endblock content %}