{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block extrahead %}
<script>
    var refreshNotification =
        function()
        {
            location.reload();
            fadeIn("slow");
        };

    $(document).ready(
        function()
        {
			//placeholder for autorefresh, but turning off for now
            //var autoRefresh = setInterval(refreshNotification, 30000);
            jQuery("abbr.timeago").timeago();
        }
    );
</script>
{% endblock %}
{% block content %}
    <div class="span-4 notice">
        <h3>CareHQ</h3>
        <p>My Cases (patient, provider)?</p>
        <p>My Care Page</p>
        <p>People I Care For</p>
        <p>My Patients</p>
        <p>Practice Management (admin)</p>
    </div>
{% endblock %}
