{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "New Question" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
{%endblock %}


{% block content %}
<div class="span12">
<h1> Ask a question</h1>
<br>
<form action="" method="POST">
{% include "carehqapp/partials/inline_form.html" %}
<input type="submit" value="Submit" />
</form>
</div>
<div class="span4 last">
	{% include "carehqapp/partials/patient_careteam_info_6.html" %}
</div>
{% endblock %}


