.ptpage_fn {
    font-size:1.5em;
}

.issue-body {
    font-size:1.5em;
}

.issue-event-notes {
    font-size:1.25em;
}
.careteam_name {
    font-size:1.25em;
}

.careteam_detail {
    font-size:.75em;
}

.errorlist {
    list-style-type: none;
}

.sat, .sun, .noday {
    background: #BEBEC5;
}
.future {
    background: #f5f5f5;
}

.actor_details {
    line-height: 17px;
}

.info_heading {
    text-align: right;
}
.info_item {
    text-align: right;
}


ul.errorlist {
    /*From twitter bootstrap's alert/errors*/

    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    /*background-color: #FCF8E3;*/
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-image: initial;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.commit-group-heading {
    /*margin: 15px 0 0 0;*/
    padding: 7px 14px;
    font-size: 1.25em;
    color: #3A505B;
    text-shadow: 0 1px rgba(255, 255, 255, 1.0);
    background: #E6F1F6;
    border: 1px solid #C5D5DD;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-image: initial;
}

.commit-group {
    padding: 7px 14px;
    list-style-type: none;
    margin: 0 0 15px 0;
    background: #F7FBFC;
    border: 1px solid #C5D5DD;
    border-top: none;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-image: initial;
}

.commit-group-item:nth-child(2n+1) {
    background: white;
}

.commit-group-item:first-child {
    border-top: none;
}

.commit-group-item {
    position: relative;
    padding: 8px 8px 8px 52px;
    border-top: 1px solid #E2EAEE;
}


