{% extends base_template %}
{% load i18n %}
{% load casetracker_tags %}
{% block title %}{% trans "All Cases" %}{% endblock title %}
{% block extrahead %}
<script>
    var refreshNotification =
        function()
        {
            location.reload();
            fadeIn("slow");
        };

    $(document).ready(
        function()
        {
			//placeholder for autorefresh, but turning off for now
            //var autoRefresh = setInterval(refreshNotification, 30000);
            jQuery("abbr.timeago").timeago();
        }
    );
</script>
{% endblock extrahead %}
{% block content %}
<h4>All Cases</h4>
<div class="ui-tabs span-24">
<table>
	<thead>
		<tr>
            <th>&nbsp;</th>
            {% for col in columns %}
			<th><a href="{{request.path}}?groupBy={{col}}">{{col|title}}</a></th>
            {% endfor %}
		</tr>
	</thead>
    <tbody>
    {% for case in cases %}
        <tr>
            <td>
                <a href="{% url manage-case case.id %}">View Case</a>
            </td>
            {% for col in columns %}
            <td>
                {% case_column case col %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
