{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "View Issue" %}{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/my_admin/jsi18n"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>	
	<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
	<link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/ashand-forms.css" type="text/css">
	{{form.media}}
{% endblock extrahead %} 
{% block content %}
<script type="text/javascript">
	$('#result').load('ajax/test.html');
</script>


<div class="span-24">	
	<div class="span-18"> {# the basic case info block is span 18 #}
		{% block issue_info %}
		{% include "casetracker/partials/case/basic_issue_info.html" %}
		{% endblock %}		
		<hr>
		{% if not show_form %}		
			{% block issue_actions %}
			{% include "casetracker/partials/case/default_actions_toolbar.html" %}
			{% endblock issue_actions %}
		{% endif %}
		{% if show_form %}
			{% include "casetracker/manage/inline_issue_edit.html" %}
		{% endif %}	
	
		<div class="span-18 prepend-top">	
		<hr>		
		{% block newsfeed-area %}
		<div id="casehistory">			
		</div>
		<script type="text/javascript">
  			$("#casehistory").load("{%url case-newsfeed case.id %}");
		</script>		
		{% include "casetracker/manage/comment.html" %}
		{% endblock newsfeed-area %}
		</div>		
	</div>	<!-- end case body and info container -->	
	<div class="span-6 last"> <!-- specialized category block -->
		<div class="span-6">						
		{% block caselink_area %}				
		{% endblock caselink_area %}
		</div>				
		<div class = "span-6">
		{% block issue_metadata %}
		{% comment %}
		<strong>Basic Metadata</strong>
		<ul>
			<li>{{case.category}}</li>
			<li>{{case.status}}</li>
			<li>{{case.last_issue_event}}</li>
		</ul>
		{% endcomment %}
		{% endblock %}		
		</div>					
	</div> <!-- end case link block -->
</div>	
{% endblock content %}
