{% extends "base.html" %}
{% block content %}
<h1>Submission Timeline</h1>
{%  for username, submit_arr in submit_dict.items %}
<h2>{{ username }}'s Submissions</h2>
<table>
<thead>
    <tr>
        <td>Date</td>
        <td>Patient</td>
        <td>Form</td>
    </tr>
</thead>
{% for submission in submit_arr %}
    <tr>
        <td> <a href="{% url show_progress_note submission.0 %}">{{ submission.1|date }}</a> </td>
        <td> {{ submission.2 }}</td>
        <td> {{ submission.3 }}</td>
    </tr>
{% endfor %}
</table>
{% endfor %}
{% endblock %}
