{% extends "base.html" %}
{% block content %}
<h2>View progress note</h2>
<h3>{{ patient_name }}</h3>
<strong>Visit date:</strong> {{ visit_date|date }}
{% for timetype, interval in times.items %}
    {{ timetype }} :: {{ interval }}<br>
{%  endfor %}


<h4>Discussions</h4>
{% for distype, value in discussions.items %}
    {{ distype }} :: {{ value }} <br>
{% endfor %}

<h4>Memo</h4>
{{ memo }}
<br>
{% if form %}
    <form method="POST" action="{{request.path}}">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Write Memo"/>
    <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
{%  else %}
<a href="{{ request.path }}?comment">Edit memo</a>
{% endif %}
{%  endblock %}
