{% extends "pactcarehq/pactpatient/pactpatient_base.html" %}
{% block patient-tab-container %}
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Care Plans
                    </li>
                    <li> Breast Cancer </li>
                    <li class="nav list active"> <a href="#">Side Effect Management</a> </li>
                    <li class="nav list"> Sensory </li>
                    <li class="nav list"> Toxicity </li>
                    <li> Diet </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <h2 id="section">Side Effects - Symptoms & Solutions</h2>

            <h3>Numbness & Tingling</h3>

            <P><STRONG>Other terms:</STRONG>&nbsp; peripheral neuropathy, numbness and tingling.</P>
            <P><STRONG>What is peripheral neuropathy <SPAN>and how is it related to chemotherapy</SPAN>?</STRONG></P>
            <P>The body's nervous system is divided into two major systems; the central nervous system and the peripheral nervous system.&nbsp; The peripheral nervous system is also divided into two major parts, the somatic nervous system and the autonomic nervous system.&nbsp;&nbsp; The somatic nervous system consists of peripheral nerve fibers that send sensory information to the central nervous system and motor nerve fibers that send signals to skeletal muscle.&nbsp; The autonomic nervous system controls smooth muscle of the viscera (internal organs) and glands. </P>
            <P>Peripheral neuropathy results from some type of damage to the peripheral nerves.&nbsp; Certain chemotherapy drugs can cause peripheral neuropathy such as vinca alkaloids (vincristine), cisplatin, paclitaxel, and the podophyllotoxins (etoposide and tenoposide). <BR>Other drugs used to treat cancer such as thalidomide and interferon also can cause peripheral neuropathy.</P>
            <P>Individuals at greatest risk of peripheral neuropathy associated with chemotherapy are those with preexisting peripheral neuropathy from conditions such as:</P>
            <UL>
                <LI>Diabetes
                <LI>Alcoholism
                <LI>Severe malnutrition
                <LI>Previous chemotherapy</LI></UL>
            <P><STRONG>Symptoms of peripheral neuropathy:</STRONG></P>
            <UL>
                <LI>Numbness, tingling (feeling of pins and needles) of hands and/or feet
                <LI>Burning of hands and/or feet
                <LI>Numbness around mouth
                <LI>Constipation
                <LI>Loss of sensation to touch
                <LI>Loss of positional sense (knowing where a body part is without looking).
                <LI>Weakness and leg cramping or any pain in hands and/or feet
                <LI>Difficulty picking things up or buttoning clothes</LI></UL>
            <P><STRONG>Areas affected by neuropathy:</STRONG></P>
            <UL>
                <LI>Fingers and toes (most common)
                    <UL>
                        <LI>This may move gradually upward in a stocking-glove type fashion.</LI></UL>
                <LI>Bowel.&nbsp;&nbsp;
                    <UL>
                        <LI>May cause or worsen constipation&nbsp;
                        <LI>May lead to conditions such as ileus (intestinal blockage).</LI></UL>
                <LI>Other; face, back, chest.</LI></UL>
            <P>Although some of the signs of neuropathy may appear suddenly, this change in sensation usually builds gradually and can worsen with each additional dose of chemotherapy.&nbsp; It is usually strongest right after a chemo treatment, but tends to lessen just before the next treatment.&nbsp; The symptoms usually peak about 3-5 months after the last dose of treatment is taken.&nbsp; The abnormal sensations may disappear completely, or lessen only partially; they may also involve less of the body.&nbsp; If neuropathy diminishes, it is a gradual process usually requiring several months.&nbsp; However, in some cases it may be irreversible and never diminish in intensity or the area of the body affected.</P>
            <P><STRONG>Things you can do (the patient) <SPAN>to minimize the effects of chemotherapy-based neuropathy</SPAN>:</STRONG></P>
            <P>Various techniques have been tried by patients and recommended by physicians to prevent, lessen the severity or <SPAN>treat <SPAN>chemotherapy side effects such as peripheral neuropathy</SPAN></SPAN>.&nbsp; There is no "one-size-fits-all" regimen that works for everyone.&nbsp; Much of the treatment is based on trial and error, and finding what combination of interventions works for the individual.&nbsp; </P>
            <UL>
                <LI>Report any unusual feeling you may have to your health care professional.&nbsp; Let them know if you are experiencing any of the above symptoms, so they can assess.
                <LI>Follow instructions regarding rest and delays in treatment.
                <LI>Be active in decisions regarding treatment versus quality of life.</LI></UL>
            <P><STRONG><EM>Protection and Safety <SPAN>against Peripheral Neuropathy</SPAN>:</EM></STRONG></P>
            <UL>
                <LI>Protect areas where sensation is decreased (example; do not walk around without foot wear). Wear thick socks and soft soled shoes.
                <LI>Extreme temperature changes may worsen symptoms.&nbsp;&nbsp;
                <LI>Wear warm clothing in cold weather.&nbsp; Protect feet and hands from extreme cold.&nbsp;&nbsp;
                <LI>Use care when washing dishes or taking a bath or shower do not let the water get too hot.
                <LI>Use potholders when cooking.
                <LI>Use gloves when washing dishes, gardening.
                <LI>Inspect skin for cuts, abrasions, burns daily, especially arms, legs, toes and fingers. </LI></UL>
            <P><STRONG><EM>Simple Comfort Measures:</EM></STRONG></P>
            <UL>
                <LI>Massage
                <LI>Flexible splints
                <LI>Lotions and creams</LI></UL>
            <P><STRONG><EM>Measures to relieve constipation <SPAN>induced by neuropathy</SPAN>:</EM></STRONG></P>
            <UL>
                <LI>Eat foods high in fiber like fruits (pears, prunes), cereals, and vegetables.
                <LI>Drink two to three liters of non-alcoholic fluids (water, juices) each day; unless you are told otherwise by your doctor.&nbsp;&nbsp;
                <LI>Exercise twenty to thirty minutes most days of the week, as tolerated, and if okay with your doctor.&nbsp; A lot of patients find that walking for exercise is convenient and easy to do.
                <LI>If you have been prescribed a "bowel regimen," make sure you follow it exactly.</LI></UL>
            <P><STRONG>Other <SPAN>tips <SPAN>to combat or minimize chemo-based neuropathy</SPAN></SPAN>:</STRONG></P>
            <UL>
                <LI>Some patients have found techniques such as deep breathing, relaxation and guided imagery helpful particularly to help with pain associated with neuropathy.</LI></UL>
            <P><BR><STRONG>Drugs/treatment changes or therapies that may be prescribed by your doctor:</STRONG></P>
            <UL>
                <LI>Chemotherapy treatments may need to be interrupted or the dose adjusted to prevent worsening of this side effect.
                <LI>Use of vitamins particularly those in the B-complex family.</LI></UL>
            <P><STRONG>Control of neuropathic pain:</STRONG></P>
            <UL>
                <LI>Pain relievers (analgesics)
                <LI>Antidepressant (such as amitriptyline)
                <LI>Antiseizure medications (such as gabapentin)</LI></UL>
            <P><STRONG>Therapies:</STRONG></P>
            <UL>
                <LI>Physical therapy may help with strengthening of muscles that are weak.&nbsp; Usual exercises are range of motion, stretching and massage.&nbsp; Also can recommend assistive devices such as orthotic braces, canes, and appropriate splints.
                <LI>Occupational therapy may also be of help with assistive devices for activities of daily living.
                <LI>Therapies such as biofeedback, acupuncture, or transcutaneous nerve stimulation (TENS) may also be recommended/prescribed in severe cases.</LI></UL>
            <P><STRONG>When to call your doctor or health care professional:</STRONG></P>
            <UL>
                <LI>Notify your health care professional if you are experiencing the above symptoms.
                <LI>Unrelieved pain.
                <LI>Constipation despite laxative use.&nbsp; </LI></UL><B>
            <P>Note:</B> We strongly encourage you to talk with your health care professional about your specific medical condition and treatments. The information contained in this website is meant to be helpful and educational, but is not a substitute for medical advice.</P>
            <small>Source: <a href="http://www.chemocare.com/managing/numbness__tingling.asp">http://www.chemocare.com/managing/numbness__tingling.asp</a></small>

        </div>
    </div>
{% endblock %}