{% extends "pactcarehq/pactpatient/pactpatient_base.html" %}
{% load xform_tags %}
{% load i18n %}
{% block extrahead %}
    {{ block.super }}
    <script>
        $(document).ready(
                function () {
                    //$("#tbl_issues").tablesorter({ sortList:[ [0, 0] ], });
                    $("#tbl_issues").tablesorter();
                    $("abbr.timeago").timeago();
                }
        );</script>

{% endblock extrahead %}
{% block patient-tab-container %}
    {% include "pactcarehq/partials/dots_schedule_weekly_view.html" %}
    <div id="scheduleform"></div>
{#    <div style="float:right;" class="editctrl">#}
        <div style="float:right;">
        <a class="btn" href="javascript:ajax_get_form('{% url ajax_patient_form_get %}', '{{ patient_doc.get_id }}','schedule', 'scheduleform');">
            <i class="icon-plus"></i> Add Schedule
        </a>
    </div>
{% endblock %}