<table class="table">
    <tr>
        <th class="span2">Address</th>
        <td>Address</td>
        <th class="span2">Occupation</th>
        <td> Farmer, Carpenter, Cook </td>
        <th class="span2">Language</th>
        <td>Language (portugese, etc)</td>
    </tr>
    <tr>
        <th class="span2">Married</th>
        <td>Yes/No</td>
        <th class="span2">Household Number</th>
        <td>Some number</td>
        <th class="span2">Number of Children</th>
        <td>Some number</td>
    </tr>
    <tr>
        <th class="span2">Animals</th>
        <td>Pig, Chicken, Cow, etc</td>
        <th class="span2">Running Water</th>
        <td>Yes/No</td>
        <th>Food Questions</th>
        <td>TODO</td>
    </tr>
    <tr>
        <th colspan=6>Notes</th>
        <td colspan=6></td>
    </tr>
</table>