{% extends "pactcarehq/pactpatient/pactpatient_base.html" %}
{% block extrahead %}
    <script>
        $(document).ready(
                function () {
                    //$("#tbl_issues").tablesorter({ sortList:[ [0, 0] ], });
                    $("#tbl_issues").tablesorter();
                    $("abbr.timeago").timeago();
                }
        );</script>

{% endblock extrahead %}
{% block patient-tab-container %}
    {% if submit_arr %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="span3">Date</th>
                <th class="span3">CHW</th>
                <th class="span3">Form</th>
                <th></th>
            </tr>
            </thead>
            {% for submission in submit_arr %}
                <tr>
                    <td><a href="{% url show_submission submission.0 %}">{{ submission.1|date }}</a></td>
                    <td> {{ submission.2 }}</td>
                    <td> {{ submission.3 }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>No Recent Activity</h4>
    {% endif %}
{% endblock %}