{% load i18n %}
<div class="nav">
    <ul>
        {% if case.is_active or case.is_new %}
        <li><a href="{% url edit-case case.id %}?action=assign">Assign</a></li>
        <li><a href="{% url edit-case case.id %}?action=edit">Edit</a></li>        
        <li><a href="{% url resolve-case case.id %}">Resolve</a></li>
        {% endif %}
        
        {% if case.is_resolved %}        
        <li><a href="{% url close-case case.id %}">Close</a></li>
        {% endif %}
        
        {% if case.is_closed %}
        <li><a href="#">Reopen</a></li>
        {% endif %}
    </ul>
</div>