{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "Casetracker Reference" %}{% endblock title %}
{% block extrahead %}

{% endblock extrahead %}
{% block content %}
    <h2>Issuetracker reference datatables</h2>
    <div class="ui-tabs span12">
    </div>

    <div class="row">
        <div class="span-one-third">
            <h2>Users</h2>
            <ul>
                {% for user in users %}
                    <li>
                        {{ user.id }} :: {{ user.username }}
                        <ul>
                            {% for actor in user.actors.all %}
                                <li class="offset1">
                                    {{ actor.actordoc.get_name }} :: <a
                                        href="{% url issuetracker.views.actor_issues actor.id %}">Issues</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="span-one-third">
            <h2>Patients</h2>
            <ul>
                {% for patient in patients %}
                    <li>
                        {{ patient }} <a href="{% url issuetracker.views.patient_issues patient.id %}">Patient Cases</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
            <div class="span-one-third">
            <h2>Filters <small><a href="#">New Filter</a></small></h2>
            <ul>
                {% for filter in filters %}
                    <li>
                        {{ filter.description }} <a href="#">View Filter</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock content %}
