{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "CareHQ :: Issue" %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}carehqapp/css/ashand-forms.css" type="text/css">
    {{ form.media }}

    <script>
        $(function () {
            $("#id_due_date").datepicker({
                        changeMonth:true,
                        minDate:"-0"
                    }
            );
        });
    </script>
{% endblock extrahead %}

{% block page_crumbs %}
                <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li><a href="{% url issue_home %}">Issues</a> <span class="divider">/</span></li>
                <li class="active">{{ issue.description }}</li>
            </ul>
{% endblock page_crumbs %}
{% block page_header %}
        <h2>{{ issue.description }}</h2>
{% endblock %}
{% block content %}
    <div class="span12">
        <div class="span12"> {# the basic issue info block is span 24 #}
            {% block issue_info %}
                {% include "issuetracker/partials/issue/base_issue_info.html" %}
            {% endblock %}

            <div class="span12 prepend-top">
                {% block newsfeed-area %}
                    <div class="row">
                        {% for event in issue.issue_events.all %}
                            <div class="span12">
                                <h3 class="commit-group-heading"> {{ event.created_by.actordoc.get_name }}</h3>
                                <div class="row commit-group">
                                    {{ event.get_activity_display }}
                                        <a href="{% url view_actor event.created_by.id %}">{{ event.created_by.actordoc.get_name }}</a>
                                {{ event.created_date|timesince }}
                                    {{ event.notes }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $("#issuehistory").load("{%url issue-newsfeed issue.id %}");
                    </script>

                    <div class="span12">
                        {% block issue_actions %}
                                <ul class="tabs">
                                    {#		{% for activity in case.status.transitional_actions %}#}
                                    {#			<li>#}
                                    {#				<a href="{% url manage-case case.id %}?activity={{activity.slug}}">{{activity.active_tense.title}}</a>#}
                                    {#			</li>			#}
                                    {#		{% endfor %}#}
                                    <li class="{% if activity == "event-comment" %}active{% endif %}">
                                        <a href="{% url manage-issue issue.id %}?activity=event-comment">Update</a>
                                    </li>
                                    <li class="{% if activity == "event-edit" %}active{% endif %}">
                                        <a href="{% url manage-issue issue.id %}?activity=event-edit">Edit</a></li>
                                    <li class="{% if activity == "event-assign" %}active{% endif %}">
                                        <a href="{% url manage-issue issue.id %}?activity=event-assign">Assign</a>
                                    </li>
                                    {% if not issue.resolved_date %}
                                        <li class="{% if activity == "event-resolve" %}active{% endif %}">
                                            <a href="{% url manage-issue issue.id %}?activity=event-resolve">Resolve</a>
                                        </li>
                                    {% else %}
                                        {% if not issue.closed_date %}
                                            <li class="{% if activity == "event-close" %}active{% endif %}">
                                                <a href="{% url manage-issue issue.id %}?activity=event-close">Close</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                {% include "issuetracker/manage/inline_issue_edit.html" %}
                        {% endblock issue_actions %}
                    </div>
                {% endblock newsfeed-area %}
            </div>
        </div>
        <!-- end issue body and info container -->
        <div class="span4 last"> <!-- specialized category block -->
            <div class="span4">
                {% block issuelink_area %}
                {% endblock issuelink_area %}
            </div>
            <div class="span4">
                {% block issue_metadata %}
                {% endblock %}
            </div>
        </div>
        <!-- end case link block -->
    </div>
{% endblock content %}
