{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "View Issue" %}{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="/my_admin/jsi24n"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/ashand-forms.css" type="text/css">
    {{ form.media }}
{% endblock extrahead %}
{% block content %}
    <script type="text/javascript">
        $('#result').load('ajax/test.html');
    </script>


    <div class="span-24">
        <div class="span-24"> {# the basic issue info block is span 24 #}
            {% block issue_info %}
                {% include "issuetracker/partials/issue/base_issue_info.html" %}
            {% endblock %}

            <div class="span-24 prepend-top">
                <hr>
                {% block newsfeed-area %}
                    <div class="span-24">
                            {% for event in issue.issue_events.all %}
                                <div class="span-24 {% cycle 'odd' 'even' %}">
                                    <strong>{{event.get_activity_display }}</strong> by <a href="{% url view_actor event.created_by.id %}">{{event.created_by.actordoc.get_name }}</a> - <small> {{ event.created_date|timesince }}</small>
                                    <div>{{event.notes}}</div>
                                </div>
                            {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $("#issuehistory").load("{%url issue-newsfeed issue.id %}");
                    </script>

                    <div class="span-24">
                            {% block issue_actions %}
                                <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                        {#		{% for activity in case.status.transitional_actions %}#}
                                        {#			<li>#}
                                        {#				<a href="{% url manage-case case.id %}?activity={{activity.slug}}">{{activity.active_tense.title}}</a>#}
                                        {#			</li>			#}
                                        {#		{% endfor %}#}
                                        <li class="ui-state-default ui-corner-top  {% if activity == "event-comment" %}ui-state-active ui-tabs-selected{% endif %}"><a
                                                href="{% url manage-issue issue.id %}?activity=event-comment">Update</a>
                                        </li>
                                        <li class="ui-state-default ui-corner-top {% if activity == "event-edit" %}ui-state-active ui-tabs-selected{% endif %}"><a
                                                href="{% url manage-issue issue.id %}?activity=event-edit">Edit</a></li>
                                        <li class="ui-state-default ui-corner-top {% if activity == "event-assign" %}ui-state-active ui-tabs-selected{% endif %}"><a
                                                href="{% url manage-issue issue.id %}?activity=event-assign">Assign</a>
                                        </li>
                                        {% if not issue.resolved_date %}
                                            <li class="ui-state-default ui-corner-top {% if activity == "event-resolve" %}ui-state-active ui-tabs-selected{% endif %}"><a
                                                    href="{% url manage-issue issue.id %}?activity=event-resolve">Resolve</a>
                                            </li>
                                        {% else %}
                                            {% if not issue.closed_date %}
                                                <li class="ui-state-default ui-corner-top {% if activity == "event-close" %}ui-state-active ui-tabs-selected{% endif %}">
                                                    <a href="{% url manage-issue issue.id %}?activity=event-close">Close</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    {% include "issuetracker/manage/inline_issue_edit.html" %}

                                </div>
                            {% endblock issue_actions %}
                    </div>
                {% endblock newsfeed-area %}
            </div>
        </div>
        <!-- end issue body and info container -->
        <div class="span-6 last"> <!-- specialized category block -->
            <div class="span-6">
                {% block issuelink_area %}
                {% endblock issuelink_area %}
            </div>
            <div class="span-6">
                {% block issue_metadata %}
                {% endblock %}
            </div>
        </div>
        <!-- end case link block -->
    </div>
{% endblock content %}
