{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "View Issue" %}{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/my_admin/jsi18n"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>	
	<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
	<link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/ashand-forms.css" type="text/css">
	{{form.media}}
{% endblock extrahead %} 
{% block content %}
<script type="text/javascript">
	$('#result').load('ajax/test.html');
</script>


<div class="span-24">	
	<div class="span-18"> {# the basic issue info block is span 18 #}
		{% block issue_info %}
		{% include "issuetracker/partials/issue/base_issue_info.html" %}
		{% endblock %}		
		<hr>
		{% if not show_form %}		
			{% block issue_actions %}
			{% include "issuetracker/partials/issue/default_actions_toolbar.html" %}
			{% endblock issue_actions %}
		{% endif %}
		{% if show_form %}
			{% include "issuetracker/manage/inline_issue_edit.html" %}
		{% endif %}	
	
		<div class="span-18 prepend-top">	
		<hr>		
		{% block newsfeed-area %}
		<div id="issueehistory">
            <ul>
            {% for evt in issue.issue_events.all %}
                <li>
                    {{ evt.notes }} :: {{ evt.activity }}<br>
                    {{ evt.created_date }} :: {{ evt.created_by }}
                    <hr>
                </li>
            {% endfor %}
            </ul>
		</div>
		<script type="text/javascript">
  			$("#issuehistory").load("{%url issue-newsfeed issue.id %}");
		</script>		
		{% include "issuetracker/manage/comment.html" %}
		{% endblock newsfeed-area %}
		</div>		
	</div>	<!-- end issue body and info container -->
	<div class="span-6 last"> <!-- specialized category block -->
		<div class="span-6">						
		{% block issuelink_area %}
		{% endblock issuelink_area %}
		</div>				
		<div class = "span-6">
		{% block issue_metadata %}
		{% comment %}
		<strong>Basic Metadata</strong>
		<ul>
			<li>{{case.category}}</li>
			<li>{{case.status}}</li>
			<li>{{case.last_issue_event}}</li>
		</ul>
		{% endcomment %}
		{% endblock %}		
		</div>					
	</div> <!-- end case link block -->
</div>	
{% endblock content %}
