{# Simple table for recent activities.  Adds patient column for providers #}

{% load carehq_tags %}
{% if submissions %}
    <table class="table table-bordered table-striped" id="tbl_issues">
        <thead>
        <tr>
            {% if request.current_actor.is_provider %}
                <th class="span3">Patient</th>
            {% endif %}
            <th class="span2">Session</th>
            <th class="span3">Session Date</th>
            <th class="span5">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for submit in submissions %}
            <tr>
                {% if request.current_actor.is_provider %}
                    <td>
                        <a href="{{ submit.get_patient_doc.get_absolute_url }}">
                        {{ submit.get_patient_doc.last_name }}, {{ submit.get_patient_doc.first_name }}
                        </a>
                    </td>
                {% endif %}
                <td> <a href="{% url view_ccd submit.get_id %}">Health Session</a> </td>
{#                <td> {% get_timeago issue.last_event.created_date %} </td>#}
                <td> {{ submit.get_session_time|date }} </td>
                <td> {% if submit.is_threshold %}
                    Threshold!<br>
                    <ul>
                    {% for issue in submit.get_issues %}
                        <li><a href="{% url manage-issue issue.id %}">View Issue</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    OK
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    No Issues
{% endif %}