{% load i18n %}
<div class="span-24 last">
	<fieldset>
	<div class="span-2 border">
	   <!-- <img src="{{MEDIA_URL}}carehqapp/img/noprofile_photo.png"> -->
	</div>
	<div class="span-18 prepend-1">
	<h2>{{user.first_name}} {{user.last_name}}</h2>
	<table>
	<tr>
		<td><strong>{% trans "Email" %}</strong></td><td>{{user.email }}</td>
		<td><strong>{% trans "Member Since" %}</strong></td><td>{{user.date_joined|date }}</td>
	</table>
	</div>
	<div class="span-2 last">
	{% ifequal request.user user %}
		<p class="span-2 quiet">(this is you)</p>
	{% else %}
	   &nbsp;
	{% endifequal %}	
	</div>
	</fieldset>
</div>
