{% load i18n %}
<div class="mepi_status_matrix">
    <div class="row-fluid">
        <div class="mepi_half">
                <div class="mepi_{{ enrollment }}">{% trans "Enrollment" %}</div>
        </div>
        <div class="mepi_half">
                <div class="mepi_{{ clinical_info }}"> {% trans "Clin. Info" %} </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="mepi_quarter">
        {% if lab_hiv.hiv_test == 'yes' %}
            <div class="mepi_completed">
            {% trans "LHIV" %}
            </div>
        {% else %}
            <div class="mepi_missing">
            {% trans "LHIV" %}
            </div>
        {% endif %}
        </div>
        <div class="mepi_quarter">
            {% if lab_malaria.rapid != "" or lab_malaria.mal_smear != '' %}
                <div class="mepi_completed">
                    {% trans "LM" %}
                </div>
            {% else %}
                <div class="mepi_missing">
                    {% trans "LM" %}
                </div>
            {% endif %}
        </div>

        <div class="mepi_quarter">
            <div class="mepi_{{ lab__afb_smear }}"> {% trans "LAFB" %} </div>
        </div>

        <div class="mepi_quarter">
            {% if lab_xray  %}
                <div class="mepi_completed">  {% trans "LCXR" %} </div>
            {% else %}
                <div class="mepi_missing">  {% trans "LCXR" %} </div>
            {% endif %}
            </div>
        </div> {# end row #}
            <div class="row-fluid">
                <div class="mepi_third">
                    {% if lab_bloodwbc.blood_neutrophils or lab_bloodwbc.blood_lymphocytes %}
                        <div class="mepi_completed"> {% trans "LWBC" %} </div>
                    {% else %}
                        <div class="mepi_missing"> {% trans "LWBC" %} </div>
                    {% endif %}
                </div>
                <div class="mepi_third">
                    {% if lab_hemogram.blood_na %}
                        <div class="mepi_completed"> {% trans "LCBC" %} </div>
                    {% else %}
                        <div class="mepi_missing"> {% trans "LCBC" %} </div>
                    {% endif %}
                </div>
                <div class="mepi_third">
                    {% if lab_lft %}
                        <div class="mepi_completed"> {% trans "LLFT" %} </div>
                    {% else %}
                        <div class="mepi_missing"> {% trans "LLFT" %} </div>
                    {% endif %}
                </div>
            </div> {# endrow #}
            <div class="row-fluid">
                <div class="mepi_quarter">
                    {% if emergency_lab %}
                        <div class="mepi_completed">
                            {% if is_positive %}
                                <strong>{% trans "E +" %}</strong>
                            {% else %}
                                <strong>{% trans "E -" %}</strong>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="mepi_missing">
                            {% trans "E" %}
                        </div>
                    {% endif %}
                </div>
            {# conditionals for remaining 3/4s of row #}
                                    {% if not emergency_lab %}
                                        <div class="mepi_quarter">
                                            <div class="mepi_missing">{% trans "Bio" %}</div>
                                        </div>
                                        <div class="mepi_quarter">
                                            <div class="mepi_missing">{% trans "Spe" %}</div>
                                        </div>
                                        <div class="mepi_quarter">
                                            <div class="mepi_missing">{% trans "Sen" %}</div>
                                        </div>
                                    {% else %}
                                        {% if emergency_lab and not is_positive %}
                                            {# if there's a negative emergency lab, then all the other labs can go dark #}
                                            <div class="mepi_quarter">
                                                <div class="mepi_omit">{% trans "Bio" %}</div>
                                            </div>
                                            <div class="mepi_quarter">
                                                <div class="mepi_omit">{% trans "Spe" %}</div>
                                            </div>
                                            <div class="mepi_quarter">
                                                <div class="mepi_omit">{% trans "Sen" %}</div>
                                            </div>
                                        {% endif %}

                                        {% if emergency_lab and is_positive %}
                                            <div class="mepi_quarter">
                                                <div class="mepi_{{ biochemical }}">{% trans "Bio" %} </div>
                                            </div>

                                            <div class="mepi_quarter">
                                                <div class="mepi_{{ speciation }}"> {% trans "Spe" %} </div>
                                            </div>

                                            <div class="mepi_quarter">
                                                <div class="mepi_{{ sensitivity }}"> {% trans "Sen" %} </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                    <div class="row-fluid">
                                        <div class="smepi_quarter">
                                                <div class="mepi_{{ outcome }}"> {% trans "Outcome" %} </div>
                                        </div>
                                    </div>


</div>
