{% extends base_template %}
{% load i18n %}
{% block title %}Password Reset{% endblock %}
{% block page_crumbs %}
{% endblock page_crumbs %}
{% block page_header %}
    <h2>{% trans 'Password Reset' %}</h2>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="well span5 offset2">
            <h2>Change Password</h2>

            <p>Forgot your password?
                Type your email address below to reset your password.</p>

            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
