<ul>
	<li><a href="" onclick="return false"><strong>Shared Filters</strong></a></li>
{% for filter in shared_filters %}
<li><a href="{% url my_dashboard %}?filter={{filter.id}}" class="ui-state-default ui-corner-all">{{filter.description}}</a></li>
{% endfor %}

{% if user_filters %}
<li><a href="" onclick="return false"><strong>My Filters</strong></a></li>
{% for filter in user_filters %}
<li><a href="{% url my_dashboard %}?filter={{filter.id}}" class="ui-state-default ui-corner-all">{{filter.description}}</a></li>
{% endfor %}
{% endif %}
</ul>