<div id="filterMenu" style="outline-width" class="ui-dialog ui-widget-content ui-corner-all">
	<p>Manage filters</p>
	<hr>
	{% if shared_filters %}
	<strong>Shared Filters</strong>	
	{% for filter in shared_filters %}
	<a href="{% url my_dashboard %}?filter={{filter.id}}" class="ui-state-default ui-corner-all">{{filter.description}}</a>
	{% endfor %}
	<hr>
	{% endif%}
	
	{% if user_filters %}
	<strong>My Filters</strong>	
	{% for filter in user_filters %}
	<a href="{% url my_dashboard %}?filter={{filter.id}}" class="ui-state-default ui-corner-all">{{filter.description}}</a>	{% endfor %}
	{% endif %}
	<p>Customize filter</p>
</div>