{% load case_tags %}
<div class="span-18">
{% if not formatting %}
	{% for event in events %}				
		<div class = "span-17">	
			<div>{{event.notes}}</div>
			<div class="prepend-1">
				<small>
				{% if case %}
				{{event.activity.phrasing|capfirst}} by
				<a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.get_full_name}}</a>
				{% time_interval event.created_date %}.
				{% else %}
				<a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.get_full_name}}</a> 
				{{event.activity.phrasing}} this {{event.activity.category|lower}}: 
					<a href="{% url casetracker.views.view_case event.case.id %}"> {{event.case.description|truncatewords:10}}</a> 
						on {{event.created_date|date}} {{event.created_date|time}}
				{% endif %}
				</small> 
			</div>
			<hr>						
		</div>		
		
	{% endfor %}
{% else %}
	{% for key, value in events.items %}
	<div class="span-18">
		<h4><b>{{key|safe}}</b></h4>
		{% for event in value%}
		<div class="span-17">
				<div>{{event.notes}}</div>
				<div class="prepend-1">
				<small>
				{% if case %}
				{{event.activity.phrasing|capfirst}} by
				<a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.get_full_name}}</a>
				{% time_interval event.created_date %}.
				{% else %}
				<a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.get_full_name}}</a> 
				{{event.activity.phrasing}} this {{event.activity.category|lower}}: 
					<a href="{% url casetracker.views.view_case event.case.id %}"> {{event.case.description|truncatewords:10}}</a> 
						on {{event.created_date|date}} {{event.created_date|time}}
				{% endif %}
				</small>
				</div>
			<hr> 		
		</div>
		{% endfor %}		
	</div>	
	{% endfor %}
{% endif %}

</div>