.mepi_status_matrix {
    /*background:  #d3d3d3;*/
    width:240px;
}

.mepi_missing {
    /*background:#FBB4AE;*/
    background-color: #b94a48;
}
.mepi_completed {
    /*background:#CCEBC5;*/
    background-color: #468847;
}

.mepi_omit {
    background:#d3d3d3;
}

div.mepi_missing, div.mepi_completed, div.mepi_omit {
    /*border-radius:4px;*/
    /*padding:4px;*/
    margin-left: 4px;
    margin-top:4px;


    padding: 2px 4px 3px;
    font-size: 11.049999999999999px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /*background-color: #999999;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}


.mepi_last {
    margin-right:4px;
}

.mepi_quarter {
    width: 25%;
}
.mepi_third {
    width: 33%;
}

.mepi_full {
    width:100%;
}

.mepi_half {
    width:50%;
}

.mepi_fifth {
    width:20%;
}

div.mepi_quarter, div.mepi_third, div.mepi_full, div.mepi_half {

    float:left;
}
