{% extends "base.html" %}
{% load i18n %}
{% load patient_tags %}

{% block title %}{% trans "View Case" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}casetracker/casemanagement.js"></script>
{% endblock %}
 
{% block content %}
<div class="span-24"> <!-- top container -->	
	<div class="span-18">	
	{% include "casetracker/partials/case/basic_case_info.html" %}	
	<hr>
	<div class="span-6 prepend-12">
			{% if case.is_active or case.is_new %}
	        <a href="{% url edit-case case.id %}?action=assign" class="fg-button ui-state-default ui-corner-all">Assign</a>
	        <a href="{% url edit-case case.id %}?action=edit" class="fg-button ui-state-default ui-corner-all">Edit</a>        
	        <a href="{% url resolve-case case.id %}" class="fg-button ui-state-default ui-corner-all">Answer</a>
	        {% endif %}
	        
	        {% if case.is_resolved %}        
	        <a href="{% url close-case case.id %}" class="fg-button ui-state-default ui-corner-all">Close</a>
	        {% endif %}
	        
	        {% if case.is_closed %}
	        <a href="#" class="fg-button ui-state-default ui-corner-all">Reopen</a>
	        {% endif %}
	</div>
	<div class="span-18">	
	{% include "casetracker/partials/newsfeed.html" %}
	</div>
	</div>	
	
	
	<div class="span-6 last"> <!-- specialized category block -->
		<h3>Question Info</h3>
		{% patient_for_case case %}
	</div> <!-- end case link block -->
</div> <!-- end top container -->
{% endblock %}
