{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "View Case" %}{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/my_admin/jsi18n"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>	
	<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
	<link rel="stylesheet" href="{{STATIC_URL}}ashandapp/css/ashand-forms.css" type="text/css">
{{form.media}}	

{% endblock extrahead %} 
{% block content %}

<div class="span-24">
	{% for column in filter.gridreference.get_display_columns %}
	
	{% endfor %}
		
</div>	
{% endblock content %}
