{% load uni_form_tags %}
{# for phone and address info and other external info #}
<div style="padding: 8px;margin-bottom:8px;">
    <div class="commit-group-heading">
        <h4>{{ title }}</h4>
    </div>
    <div class="commit-group">
        <form id="id_{{ form_name }}" action="{% url ajax_post_patient_form patient_guid form_name %}" method="POST">
            {% csrf_token %}
            <table id="tbl_{{ form_name }}">
                {#    {% uni_form form form.helper %} doesn't seem to want to honor that table id there. #}
                {{ form.as_p }}
            </table>
            <input type="submit" value="Save" class="btn"/>
            <input type="button" name="cancel" value="Cancel"
                   onclick="$(this).parent().parent().parent().hide('blind',{},300);$(this).parent().parent().parent().html('');"
                   class="btn"/>
        </form>
        <script>
            $(function () {
                $("#id_mass_health_expiration").datepicker({
                            changeMonth:true,
                            changeYear:true,
                        }
                );
                $("#id_birthdate").datepicker({
                            changeMonth:true,
                            changeYear:true,
                            maxDate:"+0M +0D +0Y",
                            yearRange:"-100:+0"
                        }
                );
                $("#id_checkin_time").timePicker();
            });

        </script>
    </div>
</div>
