{% load filter_tags %}

<table class="span-24">
<tr>
<th>Patient</th>
{% for col in filter.gridpreference.display_columns.all %}
<th>

{% pretty_column col.name %}

</th>
{%endfor %}
</tr>
{% for issue in filter.get_filter_queryset %}
	<tr>
	<td><a href="{% url view-careteam issue.careteam_set.get.id %}">{{issue.careteam_set.get.patient.user.last_name}}, {{issue.careteam_set.get.patient.user.first_name}}</a></td>
	{% for col in gridpreference.display_columns.all %}
		<td><a href="{% url manage-issue issue.id %}">{% issue_column_plain issue col.name %}</a></td>
	{%endfor %}
	</tr>
{% endfor %}
</table>