{% extends "patient/new_patient.html" %}
{% load uni_form_tags %}
{% block extrahead %}
    {{ block.super }}
    <script>
	$(function() {
		$( "#id_mass_health_expiration" ).datepicker( {
                changeMonth: true,
                changeYear: true,
            }
        );
	});
</script>
{% endblock %}
{#override the stuff to use uni_forms#}

{% block page_crumbs %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/patients/all">Patients</a> <span class="divider">/</span></li>
        <li class="active">New Patient</li>
    </ul>
{% endblock page_crumbs %}
{% block page_header %}
    <h2>Enroll New Patient</h2>
{% endblock page_header %}
{% block content %}
<div class="container">
      <form action="" method="POST" class="uniForm">
       {% csrf_token %}
       <table>
       {% uni_form patient_form patient_form.helper %}
       </table>
       <input type="submit" value="Submit" class="btn"/>
       <input type="button" name="cancel" value="Cancel"  onclick="window.location='{{request.path}}'" class="btn"/>
   </form>
</div>
{% endblock content %}
