<div class="span-22">
<fieldset>
<legend>{{careteam.patient}}</legend>
<div class="span-22">
	<p>Name: {{careteam.patient.first_name}} {{careteam.patient.last_name}}</p>
	<p>DOB: {{careteam.patient_obj.dob|date}} Sex: {{careteam.patient_obj.sex}} UUID: {{careteam.patient_obj.uuid}}</p>
</div>

<div class="span-10 prepend-1">
	<h3>Providers</h3>
	<ul>
	{% for prov in careteam.providers.all %}
		<li>			
			<a href="{%url ashandapp.views.users.single prov.user.id %}">
			{{prov.user.first_name }}  {{prov.user.last_name }}</a><br>
			<em>{{prov.job_title }} with {{prov.affiliation }}</em> <br>
		</li>
	{% endfor %}
	</ul>
</div>

<div class="span-10 last">
	<h3>Caregivers</h3>
	
	{% if careteam.caregiver_data %}
	<ul>
	{% for cglink in careteam.caregiver_data %}
		<li>
			<a href="{%url ashandapp.views.users.single cglink.user.id %}">
			{{cglink.user.first_name }}  {{cglink.user.last_name }}</a><br>
			<em>{{cglink.relationship }}</em> 
		</li>
	{% endfor %}
	</ul>
	{%else %}
	<em>No Caregivers</em>
	{%endif %}
	
	
</div>
</fieldset>
</div>