{% load filter_tags %}

<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery-1.4.1.min.js"></script>

<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table_jui.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/datatable.dateformat.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	$('.{{grid_name}}').dataTable( {
		"bJQueryUI": true,
		"bProcessing": '<img src="{{MEDIA_URL}}ashandapp/img/ajax-loader.gif">',
		"iDisplayLength": 25,
		{% if colsort_array %}
			{% autoescape off %}
			"aaSorting": {{ colsort_array }},
			{% endautoescape %}
		{% endif %}
		
		{% if json_qset_url %}
		  "sAjaxSource": "{{json_qset_url}}",
		{% else %}
		  "sAjaxSource": "{% url cases-for-obj-json obj_type obj.id %}",
		{% endif %}		
		
		"sPaginationType": "two_button",
		"bAutoWidth": false,
		"aoColumns" : {%autoescape off %}{{column_stype_json}}{%endautoescape%},
		"oLanguage": {
		      	     "sZeroRecords": "No Records Found"
		      	   	 },
	    "fnInitComplete": function ( oSettings ) {
		      	     oSettings.oLanguage.sZeroRecords = "No matching records found"
		      	     }
		} );	
	} );
	</script>

<table class="{{grid_name}}">
	<thead>
		<tr>		
			{% for col in columns %}
				<th>{% pretty_column col %}</th>
			{%endfor %}
		</tr>
	</thead>
</table>

