body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

#tophat {
	background:none repeat scroll 0 0 #062854;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	width:100%;
}
#tophat a {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}
#tophat > #breadcrumbs {
	font-family:Arial,Helvetica,sans-serif;
	padding-left:8px;
	float:left;
}
#tophat > #breadcrumbs .crumb {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}
#tophat > #breadcrumbs .active {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
}
#tophat > #searchbar {
	text-align:right;
}

#tophat > #identityblock {
	text-align:right;
	padding-right:8px;
}

.pt_hat_actions_bar {
    text-align:right;
}

#SO style menus #hmenus {
	float:left;
	padding:34px 0 20px 5px;
	width:705px;
}

.ptpage_fn {
    font-size:2em;
}

.careteam_name {
    font-size:1.25em;
}

.careteam_detail {
    font-size:.75em;
}
nav {
	float:left;
	font-size:125%;
}
.nav ul {
	margin:0;
}
.nav li {
	background:none repeat scroll 0 0 #777777;
	display:block;
	float:left;
	margin-right:7px;
}
.nav .youarehere {
	background:none repeat scroll 0 0 #FF9900;
}
.youarehere a {
	color:#FFFFFF;
}
.nav li:hover {
	background-color:#FF9900;
}
.nav a {
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#ptSetMenu {
	z-index:7;
}
#ptQuestionMenu {
	z-index:7;
}
#filterMenu {
	z-index:7;
}



/* JQueryUI components */

.fg-button {
	cursor:pointer;
	margin:0 4px 0 0;
	outline:0 none;
	padding:0.4em 1em;
	position:relative;
	text-align:center;
	text-decoration:none !important;
}
.fg-button .ui-icon {
	left:50%;
	margin-left:-8px;
	margin-top:-8px;
	position:absolute;
	top:50%;
}
a.fg-button {
	float:left;
}
button.fg-button {
	overflow:visible;
	width:auto;
}
.fg-button-icon-left {
	padding-left:2.1em;
}
.fg-button-icon-right {
	padding-right:2.1em;
}
.fg-button-icon-left .ui-icon {
	left:0.2em;
	margin-left:0;
	right:auto;
}
.fg-button-icon-right .ui-icon {
	left:auto;
	margin-left:0;
	right:0.2em;
}
.fg-button-icon-solo {
	display:block;
	text-indent:-9999px;
	width:8px;
}
.fg-buttonset {
	float:left;
}
.fg-buttonset .fg-button {
	float:left;
}
.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button {
	margin-right:-1px;
}
.fg-toolbar {
	margin:0;
	padding:0.5em;
}
.fg-toolbar .fg-buttonset {
	margin-right:1.5em;
	padding-left:1px;
}
.fg-toolbar .fg-button {
	font-size:1em;
}


/* django base.css modifications */

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background-position: bottom left !important;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url(../img/admin/arrow-down.gif) right .4em no-repeat;
}

table thead th.descending a {
    background: url(../img/admin/arrow-up.gif) right .4em no-repeat;
}

/* ORDERABLE TABLES */

table.orderable tbody tr td:hover {
    cursor: move;
}

table.orderable tbody tr td:first-child {
    padding-left: 14px;
    background-image: url(../img/admin/nav-bg-grabber.gif);
    background-repeat: repeat-y;
}

table.orderable-initalized .order-cell, body>tr>td.order-cell {
    display: none;
}

/* FORM DEFAULTS */

input, textarea, select {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url(../img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../img/admin/nav-bg-reverse.gif);
    background-position: top;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/admin/default-bg-reverse.gif);
    background-position: top;
}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x;
    color: white;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat;
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}
