<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% load casefilter_tags %}
{% load ashand_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %} :: CareHQ{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        {% block stylesheets %}        
	        
			<!-- stylesheets -->
	        <link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/blueprint/screen.css" type="text/css" media="screen, projection">
	        <link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/blueprint/print.css" type="text/css" media="print">
	        <!--[if lt IE 8]>
	        <link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/blueprint/ie.css" type="text/css" media="screen, projection">
	        <![endif]-->

	        <link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/ashand.css" type="text/css">                   
            <link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/jquery-ui-1.8.custom.css" type="text/css">	   
			<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/flickr-menu-style.css" type="text/css">     
	        {% block page_stylesheets %}{% endblock %}        
        {% endblock %} {# stylesheets #}
        
        <!-- javascripts (global, app, page) -->
        <script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery-1.4.2.min.js"></script>        
		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery-ui-1.8.custom.min.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.address-1.1.min.js"></script>
		
{#		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/pmenu/jquery.ui.potato.menu.js"></script>#}
{#		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}ashandapp/pmenu/jquery.ui.potato.menu.css">#}
				
		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.flickrmenu.js"></script>				
        <script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/careteam.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.cookie.yc.js"></script>		
		<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.timeago.js"></script>		
		
        {% block extrahead %}{% endblock %}
    </head>
    <body>    	
		{% block tophat %}      		
  		<div id="tophat">		    	
			{% block searchbar %}
			{% comment %}
			<div id="searchbar">
			<form method="POST" action="{{request.path}}?activity=issue-event-comment" >
				<textarea id="id_comment" rows="1" cols="36" name="comment"></textarea>						
				<input type="hidden" name="next" value="{{ request.path }}" />
				</form>
			</div>
			{% endcomment %}
			{% endblock searchbar %}
			{% block auth %}
			<div id="identityblock">
				{% if user.is_superuser %}
				<a href="/admin">Admin</a> | <a href="{% url new_provider%}">New Provider</a>
				{% endif %}
				
		        {% if user.is_authenticated %}
		            <strong>{{ user.first_name }} {{user.last_name}}</strong>&nbsp; <a href="{%url my_profile %}">{%trans "My Account" %}</a>&nbsp;|&nbsp;<a href="/accounts/logout/">{% trans "Log out" %} </a>
		        {% else %}
		            {#<a href="/accounts/login/">{% trans "Log in" %}</a>#}
		        {% endif %}		        
        	</div>
        	{% endblock auth %}
    	</div>	     			
	    {% endblock tophat %}
	     
		<div class="container">
      		<div class="span-24"> <!-- Header div -->
				{% block branding %}
				<div class="span-2">                    
					<a title="Return to the Dashboard" href="/">
					<img src="{{MEDIA_URL}}ashandapp/img/dimagilogo.png">
					</a>                    
				</div>
				{% endblock branding %}              
				      	
				{% block navigation_menu %}
				<div class="span-22 last">
					{% if user.is_authenticated %}										
					{% navigation_menu %}						
					{% endif %}
				</div>
				{% endblock navigation_menu %}					
				
				<div id="breadcrumbs" class="span-24">
					{% block breadcrumbs %}
					{#<span class="crumb">Put &#62; Crumbs &#62; </span>#}
					{#<span class="active">Here</span>#} 
					{% endblock breadcrumbs %}
				</div>
			</div> <!-- end header class -->            
	
            {% if USE_I18N %}
                <div id="language" class="span-8 prepend-16">
                    <form action="/i18n/setlang/" method="post" style="float:right">
                        <select name="language">
	                        {% for lang in LANGUAGES %}
	                          <option value="{{ lang.0 }}" 
	                          {% ifequal LANGUAGE_CODE lang.0 %}selected{% endifequal %}>
	                          {{ lang.1 }}
	                          </option>
	                        {% endfor %}
                        </select>
                    	<input type="submit" class="small" value="Submit"/>
                    </form>
             	</div>
            {% endif %}
            
            <div class="span-24">
            {% block content %}
			{% endblock %}
            </div>
            
            {% block footer %}
            <div id="footer span-24">
                <p class="rights prepend-19">
                    Copyright &copy; {% now "Y" %} <a href="http://dimagi.com">Dimagi Inc.</a><br />                   
                </p>
                
                {#<a href="javascript:void($('.container').toggleClass('showgrid'));">Toggle BP Grid</a>#}
                
            </div>
            {% endblock %}            
        </div>
      </div>
    </body>
</html>
