{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript"> 
			$(function(){				
				// Tabs
				$('#tabs').tabs();
				});
</script> 
{% endblock %}
{% block content %}
<h2> Home :: My Case Views</h2>
{% comment %}
<p>Last login: {{profile.last_login|date}}</p>
<p>Last login from: {{profile.last_login_from}}</p>
{% endcomment %}
<div id="tabs" class="ui-tabs span-24"> 
	<ul>	   
		
	   {% for tabid, tab_title, columns, json_qset_url in user_grids %}	       	
	       <li>
	           <a href="{{json_qset_url}}" title="{{tab_title}}" rel="address:{{json_qset_url}}">{{tab_title}}</a>        
	       </li>	       
	   {% endfor %}	
	{% for filter in shared_filters %}
		<li>
			<a href="{% url my_dashboard_tab %}?filter={{filter.id}}" title="{{filter.description}}" rel="address:{% url my_dashboard_tab %}?filter={{filter.id}}">{{filter.description}}</a>
		</li>
	{% endfor %}	
	</ul>
</div>
{% endblock %}
