{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block extrahead %}

{% endblock %}

{% block content %}
<h1> Dashboard for {{request.user}}</h1>
<p>Last login: {{profile.last_login|date}}</p>
<p>Last login from: {{profile.last_login_from}}</p>

{% if care_teams %}
<h2>Patients under {{request.user}}'s care</h2>
<ul>
{% for team in care_teams %}
	<li> <a href="{%url ashandapp.views.view_user team.patient.id%}"> {{team.patient}}</a></li>
{% endfor %}
</ul>
{%endif%}
{{request.provider.uuid}}
<br>
{{request.nonlazyprovider.uuid}}

{{request.is_patient}}
{{request.patient}}

{% endblock %}
