{% load filter_tags %}

<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.datatables.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_page.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table_jui.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.datatables.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	$('.example{{display_filter.id}}').dataTable( {
		"bProcessing": true,
		"sAjaxSource": "{% url json_string %}",
		"sPaginationType": "full_numbers",

	} );
} );
</script>


{% with display_filter as filter %}
<table class="example{{display_filter.id}}">
	<thead>
		<tr>
			<th>Patient</th>
			{% for col in filter.gridpreference.display_columns.all %}
				<th>{% pretty_column col.name %}</th>
			{%endfor %}
		</tr>
	</thead>
{% comment %}
	<tbody>
	{% if sorted_display %}
		{% for case in sorted_display %}
			<tr>
				<td><a href="{% url view-careteam case.careteam_set.get.id %}">{{case.careteam_set.get.patient.first_name}} {{case.careteam_set.get.patient.last_name}}</a></td>
				{% for col in filter.gridpreference.display_columns.all %}
					<td><a href="{% url view-case case.id %}">{% case_column case col.name %}</a></td>
				{%endfor %}
			</tr>
		{% endfor %}
	{% else %}	
		{% for case in filter.get_filter_queryset %}
			<tr>
				<td><a href="{% url view-careteam case.careteam_set.get.id %}">{{case.careteam_set.get.patient.first_name}} {{case.careteam_set.get.patient.last_name}}</a></td>
				{% for col in filter.gridpreference.display_columns.all %}
				<td><a href="{% url view-case case.id %}">{% case_column case col.name %}</a></td>
		{%endfor %}
		</tr>
		{% endfor %}
	{%endif%}
	</tbody>
{% endcomment %}	

</table>
$_POST['iDisplayLength']
{% endwith %}

