{% load filter_tags %}
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/demo_table_jui.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery.dataTables.min.js"></script>

{% with display_filter as filter %}
<script type="text/javascript">
$(document).ready(function() {
	$('.example{{display_filter.id}}').dataTable( {
		"bJQueryUI": true,
		"bProcessing": true,
		"sAjaxSource": "{% url json_string %}",
		"sPaginationType": "two_button",
		"bAutoWidth": false
	} );
} );

</script>


<table class="example{{display_filter.id}}">
	<thead>
		<tr>
			<th>Patient</th>
			{% for col in filter.gridpreference.display_columns.all %}
				<th>{% pretty_column col.name %}</th>
			{%endfor %}
		</tr>
	</thead>


</table>
{% endwith %}

