{% extends "base.html" %}
{% load i18n %}
{% load patient_tags %}
{% block title %}Provider View{% endblock %}
{% block extrahead %}

{% endblock %}

{% block content %}
{% with selected_user as user %}
	{% include "ashandapp/partials/user_profile_basic.html" %}
{% endwith %}

{% if selected_is_provider %}
	{% with selected_provider as provider %}
	<div class="span-24">
		{% include "ashandapp/partials/user_profile_provider.html" %}
	</div>
	{%endwith%}
<hr>	
	{% if common_careteams %}
	<div class="span-24">
		<h3>{% trans "Shared Patients" %} ({{common_careteams|length}})</h3>
		{% for careteam in common_careteams %}
			{% include "ashandapp/partials/inline_careteam.html" %}
		{% endfor %}	
	</div>
	{% endif %}
{% endif %}


{%comment %}
<div class="span-20">
<h2>Cases</h2>
{#{% include "casetracker/partials/cases_ul.html" %}#}
{% include "ashandapp/partials/patient_cases_table.html" %}
</div>
<div class="span-4 last">
<h2>Patients</h2>
<ul>
{% for team in careteams %}
	<li> <a href="{%url ashandapp.views.users.single team.patient.user.id%}"> {{team.patient}}</a></li>
{% endfor %}
</ul>
</div>
{%endcomment %}

{% endblock %}
