{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Care Team View" %} {% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{{MEDIA_URL}}ashandapp/css/jquery-ui-1.7.2.custom.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}ashandapp/js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript"> 
			$(function(){				
				// Tabs
				$('#tabs').tabs();
				});
</script> 
{% endblock %}

{% block content %}

 
<div id="tabs" class="span-24"> 
	<ul> 
		<li><a href="#tabs-1">Care Team</a></li> 
		<li><a href="#tabs-2">Cases</a></li> 
		<li><a href="#tabs-3">Care Plan</a></li> 
		<li><a href="{% url show-cases-ajax careteam.id%}">Ajax Cases</a></li>
	</ul> 
	<div id="tabs-1">
		{% include "ashandapp/partials/inline_careteam.html" %}
		<h2>Actions</h2>
		<ul>
		<li><a href="{%url ashandapp.views.cases.question.new_question careteam.id %}">New Question</a></li>
		<li><a href="{%url ashandapp.views.cases.issue.new_issue careteam.id %}">New Issue</a></li>
		</ul>
	</div> 
	<div id="tabs-2">		
		<h2>Active Cases</h2>
		{% include "ashandapp/partials/active_case.html" %}			
	</div> 
	<div id="tabs-3">
		{{careplan}}
	</div>




{% endblock %}
