{% extends "base.html" %}
{% load i18n %}
{% load djblets_deco %}
{% block title %}{%trans "Patient View"%}{% endblock %}
{% block extrahead %}
{% include "casetracker/partials/datagrid_media.html" %}
{% endblock %}

{% block content %}
<h1> Patient info for {{selected_user}}</h1>
<a href="{% url ashandapp.views.view_careteam careteam.id %}">Go to care team</a>

<h2>Info</h2>
<p>Name: {{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</p>
<p>DOB: {{patient.dob|date}}</p>
<p>Sex: {{patient.sex}}</p>
<p>UUID: {{patient.uuid}}</p>

{% include "casetracker/partials/datagrid.html" %}


{% endblock %}
