{% extends "base.html" %}
{% load i18n %}
{% load djblets_deco %}
{% block title %}{%trans "Patient View"%}{% endblock %}
{% block extrahead %}
{% endblock %}

{% block content %}
<h1> Patient info for {{selected_user}}</h1>
<a href="{% url ashandapp.views.careteam.single careteam.id %}">Go to care team</a>

<h2>Info</h2>
<p>Name: {{patient.user.first_name}} {{patient.user.middle_name}} {{patient.user.last_name}}</p>
<p>DOB: {{patient.dob|date}}</p>
<p>Sex: {{patient.sex}}</p>
<p>UUID: {{patient.uuid}}</p><br>
(sort by <a href="{% url ashandapp.views.users.single patient.user.id "person"%}">person</a>, <a href="{% url ashandapp.views.users.single patient.user.id "activity"%}">activity</a>, <a href="{% url ashandapp.views.users.single patient.user.id "person"%}">category</a>, <a href="{% url ashandapp.views.users.single patient.user.id%}">none</a>)<br>
<h2>Recent Events</h2>
<ul>
{% for event in recent_events %}
<li><a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.username}}</a> {{event.activity.name}} 
<a href="{% url casetracker.views.view_case event.case.id %}">Case {{event.case.id}}</a> on {{event.created_date|date}} {{event.created_date|time}}</li> 
{%endfor %}
</ul>
<h2>Newsfeed</h2> 
{% for event in recent_events %}
<fieldset class="span-22">
<a href="{% url ashandapp.views.users.single event.created_by.id %}">{{event.created_by.get_full_name}}</a> {{event.activity.phrasing}} this <a href="{% url casetracker.views.view_case event.case.id %}">{{event.activity.category}} {{event.case.id}}</a> <br>
<i>{{event.notes}}</i><br>
{{event.created_date|date}} {{event.created_date|time}}
</fieldset>
{%endfor %}
{% endblock %}
