{% extends "base.html" %}
{% load i18n %}
{% load patient_tags %}
{% block title %}Provider View{% endblock %}
{% block extrahead %}
{% include "casetracker/partials/datagrid_media.html" %}
{% endblock %}

{% block content %}
<h1> Provider {{selected_user}}</h1>
<ul>
{% for prov in providers %}
<li> {{prov.user.first_name }}  {{prov.user.last_name }}<br>
	{{prov.job_title }} :: {{prov.affiliation }} </li>
{%endfor %}
</ul>

<div class="span-20">
<h2>Cases</h2>
{#{% include "casetracker/partials/cases_ul.html" %}#}
{% include "ashandapp/partials/patient_cases_table.html" %}
</div>
<div class="span-4 last">
<h2>Patients</h2>
<ul>
{% for team in careteams %}
	<li> <a href="{%url ashandapp.views.users.single team.patient.id%}"> {{team.patient}}</a></li>
{% endfor %}
</ul>
</div>


{% endblock %}
