{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Care Team View" %} {% endblock %}
{% block extrahead %}

{% endblock %}

{% block content %}

<div class="span-24">
<h2>Care Team</h2>
{%with current_careteam as careteam %}
{% include "ashandapp/partials/inline_careteam.html" %}
{%endwith%}
</div>


<h2>Actions</h2>
<ul>
<li><a href="{%url ashandapp.views.cases.question.new_question current_careteam.id %}">New Question</a></li>
<li><a href="{%url ashandapp.views.cases.issue.new_issue current_careteam.id %}">New Issue</a></li>
</ul>
<div class="span-19">
<h2>Active Cases</h2>
{% include "ashandapp/partials/active_case.html" %}
</div>
{% endblock %}
